<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<template>
		<style>
			p {
				color: red
			}
		</style>
		<p>paragraph</p>
	</template>
	<jynx-p>
		<div>testing</div>
	</jynx-p>
	<script>
		class JynxP extends HTMLElement {

			constructor() {

				super();

				const template = document.querySelector( "template" );
				const shadowRoot = this.attachShadow( { mode: "open" } ).appendChild( template.content.cloneNode( true ) );

				this.jynx = "jynx";

			}

		}

		customElements.define( "jynx-p", JynxP );

		const dom = document.querySelector( "jynx-p" );

		console.log( dom.jynx );
	</script>
</body>

</html>