<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babel 7</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#cf75e614-6192-4893-ac21-311d9b73d3df">简介</a></p>
        <p data-level="1"><a href="#97324ef7-f62f-4b76-9bcc-729b7d988c4c">版本</a></p>
        <p data-level="1"><a href="#c02bf17e-d60d-4fcd-bf3d-aec82d6a95ff">最佳实践</a></p>
        <p data-level="1"><a href="#c9fe565e-c0af-457a-9361-0719819d6a72">如何转译语法</a></p>
        <p data-level="1"><a href="#20ded8a4-fb79-4535-b4bb-0e3f6281fb0e">如何填补接口</a></p>
        <p data-level="1"><a href="#eaadb1ea-5517-431a-affd-7e24df842abc">如何转译接口</a></p>
        <p data-level="1"><a href="#e4287a3f-10df-4a79-9362-4ee0bfad1c87">预设和插件</a></p>
        <p data-level="1"><a href="#c4c5bc8e-f8f5-4a95-b29e-2fcc839d15cd">@babel/preset-env</a></p>
        <p data-level="1"><a href="#758c4eab-72f7-4ff4-8c54-a112c41ad6ad">@babel/plugin-transform-runtime</a></p>
        <p data-level="1"><a href="#3ef4ef97-6483-47b9-b376-b6b9dda6ea71">@babel/runtime</a></p>
        <p data-level="1"><a href="#8de143e4-b75c-43c5-a40f-1aeb32430d40">@babel/runtime-corejs2</a></p>
        <p data-level="1"><a href="#dc2ca078-32bd-45f5-9e1c-6bd2ada1675b">@babel/runtime-corejs3</a></p>
        <p data-level="1"><a href="#d4f95911-0ef5-4f80-8199-ef6e45d505cf">regenerator-runtime</a></p>
        <p data-level="1"><a href="#122e6df4-605c-4161-a408-386298d15e08">@babel/core</a></p>
        <p data-level="1"><a href="#3f703eb0-0da2-4c68-b6ed-69b1b13b0a36">@babel/cli</a></p>
        <p data-level="1"><a href="#4f5725cc-5af3-4ce6-8651-cfe52b1ba3af">babel.config.json</a></p>
        <p data-level="1"><a href="#3effd320-edf4-4e63-9d66-fb6d77811906">FF27</a></p>
    </aside>
    <article>
        <h1>Babel 7</h1>
        <p id="last-updated">Last Updated: 13/06/2022</p>
        <h2 id="cf75e614-6192-4893-ac21-311d9b73d3df">简介</h2>
        <p>Babel 是一个 JS 编译器，它可以将使用了 ES6+ 特性的代码转译为可以在 ES5 环境中运行的代码。</p>
        <blockquote>
            <p>注：本文将 ES6 及 ES6 之后的所有年度 ES 版本统称为 ES6+ 。</p>
        </blockquote>
        <p>本文只介绍 Babel7 的转译功能，转译功能包括 3 部分：</p>
        <ul>
            <li>转译语法：比如将 <code>箭头函数</code> 、 <code>class</code> 、 <code>async</code> 等新语法转译为 ES5 支持的旧语法。</li>
            <li>转译接口：比如如果目标运行时不支持 <code>Promise</code> ，就将脚本中的 <code>Promise</code> 转译成目标运行时支持的语法和 API 。</li>
            <li>填补接口：比如如果目标运行时不支持 <code>Promise</code> ，就像目标运行时补充 <code>Promise</code> ，这将会改变目标运行时的全局环境（比如 <code>window</code> 对象和原型链 ）。</li>
        </ul>
        <blockquote>
            <p>巴别塔（ Tower of Babel ）：《圣经·旧约·创世纪》第 11 章记载，当时的人类联合起来兴建一座可以通天的塔，上帝为了阻止人类的计划，便打乱了人类的语言，使人类不能知晓彼此的意思，通天塔的计划便因此失败。</p>
            <ol>
                <li>
                    <p>And the whole earth was of one language, and of one speech.</p>
                    <p>那时候，整个大地都使用同一种语言。</p>
                </li>
                <li>
                    <p>And it came to pass, as they journeyed from the east, that they found a plain in the land of Shinar, and they dwelt there.</p>
                    <p>一群来自东方的人迁移并定居在了 Shinar 的平原上。</p>
                </li>
                <li>
                    <p>And they said one to another, Go to, let us make brick, and burn them throughly. And they had brick for stone, and slime had they for morter.</p>
                    <p>然后他们说，让我们联合起来，烧纸砖块，并用泥浆将砖块砌在一起。</p>
                </li>
                <li>
                    <p>And they said, Go to, let us build us a city and a tower, whose top may reach unto heaven; and let us make us a name, lest we be scattered abroad upon the face of the whole earth.，</p>
                    <p>我们要建造一座城来让我们团聚在一起，还要建造一座通天之塔来让我们名扬天下。</p>
                </li>
                <li>
                    <p>And the LORD came down to see the city and the tower, which the children of men builded.</p>
                    <p>上帝来到人间看见了人类正在建造的东西。</p>
                </li>
                <li>
                    <p>And the LORD said, Behold, the people is one, and they have all one language; and this they begin to do: and now nothing will be restrained from them, which they have imagined to do.</p>
                    <p>他惊叹人类能够团结一心的建设如此浩荡的工程，他担心世上再无困难可以难倒他们。</p>
                </li>
                <li>
                    <p>Go to, let us go down, and there confound their language, that they may not understand one another&#39;s speech.</p>
                    <p>于是上帝便打乱了人类的语言，让他们无法理解彼此的意思。</p>
                </li>
                <li>
                    <p>So the LORD scattered them abroad from thence upon the face of all the earth: and they left off to build the city.</p>
                    <p>人类无法团结在一起，渐渐的，人类便分散到了世界各地，建城造塔的计划也因此告终了。</p>
                </li>
                <li>
                    <p>Therefore is the name of it called Babel; because the LORD did there confound the language of all the earth: and from thence did the LORD scatter them abroad upon the face of all the earth.</p>
                    <p>后来，那个地方被称为 Babel ，意指上帝在那里打乱了人类的语言，瓦解了人类的团结。</p>
                </li>
            </ol>
            <p>摘自《圣经·旧约·创世纪》的第 11 章的第 1 ~ 9 段。</p>
        </blockquote>
        <h2 id="97324ef7-f62f-4b76-9bcc-729b7d988c4c">版本</h2>
        <p>Babel 是一个以 @babel/core 为核心的工具集，每当 @babel/core 发布新版本时，整个工具集的所有包都会跟随升级至相同的版本号，即使它们的代码可能一行都没有改变。因此 Babel 的版本号即是 @babel/core 的版本号。</p>
        <p>从 Babel 7 开始，所有的包都被放置在一个名为 <code>babel</code> 的域下，比如 @babel/cli 、 @babel/core 。而之前的每个包都在 npm 全局注册表中占用一个名称，比如 babel-cli 、 babel-core 。</p>
        <p>本节在于厘清，因为许多文章将 Babel 6 和 7 混为一谈了。</p>
        <h2 id="c02bf17e-d60d-4fcd-bf3d-aec82d6a95ff">最佳实践</h2>
        <h3 id="c2c0c952-7037-4056-9f0f-9b5d6bdf8546">适用于项目</h3>
        <p>该方案的特点：</p>
        <ul>
            <li>默认的目标运行时是 ES5 ，如果你确定目标运行时的版本，请修改 <code>targets</code> 为你的目标运行时，这有助于减小包的体积。</li>
            <li>按需转译语法，目标运行时不支持的语法会被降级成目标运行时支持的语法。</li>
            <li>使用语法辅助函数模块。</li>
            <li>按需填补接口，在全局环境中填补目标运行时所不支持的且被脚本使用到了的 ES6+ API 。</li>
        </ul>
        <blockquote>
            <p>注：使用前，请将依赖包更新至彼时的最新版，并修改 <code>@babel/preset-env</code> 的 <code>corejs</code> 参数和 <code>@babel/plugin-transform-runtime</code> 的 <code>version</code> 参数。</p>
        </blockquote>
        <p><code>babel.config.json</code> 内容如下：</p>
        <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: {},
            &quot;useBuiltIns&quot;: &quot;usage&quot;,
            &quot;corejs&quot;: &quot;3.20.1&quot;
        }
    ]],
    &quot;plugins&quot;: [[
        &quot;@babel/plugin-transform-runtime&quot;,
        {
            &quot;helpers&quot;: true,
            &quot;corejs&quot;: false,
            &quot;regenerator&quot;: false,
            &quot;version&quot;: &quot;^7.16.5&quot;
        }
    ]]
}
</code></pre>
        <p>对应的 <code>package.json</code> 内容如下：</p>
        <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/plugin-transform-runtime&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    },
    &quot;dependencies&quot;: {
        &quot;core-js&quot;: &quot;^3.20.1&quot;,
        &quot;regenerator-runtime&quot;: &quot;^0.13.9&quot;,
          &quot;@babel/runtime&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
        <h3 id="4fc32386-b667-48ec-bb2e-ac8a5dd0adf8">适用于项目与库</h3>
        <p>该方案的特点：</p>
        <ul>
            <li>默认的目标运行时是 ES5 ，如果你确定目标运行时的版本，请修改 <code>targets</code> 为你的目标运行时，这有助于减小包的体积。</li>
            <li>按需转译语法，目标运行时不支持的语法会被降级成目标运行时支持的语法。</li>
            <li>使用语法辅助函数模块。</li>
            <li>按需转译接口，脚本中所有与 ES6+ API 相关的代码都会被转译成由 ES5 的语法和 API 组成的代码。</li>
            <li>使用接口辅助函数模块。</li>
        </ul>
        <blockquote>
            <p>注：使用前，请将依赖包更新至彼时的最新版，并修改 <code>@babel/plugin-transform-runtime</code> 的 <code>version</code> 参数。</p>
        </blockquote>
        <p><code>babel.config.json</code> 内容如下：</p>
        <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: {}
            &quot;useBuiltIns&quot;: false
        }
    ]],
    &quot;plugins&quot;: [[
        &quot;@babel/plugin-transform-runtime&quot;,
        {
            &quot;helpers&quot;: true,
            &quot;corejs&quot;: 3,
            &quot;regenerator&quot;: true,
            &quot;version&quot;: &quot;^7.16.5&quot;
        }
    ]]
}
</code></pre>
        <p>对应的 <code>package.json</code> 内容如下：</p>
        <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/plugin-transform-runtime&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    },
    &quot;dependencies&quot;: {
        &quot;@babel/runtime-corejs3&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
        <h2 id="c9fe565e-c0af-457a-9361-0719819d6a72">如何转译语法</h2>
        <p>是指将脚本中的所有语法都转译成目标运行时所支持的语法，分为 2 种情况：</p>
        <ul>
            <li>完全转译：将脚本中出现的所有 ES6+ 语法都转译为 ES5 语法。</li>
            <li>按需转译：根据目标运行时的情况，将脚本中不受支持的语法转译为受支持的语法，目标运行时不一定是 ES5 环境。</li>
        </ul>
        <h3 id="7befb176-3e76-44a1-ba61-62739088f793">完全转译</h3>
        <p>将脚本中出现的所有 ES6+ 语法都转译为 ES5 语法。</p>
        <p><code>@babel/preset-env</code> 存储了将所有的 ES6+ 语法转译为 ES5 语法的转换规则，我们将借助它来实现完全转译，示例代码是《完全转译》。步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>配置语法转译的规则， <code>babel.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [[&quot;@babel/preset-env&quot;]]
}
</code></pre>
            </li>
            <li>
                <p>创建待转译的文件 <code>a.js</code> ，它使用了箭头函数，我们希望将箭头函数转译为普通函数， <code>a.js</code> 的内容如下：</p>
                <pre><code class="language-js">const f = _ =&gt; console.log( 1 );
</code></pre>
            </li>
            <li>
                <p>执行转译， npm 命令如下：</p>
                <pre><code>npx babel a.js -o b.js
</code></pre>
            </li>
            <li>
                <p>转译成功， <code>b.js</code> 是转译的结果，它的内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

var f = function f(_) {
  return console.log(1);
};
</code></pre>
            </li>
        </ol>
        <h3 id="d40da22c-3d8c-4e38-bd1d-fbbe3a691f27">按需转译</h3>
        <p>根据目标运行时的情况，将脚本中不受支持的语法转译为受支持的语法，目标运行时不一定是 ES5 环境。</p>
        <p><code>@babel/preset-env</code> 的 <code>targets</code> 参数用于描述目标运行时的情况，Babel 就会自动识别出脚本中的哪些语法是不受目标运行时支持的，然后将这些语法转译为目标运行时所支持的语法。</p>
        <p>比如，如果脚本使用了箭头函数和数值分隔符这 2 种语法，且目标环境是 chrome 60 的话， Babel 就只会转译数值分隔符语法，而不会转译箭头函数语法，因为 chrome 从 45 版本开始就支持了箭头函数语法，从 75 版本开始才支持数值分隔符语法。示例代码是《按需转译》，步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>配置语法转译的规则， <code>babel.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: &quot;chrome 60&quot;
        }
    ]]
}
</code></pre>
            </li>
            <li>
                <p>创建待转译的文件 <code>a.js</code> ，它使用了箭头函数语法和数值分隔符语法， <code>a.js</code> 的内容如下：</p>
                <pre><code class="language-js">const f = _ =&gt; console.log( 1_000_000 );
</code></pre>
            </li>
            <li>
                <p>执行转译， npm 命令如下：</p>
                <pre><code>npx babel a.js -o b.js
</code></pre>
            </li>
            <li>
                <p>转译成功， <code>b.js</code> 是转译的结果，它的内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

const f = _ =&gt; console.log(1000000);
</code></pre>
                <p>果然，数值分隔符语法被转译了，而箭头函数语法被保留了。</p>
            </li>
        </ol>
        <h3 id="370b67dc-2329-4b00-8b4f-f9ca3d7f8b69">语法辅助函数</h3>
        <p>某些语法的转译结果是很简洁的，比如箭头函数：</p>
        <pre><code class="language-js">// 转译前
const p = _ =&gt; {};
// 转译后
const p = function(_) {};
</code></pre>
        <p>但是另一些语法的转译结果则可能很复杂，比如 <code>class</code> 语法：</p>
        <pre><code class="language-js">// 转译前
class A {}
// 转译后
&quot;use strict&quot;;
function _defineProperties() { /* 省略 */ }
function _createClass() { /* 省略 */ }
function _classCallCheck() { /* 省略 */ }
var A = _createClass(function A() { _classCallCheck(this, A); });
</code></pre>
        <p>这是因为 Babel 需要编写较多的代码才能模拟出 <code>class</code> 语法的功能，另外 Babel 还将模拟代码中可复用的部分抽象成了函数，比如上例中的 <code>_defineProperties</code> 、 <code>_createClass</code> 、 <code>_classCallCheck</code> ，这些函数被称为「语法辅助函数」，它们会被写在转译结果文件的头部。将可复用的模拟代码抽象成语法辅助函数，可以减轻转译结果文件的体积，比如如果一个脚本使用了 10 次 <code>class</code> 语法，转译后的模拟代码中也只会有 1 个 <code>_defineProperties</code> 、 1 个 <code>_createClass</code> 、 1 个 <code>_classCallCheck</code> 。</p>
        <p>直接写在转译结果文件中的语法辅助函数被称为「内联语法辅助函数」。</p>
        <p>如果一个项目有 10 个模块，且每个模块都使用了 <code>class</code> 语法，那么该项目在转译后就会产生 10 个相同的 <code>_defineProperties</code> 、 <code>_createClass</code> 、 <code>_classCallCheck</code> 。只要激活 <code>@babel/plugin-transform-runtime</code> 的 <code>helpers</code> 特性，就可以避免产生这些冗余代码，它的大致原理是： Babel 将每个语法辅助函数都编写成独立的模块，称为「语法辅助函数模块」，所有语法辅助函数模块都被存储在 <code>@babel/runtime</code> （或它的加强包）中，激活 <code>@babel/plugin-transform-runtime</code> 的 <code>helpers</code> 特性后， Babel 在转译语法时就会使用语法辅助函数模块来替换内联语法辅助函数，这样项目中的所有脚本都会共用同一套语法辅助函数模块，自然而然的打包后的 bundle 文件也就不会产生上述冗余代码了。</p>
        <p>示例代码时《语法辅助函数》，步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/plugin-transform-runtime&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    },
    &quot;dependencies&quot;: {
        &quot;@babel/runtime&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>创建 <code>a.js</code> ，内容如下：</p>
                <pre><code class="language-js">class A {}
</code></pre>
            </li>
            <li>
                <p>创建 <code>babel-no-helpers.config.json</code> 和 <code>babel-use-helpers.config.json</code> 文件，前者表示禁用 <code>helpers</code> 特性，后者表示激活 <code>helpers</code> 特性，这是为了对比观察使用内联语法辅助函数和使用语法辅助函数模块的区别。</p>
                <p><code>babel-no-helpers.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [&quot;@babel/preset-env&quot;],
    &quot;plugins&quot;: [[
        &quot;@babel/plugin-transform-runtime&quot;,
        {
            &quot;helpers&quot;: false,
            &quot;corejs&quot;: false,
            &quot;regenerator&quot;: false,
            &quot;version&quot;: &quot;^7.16.5&quot;
        }
    ]]
}
</code></pre>
                <p><code>babel-use-helpers.config.json</code> 内容如下：</p>
                <pre><code class="language-js">{
    &quot;presets&quot;: [&quot;@babel/preset-env&quot;],
    &quot;plugins&quot;: [[
        &quot;@babel/plugin-transform-runtime&quot;,
        {
            &quot;helpers&quot;: true,
            &quot;corejs&quot;: false,
            &quot;regenerator&quot;: false,
            &quot;version&quot;: &quot;^7.16.5&quot;
        }
    ]]
}
</code></pre>
            </li>
            <li>
                <p>分别使用 <code>babel-no-helpers.config.json</code> 和 <code>babel-use-helpers.config.json</code> 来进行语法转译， npm 命令如下：</p>
                <pre><code>npx babel a.js -o noHelpers.js --config-file ./babel-no-helpers.config.json
npx babel a.js -o useHelpers.js --config-file ./babel-use-helpers.config.json
</code></pre>
            </li>
            <li>
                <p>转译成功，获得 <code>noHelpers.js</code> 和 <code>useHelpers.js</code> 。</p>
                <p><code>noHelpers.js</code> 内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

function _defineProperties(target, props) { for (var i = 0; i &lt; props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if (&quot;value&quot; in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } }

function _createClass(Constructor, protoProps, staticProps) { if (protoProps) _defineProperties(Constructor.prototype, protoProps); if (staticProps) _defineProperties(Constructor, staticProps); Object.defineProperty(Constructor, &quot;prototype&quot;, { writable: false }); return Constructor; }

function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError(&quot;Cannot call a class as a function&quot;); } }

var A = /*#__PURE__*/_createClass(function A() {
  _classCallCheck(this, A);
});
</code></pre>
                <p><code>useHelpers.js</code> 内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

var _interopRequireDefault = require(&quot;@babel/runtime/helpers/interopRequireDefault&quot;)[&quot;default&quot;];

var _createClass2 = _interopRequireDefault(require(&quot;@babel/runtime/helpers/createClass&quot;));

var _classCallCheck2 = _interopRequireDefault(require(&quot;@babel/runtime/helpers/classCallCheck&quot;));

var A = /*#__PURE__*/(0, _createClass2[&quot;default&quot;])(function A() {
  (0, _classCallCheck2[&quot;default&quot;])(this, A);
});
</code></pre>
            </li>
        </ol>
        <h2 id="20ded8a4-fb79-4535-b4bb-0e3f6281fb0e">如何填补接口</h2>
        <p>如果目标运行时不支持某些 API ，就向目标运行时补充这些 API ，这将会改变目标运行时的全局环境和原型链，这分为 2 种情况：</p>
        <ul>
            <li>完全填补：帮目标运行时补齐所有的 ES6+ API ，哪怕目标运行时已经支持了部分的 ES6+ API 。</li>
            <li>按需填补：补齐目标运行时缺失的所有 ES6+ API ，或者补齐目标运行时缺失的且被脚本使用到了的 ES6+ API 。</li>
        </ul>
        <blockquote>
            <p>如果目标运行时已经支持了 <code>Promise</code> ，再进行「完全填补」的话，人造的 <code>Promise</code> 会不会替换掉天生的 <code>Promise</code> 呢？</p>
            <p>如果目标运行时缺失了 ES5 的 API ， Babel 能填补吗？换言之 Babel 到底能填补多低级的 API 呢？</p>
        </blockquote>
        <p>另外，如果我们希望可以在不污染全局环境的前提下，就让使用了 ES6+ API 的脚本可以在不支持 ES6+ API 的运行时中正常运行，就需要使用 Babel 提供的「接口转译」特性，详见《如何转换接口》。</p>
        <h3 id="dfb45f85-fcc5-4d53-8926-1410eaeeb8c0">完全填补</h3>
        <p>帮目标运行时补齐所有的 ES6+ API ，哪怕目标运行时已经支持了部分的 ES6+ API 。</p>
        <p>如果想帮目标运行时补齐所有 ES6+ API ，只需要将 ES6+ API 的 polyfill 文件和你的脚本打包在一起就可以了。</p>
        <p>ES6+ 的 polyfill 文件共有 3 种：</p>
        <ul>
            <li><code>polyfill.js</code> 文件</li>
            <li><code>@babel/polyfill</code></li>
            <li><code>core-js</code> &amp; <code>regenerator-runtime</code></li>
        </ul>
        <p>本小节的底部阐述了它们的异同，简而言之如果你想做「完全填补」，只推荐使用 <code>core-js</code> &amp; <code>regenerator-runtime</code> 。</p>
        <p>使用 <code>polyfill.js</code> 来做完全填补的示例代码是《polyfilljs》。</p>
        <p>使用 <code>@babel/polyfill</code> 来做完全填补的示例代码是《@babelpolyfill》。</p>
        <p>使用 <code>core-js</code> <code>regenerator-runtime</code> 来做完全填补的示例代码是《core-js&amp;regenerator-runtime》。本小节只演示此示例，步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;dependencies&quot;: {
        &quot;core-js&quot;: &quot;^3.20.1&quot;,
        &quot;regenerator-runtime&quot;: &quot;^0.13.9&quot;
    },
    &quot;devDependencies&quot;: {
        &quot;webpack&quot;: &quot;^5.65.0&quot;,
        &quot;webpack-cli&quot;: &quot;^4.9.1&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>创建 <code>a.js</code> ，它使用了 <code>Promise</code> 和 <code>Promise.resolve</code> API ，但是 Firefox 27 并不支持它们，我们期望可以补齐 Firefox 27 所缺失的所有 ES6+ API ，以使它可以正常运行 <code>a.js</code> ， <code>a.js</code> 内容如下：</p>
                <pre><code class="language-js">import &quot;core-js/stable&quot;;
import &quot;regenerator-runtime/runtime&quot;;

Promise.resolve( 1 ).then( v =&gt; console.log( v ) );
</code></pre>
                <blockquote>
                    <p>注：core-js和regeneratpr-runtime的引入没有先后顺序要求</p>
                </blockquote>
            </li>
            <li>
                <p>执行打包，将 <code>a.js</code> 和它所依赖的 <code>core-js</code> 还有 <code>regenerator-runtime</code> 打包在一起， npm 命令如下：</p>
                <pre><code>npx webpack ./a.js -o ./b --mode production
</code></pre>
            </li>
            <li>
                <p>打包成功，获得 <code>b/main.js</code> 文件，该文件包含了所有的 ES6+ polyfill 代码以及你的脚本。</p>
            </li>
            <li>
                <p>创建 <code>b.html</code> ，它会引用 <code>main.js</code> 文件，在 Firefox 27 中运行 <code>b.html</code> ，控制台将会输出 <code>1</code> ， polyfill 成功了！</p>
            </li>
        </ol>
        <p>可惜，这样子还不算是真正的「完全填补」，因为如果你的脚本中使用了 <code>Generator Functio</code> 或 <code>Async Function</code> ，它们还是没法在 Firefox 27 中正常运行。详见下下一节《特别的 Generator Function 和 Async Function》。</p>
        <blockquote>
            <p><code>polyfill.js</code> 文件包含了所有的 ES6+ API 的 polyfill ，只要像下面这样将它挂载在你的 html 文件中，就会自动补齐目标运行时的 ES6+ API ：</p>
            <pre><code class="language-html">&lt;body&gt;
    &lt;script src=&quot;polyfill.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;你的脚本&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
</code></pre>
            <p>哪里下载 <code>polyfill.js</code> 文件呢？下载了 <code>@babel/polyfill</code> 后，在 <code>node_modules/@babel/polyfill/dist</code> 文件夹中就可以找到 <code>polyfill.js</code> 和 <code>polyfill.min.js</code> 了。</p>
            <p><code>@babel/polyfill</code> 和 <code>polyfill.js</code> 的功能是一模一样的，只是形态不同，前者是 npm 模块，后者则是独立的 JS 脚本。</p>
            <p>从 Babel 7.4.0 （ 2019.05.19 ）开始，官方就宣布了放弃 <code>polyfill.js</code> 和 <code>@babel/polyfill</code> ，并推荐使用 <code>core-js</code> 和 <code>regenerator-runtime</code> 来作为替代。</p>
            <p>不过 Babel 官方还在继续更新 <code>@babel/polyfill</code> 。</p>
            <p><code>core-js</code> 和 <code>regenerator-runtime</code> 组合在一起就是 <code>@babel/polyfill</code> ，不过区别是 <code>@babel/polyfill</code> 使用的 <code>core-js</code> 的主版本号被锁死在了 <code>2</code> ，而目前最新的 <code>core-js</code> 的主版本号是 <code>3</code> 。 </p>
            <p>主版本号为 2 的 <code>core-js</code> 只支持全局变量和静态属性，比如 <code>Promise</code> 和 <code>Array.from</code> ，主版本号为 3 的 <code>core-js</code> 额外支持实例属性，比如 <code>Array.prototype.includes</code> 。这就是 Babel 官方推荐使用 <code>core-js</code> 和 <code>regenerator-runtime</code> 来替代 <code>@babel/polyfill</code> 和 <code>polyfill.js</code> 的原因。</p>
            <p><code>regenerator-runtime</code> 用于填补 <code>Generator Function API</code> 和 <code>Async Function API</code> ， <code>core-js</code> 用于填补除了它们之外的其他 ES6+ API ，所以它们要组合在一起使用才能构建出完整的 ES6+ API 环境。</p>
            <p>如果在安装了 <code>core-js</code> 和 <code>regenerator-runtime</code> 之后再安装 <code>@babel/polyfill</code> ，那么 <code>@babel/polyfill</code> 内部的 <code>core-js</code> 和 <code>regenerator-runtime</code> 就会覆盖前者。而且主版本号为 3 的 <code>core-js</code> 文件有 <code>stable</code> 文件夹，主版本号为 2 的 <code>core-js</code> 则没有，如果不小心发生了覆盖安装，就会引发「引用错误」，因为你会在「完全填补」的示例代码中看到，我们需要通过 <code>import &quot;core-js/stable&quot;</code> 来使用主版本号为 3 的 <code>core-js</code> 。</p>
        </blockquote>
        <h3 id="cd4987f4-34d6-4666-860f-6e0ac658a649">按需填补</h3>
        <p>如果激活了 <code>@babel/preset-env</code> 的 <code>useBuiltIns</code> 属性， Babel 就会按需填补目标运行时所需的接口，具体来说就是 Babel 会自动解析 <code>core-js</code> 和 <code>regenerator-runtime</code> 。</p>
        <p>Babel 会自动的从 <code>core-js</code> 中筛选出真正需要的接口模块，然后将它们导入到脚本中去。另外，如果目标运行时需要填补 Generator Function API 或 Async Function API ，Babel 就会将 <code>regenerator-runtime</code> 导入到脚本中去，否则就不会将 <code>regenerator-runtime</code> 导入到脚本中去。</p>
        <p>Babel 通过 <code>@babel/preset-env</code> 的 <code>targets</code> 字段来了解目标运行时的状态，这样才知道目标运行时缺少什么 ES6+ API 。</p>
        <p>Babel 通过 <code>@babel/preset-env</code> 的 <code>corejs</code> 字段来了解项目所依赖的 <code>core-js</code> 的版本。因为“知道 <code>core-js</code> 里面有什么接口模块”是“从 <code>core-js</code> 中筛选出真正需要的接口模块”的前提，而且不同版本的 <code>core-js</code> 之间的内容是有区别的，所以如果 Babel 想要知道项目依赖的 <code>core-js</code> 里面有什么，就需要知道它的版本号。</p>
        <p>最后， Babel 通过 <code>@babel/preset-env</code> 的 <code>useBuiltIns</code> 字段来确定按需填补的类型：</p>
        <ul>
            <li><code>useBuiltIns: false</code> ：不激活按需填补特性。</li>
            <li><code>useBuiltIns: &quot;entry&quot;</code> ：激活按需填补特性， Babel 会补齐目标运行时所缺失的所有 ES6+ API ，这被称为「entry填补」</li>
            <li><code>useBuiltIns: &quot;usage&quot;</code> ：激活按需填补特性， Babel 会补齐目标运行时所缺失的且被脚本使用到了的 ES6+ API ，这杯称为「usage填补」。</li>
        </ul>
        <blockquote>
            <p>注： Babel 不仅仅可以解析 <code>core-js</code> 和 <code>regenerator-runtime</code> ，也可以解析 <code>@babel/polyfill</code>， 因为 <code>@babel/polyfill</code> 已经被废弃了，所以不展开介绍。</p>
        </blockquote>
        <h4 id="9af131be-88be-4385-8a03-e947a9b8372e">entry填补</h4>
        <p>Babel 会从 <code>core-js</code> 中筛选出目标运行时所缺少的 ES6+ API 的接口模块，然后导入到脚本中去。如果目标运行时还缺少 Generator Function API 或 Async Function API ， Babel 还会将 <code>regenerator-runtime</code> 导入脚本。示例代码是《entry》，步骤如下：</p>
        <blockquote>
            <p>注：如果想要激活「entry填补」特性，还必须在脚本中显式书写 <code>import &quot;core-js/stable&quot;</code> 和 <code>import &quot;regenerator-runtime/runtime&quot;</code> 。</p>
        </blockquote>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;dependencies&quot;: {
        &quot;core-js&quot;: &quot;^3.20.1&quot;,
        &quot;regenerator-runtime&quot;: &quot;^0.13.9&quot;
    },
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>创建 <code>a.js</code> ，内容如下：</p>
                <pre><code class="language-js">import &quot;core-js/stable&quot;;
import &quot;regenerator-runtime/runtime&quot;;
</code></pre>
            </li>
            <li>
                <p>创建 <code>babel-chrome-90.config.json</code> 和 <code>babel-chrome-95.config.json</code> ，它们的唯一区别是，前者的目标环境是 chrome 90 ，后者的则是 chrome 95 。</p>
                <p><code>babel-chrome-90.config.josn</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: &quot;chrome 90&quot;,
            &quot;useBuiltIns&quot;: &quot;entry&quot;,
            &quot;corejs&quot;: &quot;3.20.1&quot;
        }
    ]]
}
</code></pre>
                <p><code>babel-chrome-95.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: &quot;chrome 95&quot;,
            &quot;useBuiltIns&quot;: &quot;entry&quot;,
            &quot;corejs&quot;: &quot;3.20.1&quot;
        }
    ]]
}
</code></pre>
            </li>
            <li>
                <p>分别使用 <code>babel-chrome-90.config.json</code> 和 <code>babel-chrome-95.config.json</code> 来对 <code>a.js</code> 进行转译， npm 命令如下：</p>
                <pre><code>npx babel a.js -o c90.js --config-file ./babel-chrome-90.config.json
npx babel a.js -o c95.js --config-file ./babel-chrome-95.config.json
</code></pre>
            </li>
            <li>
                <p>转译成功，获得 <code>c90.js</code> 和 <code>c95.js</code> 。</p>
                <p>由于 chrome 90 和 chrome 95 都已经支持了 Generator Function API 和 Async Function API ，所以 <code>c90.js</code> 和 <code>c95.js</code> 都直接移除了 <code>import &quot;regenerator-runtime/runtime&quot;</code> 语句。</p>
                <p>由于 chrome 90 比 chrome 95 缺失更多 ES6+ API ，所以 <code>c90.js</code> 会比 <code>c95.js</code> 导入更多接口模块。</p>
                <p><code>c90.js</code> 内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;
require(&quot;core-js/modules/es.error.cause.js&quot;);
require(&quot;core-js/modules/es.aggregate-error.cause.js&quot;);
require(&quot;core-js/modules/es.array.at.js&quot;);
require(&quot;core-js/modules/es.object.has-own.js&quot;);
require(&quot;core-js/modules/es.string.at-alternative.js&quot;);
require(&quot;core-js/modules/es.typed-array.at.js&quot;);
require(&quot;core-js/modules/web.dom-exception.stack.js&quot;);
require(&quot;core-js/modules/web.immediate.js&quot;);
require(&quot;core-js/modules/web.structured-clone.js&quot;);
</code></pre>
                <p><code>c95.js</code> 内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;
require(&quot;core-js/modules/web.dom-exception.stack.js&quot;);
require(&quot;core-js/modules/web.immediate.js&quot;);
require(&quot;core-js/modules/web.structured-clone.js&quot;);
</code></pre>
            </li>
        </ol>
        <h4 id="960bf68b-58d6-47aa-8839-b44c7f7dcc3a">usage填补</h4>
        <p>Babel 会从 <code>core-js</code> 中筛选出目标运行时所缺少的且被脚本使用到了的 ES6+ API 的接口模块，然后导入到脚本中去。如果目标运行时还缺少 Generator Function API 或 Async Function API ，且脚本也刚好使用到了 Generator Function API 或 Async Function API 的话 ， Babel 还会将 <code>regenerator-runtime</code> 导入脚本。示例代码是《usage》，步骤如下：</p>
        <blockquote>
            <p>注：</p>
            <p>不能在脚本中显式书写 <code>import &quot;core-js/stable&quot;</code> 和 <code>import &quot;regenerator-runtime/runtime&quot;</code> 。</p>
            <p>「usage填补」和「entry填补」的另一个区别是，「usage填补」不需要书写这两条语句就能进行按需填补，如果书写了这两条语句，这两条语句就会被直接保留下来。</p>
        </blockquote>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;dependencies&quot;: {
        &quot;core-js&quot;: &quot;^3.20.1&quot;,
        &quot;regenerator-runtime&quot;: &quot;^0.13.9&quot;
    },
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>创建 <code>a.js</code> ，内容如下：</p>
                <pre><code class="language-js">async function f() {}
</code></pre>
            </li>
            <li>
                <p>配置转译的规则， <code>babel.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        {
            &quot;targets&quot;: &quot;firefox 27&quot;,
            &quot;useBuiltIns&quot;: &quot;usage&quot;,
            &quot;corejs&quot;: &quot;3.20.1&quot;
        }
    ]]
}
</code></pre>
            </li>
            <li>
                <p>执行 Babel ，npm 命令如下：</p>
                <pre><code>npx babel a.js -o b.js
</code></pre>
            </li>
            <li>
                <p>执行成功，获得 <code>b.js</code> ，内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

require(&quot;regenerator-runtime/runtime.js&quot;);
require(&quot;core-js/modules/es.object.to-string.js&quot;);
require(&quot;core-js/modules/es.promise.js&quot;);

function asyncGeneratorStep(gen, resolve, reject, _next, _throw, key, arg) { try { var info = gen[key](arg); var value = info.value; } catch (error) { reject(error); return; } if (info.done) { resolve(value); } else { Promise.resolve(value).then(_next, _throw); } }

function _asyncToGenerator(fn) { return function () { var self = this, args = arguments; return new Promise(function (resolve, reject) { var gen = fn.apply(self, args); function _next(value) { asyncGeneratorStep(gen, resolve, reject, _next, _throw, &quot;next&quot;, value); } function _throw(err) { asyncGeneratorStep(gen, resolve, reject, _next, _throw, &quot;throw&quot;, err); } _next(undefined); }); }; }

function f() {
  return _f.apply(this, arguments);
}

function _f() {
  _f = _asyncToGenerator( /*#__PURE__*/regeneratorRuntime.mark(function _callee() {
    return regeneratorRuntime.wrap(function _callee$(_context) {
      while (1) {
        switch (_context.prev = _context.next) {
          case 0:
          case &quot;end&quot;:
            return _context.stop();
        }
      }
    }, _callee);
  }));
  return _f.apply(this, arguments);
}
</code></pre>
                <p>显然，脚本中只引入了目标运行时缺失的且被脚本使用到了的 3 个 ES6+ API ，其中引入 <code>Promise</code> 的原因是 Async Function 的返回值是 <code>Promise</code> 实例。而且由于目标运行时不支持 <code>async</code> 语法，因此 Babel 也对 Async Function 进行了语法转译。</p>
            </li>
        </ol>
        <h3 id="2dbe318a-455b-4778-8e0d-76a3250d14af">Generator Function 和 Async Function</h3>
        <p>相比其他的 ES6+ API ， <code>Generator Function</code> 和 <code>Async Function</code> 使用了新的语法，比如 <code>function*</code> 、 <code>async</code> 等等，这些语法是无法在不支持 <code>Generator Function</code> 和 <code>Async Function</code> 的旧运行时中运行的，因此哪怕你的脚本引入了 <code>regenerator-runtime</code> ，最后也会因为旧运行时不支持这些语法而导致脚本抛出异常。</p>
        <blockquote>
            <p>建议如果使用了 <code>regenerator-runtime</code> ，也要使用 <code>core-js</code> 。原因见本小节末。</p>
        </blockquote>
        <p>解决办法是为脚本补充语法转译，本节的示例代码是《generator和async》，步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-js">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;,
        &quot;webpack&quot;: &quot;^5.65.0&quot;,
        &quot;webpack-cli&quot;: &quot;^4.9.1&quot;
    },
    &quot;dependencies&quot;: {
        &quot;core-js&quot;: &quot;^3.20.1&quot;,
        &quot;regenerator-runtime&quot;: &quot;^0.13.9&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>创建 <code>a.js</code> 和 <code>b.js</code> ，它们的内容是一致的，并使用了 <code>Async Function</code> ，而 Firefox 27 不支持该 API 。 <code>a.js</code> 和 <code>b.js</code> 都会引入 <code>core-js</code> 和 <code>regenerator-runtime</code> ，但是只转译 <code>b.js</code> 的语法。 <code>a.js</code> 和 <code>b.js</code> 的内容如下：</p>
                <pre><code class="language-js">import &quot;core-js/stable&quot;;
import &quot;regenerator-runtime/runtime&quot;;

async function f() { return 1 }
f().then( v =&gt; console.log( v ) );
</code></pre>
            </li>
            <li>
                <p>配置语法转译的规则， <code>babel.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [&quot;@babel/preset-env&quot;]
}
</code></pre>
            </li>
            <li>
                <p>对 <code>b.js</code> 执行语法转译， npm 命令如下：</p>
                <pre><code>npx babel b.js -o bb.js
</code></pre>
            </li>
            <li>
                <p>执行打包，将 <code>a.js</code> 和 <code>b.js</code> 与它们所依赖的 <code>core-js</code> 还有 <code>regenerator-runtime</code> 打包在一起， npm 命令如下：</p>
                <pre><code>npx webpack ./a.js  -o ./aa --mode production
npx webpack ./bb.js -o ./bb --mode production
</code></pre>
            </li>
            <li>
                <p>打包成功，获得 <code>aa/main.js</code> 和 <code>bb/main.js</code> 文件，虽然它们都补齐了 <code>Async Function</code> 和相关的 API ，但是只有 <code>bb/main.js</code> 可以正常运行。</p>
            </li>
            <li>
                <p>创建 <code>aa.html</code> 和 <code>bb.html</code> ，用于检验 <code>aa/main.js</code> 和 <code>bb/main.js</code> ，在 Firefox 27 中运行，结果如下：</p>
                <p><code>aa.html</code> ：抛出异常 <code>SyntaxError: missing ; before statement</code> 。</p>
                <p><code>bb.html</code> ：正常运行，控制台输出 <code>1</code> 。</p>
            </li>
        </ol>
        <p>果然， 未经语法转译的 <code>aa/main.js</code> 无法正常运行并抛出了 <code>SyntaxError</code> ，该语法错误的成因是由于 Firefox 27 不支持 <code>async</code> 语法， 它将脚本中的 <code>async</code> 判定为独立的语句，然后 Firefox 认为脚本中的 <code>async function</code> 是错误的，正确的写法应当是 <code>async; function</code> 。</p>
        <blockquote>
            <p>本节明明是在填补 <code>Async Function</code> ，可为什么需要引入 <code>core-js</code> 呢？这是因为 <code>Async Function</code> 的返回值是一个 <code>Promise</code> ，如果不引入 <code>core-js</code> ，执行时会抛出 <code>ReferenceError: Promise is not defined</code> 异常。</p>
            <p>建议如果使用了 <code>regenerator-runtime</code> ，也要使用 <code>core-js</code> 。</p>
        </blockquote>
        <h2 id="eaadb1ea-5517-431a-affd-7e24df842abc">如何转译接口</h2>
        <p>《如何填补接口》中的方法是通过修改全局环境来实现“让原本不支持 ES6+ API 的运行时支持 ES6+ API ”，大致原理是： <code>core-js</code> 模块和 <code>regenerator-runtime</code> 模块使用 ES5 的语法和 API 来在全局环境中重新生成 ES6+ API ，然后 Babel 会向你的脚本按需引入 <code>core-js</code> 和 <code>regenerator-runtime</code> 。</p>
        <p>对于普通的项目而言，虽然填补接口会污染全局环境，但这是完全可以接受的。但是对于库而言，则是不可接受的。比如，你开发的库修改了全局环境，依赖你的库的项目也修改了全局环境，如果 2 次修改是不同的，就会导致库或项目无法正常运行。因此，库不能使用填补的方式来 polyfill 接口。</p>
        <p>「转译接口」是另一种 polyfill 接口的方法，它会将脚本中与 ES6+ API 相关的代码转译成由 ES5 的语法和 API 组成的代码，这相当于将你的代码“降级”成了 ES5 运行时可以正常运行的代码，并且这种方法不会修改全局环境。如果库需要 polyfill 接口，就应当采用该方法。</p>
        <blockquote>
            <p>代码被“降级”后，脚本中会引入一些外部模块，这些模块被称为「接口辅助函数模块」，它类似于「语法辅助函数模块」。</p>
        </blockquote>
        <p>一个不完整的例子是：如果脚本中使用了 <code>Promise</code> ， Babel 就会导入相应的接口辅助函数模块（ <code>promise.js</code> ），然后将原代码中的 <code>Promise</code> 改成 <code>_promise</code> 。</p>
        <pre><code class="language-js">// 接口转译之后
const p = Promise;

// 接口转译之前
var _promise = require(&quot;@babel/runtime-corejs3/core-js-stable/promise&quot;);
var p = _promise;
</code></pre>
        <p>具体的示例代码是《转译接口》，步骤如下：</p>
        <ol>
            <li>
                <p>下载相关的包， <code>package.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;devDependencies&quot;: {
        &quot;@babel/cli&quot;: &quot;^7.16.0&quot;,
        &quot;@babel/core&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/plugin-transform-runtime&quot;: &quot;^7.16.5&quot;,
        &quot;@babel/preset-env&quot;: &quot;^7.16.5&quot;
    },
    &quot;dependencies&quot;: {
        &quot;@babel/runtime-corejs3&quot;: &quot;^7.16.5&quot;
    }
}
</code></pre>
            </li>
            <li>
                <p>配置转译规则， <code>babel.config.json</code> 内容如下：</p>
                <pre><code class="language-json">{
    &quot;presets&quot;: [&quot;@babel/preset-env&quot;],
    &quot;plugins&quot;: [[
        &quot;@babel/plugin-transform-runtime&quot;,
        {
            &quot;helpers&quot;: false,
            &quot;corejs&quot;: 3,
            &quot;regenerator&quot;: true,
            &quot;version&quot;: &quot;^7.16.5&quot;
        }
    ]]
}
</code></pre>
                <p><code>@babel/preset-env</code> 是执行接口转译的前提。</p>
                <p> <code>@babel/plugin-transform-runtime</code> 是执行接口转译的核心， <code>&quot;helpers&quot;: false</code> 是指不使用语法辅助函数模块，<code>&quot;corejs&quot;: 3</code> 是指激活接口转换特性且使用 <code>@babel/runtime-corejs3</code> 作为接口转译的原料（只转译除了 Generator Function 和 Async Function 之外的 ES6+ API ）， <code>&quot;regenerator&quot;: true</code> 是指激活接口转译特性（只转译 Generator Function 和 Async Function ）， <code>&quot;version&quot;: &quot;^7.16.5&quot;</code> 是指原料的版本号（原料是指 <code>@babel/runtime</code> 或 <code>@babel/runtime-corejs2</code> 或 <code>@babel/runtime-corejs3</code> ）。参数的含义详见《@babel/plugin-transform-runtime》。</p>
            </li>
            <li>
                <p>创建 <code>a.js</code> ，内容如下：</p>
                <pre><code class="language-js">async function f() {}
</code></pre>
            </li>
            <li>
                <p>执行接口转译和语法转译， npm 命令如下：</p>
                <pre><code class="language-js">npx babel a.js -o b.js
</code></pre>
                <p>由于脚本使用了 <code>async</code> 语法，因此语法转译是必须的。转译接口时顺带转译语法是一个好习惯，并且这也是强制性的，因为你必须使用 <code>@babel/preset-env</code> 。</p>
            </li>
            <li>
                <p>转换成功，得到 <code>b.js</code> ，内容如下：</p>
                <pre><code class="language-js">&quot;use strict&quot;;

var _regenerator = _interopRequireDefault(require(&quot;@babel/runtime-corejs3/regenerator&quot;));

var _promise = _interopRequireDefault(require(&quot;@babel/runtime-corejs3/core-js-stable/promise&quot;));

function _interopRequireDefault(obj) { return obj &amp;&amp; obj.__esModule ? obj : { &quot;default&quot;: obj }; }

function asyncGeneratorStep(gen, resolve, reject, _next, _throw, key, arg) { try { var info = gen[key](arg); var value = info.value; } catch (error) { reject(error); return; } if (info.done) { resolve(value); } else { _promise[&quot;default&quot;].resolve(value).then(_next, _throw); } }

function _asyncToGenerator(fn) { return function () { var self = this, args = arguments; return new _promise[&quot;default&quot;](function (resolve, reject) { var gen = fn.apply(self, args); function _next(value) { asyncGeneratorStep(gen, resolve, reject, _next, _throw, &quot;next&quot;, value); } function _throw(err) { asyncGeneratorStep(gen, resolve, reject, _next, _throw, &quot;throw&quot;, err); } _next(undefined); }); }; }

function f() {
  return _f.apply(this, arguments);
}

function _f() {
  _f = _asyncToGenerator( /*#__PURE__*/_regenerator[&quot;default&quot;].mark(function _callee() {
    return _regenerator[&quot;default&quot;].wrap(function _callee$(_context) {
      while (1) {
        switch (_context.prev = _context.next) {
          case 0:
          case &quot;end&quot;:
            return _context.stop();
        }
      }
    }, _callee);
  }));
  return _f.apply(this, arguments);
}
</code></pre>
                <p><code>a.js</code> 的代码被“降级”至了 ES5 ，导入了接口辅助函数模块（ <code>regenerator</code> 和 <code>promise</code> 模块 ），插入了内联的语法辅助函数。</p>
            </li>
        </ol>
        <h2 id="e4287a3f-10df-4a79-9362-4ee0bfad1c87">预设和插件</h2>
        <p>预设是一套预先设定好的插件组合，最常用的 4 个官方预设是： <code>@babel/preset-env</code> 、 <code>@babel/preset-flow</code> 、 <code>@babel/preset-react</code> 、 <code>@babel/preset-typescript</code> 。</p>
        <p>插件是控制 Babel 行为的 JS 程序，比如插件 <code>@babel/plugin-transform-arrow-functions</code> 可以将箭头函数转换为普通函数。使用插件可以在更细的粒度上控制 Babel 的行为，最常用的官方插件是 <code>@babel/plugin-transform-runtime</code> 。</p>
        <p>如果 Babel 使用了多个预设，预设的执行顺序是：沿着预设数组从后向前。</p>
        <p>如果 Babel 使用了多个插件，插件的执行顺序是：沿着插件数组从前向后。</p>
        <p>如果 Babel 同时使用了插件和预设， Babel 会先执行插件，后执行预设。</p>
        <h2 id="c4c5bc8e-f8f5-4a95-b29e-2fcc839d15cd">@babel/preset-env</h2>
        <blockquote>
            <p>历史：</p>
            <p>在 Babel6 时代，常见的预设有： <code>babel-preset-es2015</code> 、 <code>babel-preset-es2016</code> 、 <code>babel-preset-es2017</code> 、 <code>babel-preset-state-0</code> 、 <code>babel-preset-state-1</code>、 <code>babel-preset-state-2</code> 、 <code>babel-preset-state-3</code> 、 <code>babel-preset-latest</code> 。其中 <code>babel-preset-state-x</code> 是指草案阶段的 ES 语法的转译预设，目前不再更新； <code>babel-preset-es201x</code> 是指 <code>201x</code> 年新发布的 ES 语法的转译预设，目前不再更新； <code>babel-preset-latest</code> 是指 <code>2015-至今</code> 的所有 ES 语法的转译预设，目前持续更新；</p>
            <p><code>@babel/-preset-env</code> 正是 <code>babel-preset-latest</code> 的延续与增强，它不仅仅包含所有语法的转译规则，甚至还可以按需转译语法和按需填补 API 。它在 Babel 6 时代的旧名是 <code>babel-preset-env</code> 。</p>
        </blockquote>
        <p>本文只介绍常用的 4 个参数：</p>
        <h3 id="024389f7-d9f6-4e21-94d0-1cc30a9c28af">targets</h3>
        <p>描述：告知 Babel 目标运行时的状态，该参数用于「按需转译语法」和「按需填补接口」。</p>
        <p>默认值： <code>{}</code> ，目标运行时是 ES5 。</p>
        <p>数据类型：<code>string |Array&lt;string&gt; |{[string]: string}</code></p>
        <p>示例：</p>
        <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
      { &quot;targets&quot;: &quot;&gt; 0.25%, not dead&quot; }
    ]]
}
</code></pre>
        <pre><code class="language-json">{
    &quot;presets&quot;: [[
        &quot;@babel/preset-env&quot;,
        { &quot;targets&quot;: { &quot;chrome&quot;: &quot;58&quot; } }
    ]]
}
</code></pre>
        <p>在 <code>package.json</code> 中设置 <code>browserslist</code> 字段可以起到和在 <code>babel.config.json</code> 中设置 <code>targets</code> 字段一样的效果。如果同时使用了 <code>browserslist</code> 和 <code>targets</code> ， Babel 会采用 <code>targets</code> 。 <code>browserslist</code> 的示例：</p>
        <pre><code class="language-json">{
    &quot;dependencies&quot;: {},
    &quot;devDependencies&quot;: {},
  &quot;browserslist&quot;: [ &quot;chrome 58&quot; ]
}
</code></pre>
        <h3 id="9ce37d69-fb5b-4841-9ce3-674ca7c7160a">useBuiltIns</h3>
        <p>描述：是否激活「按需填补接口」。</p>
        <p>默认值： <code>false</code></p>
        <p>取值：</p>
        <ul>
            <li><code>false</code> ：禁用。</li>
            <li><code>entry</code> ：启用，引入目标环境缺失的 ES6+ API ，且必须在待处理的脚本中显式书写 <code>import &quot;core-js/stable&quot;</code> 和 <code>import &quot;regenerator-runtime&quot;</code> 。</li>
            <li><code>usage</code> ：启用，引入目标环境缺失且被脚本使用到了的 ES6+ API ，且不能在待处理的脚本中书写 <code>import &quot;core-js/stable&quot;</code> 和 <code>import &quot;regenerator-runtime&quot;</code> 。</li>
        </ul>
        <h3 id="6255f177-2301-4fd4-b404-808a2953f069">corejs</h3>
        <p>描述：告知 Babel 项目所依赖的 <code>core-js</code> 模块的版本号是多少，仅当 <code>useBuiltIns</code> 值为 <code>&quot;entry&quot;</code> 或 <code>&quot;usage&quot;</code> 时，该参数才生效。</p>
        <p>最佳实践：将项目所依赖的 <code>core-js</code> 模块的版本号的字符串值作为 <code>corejs</code> 参数的值。比如如果 <code>package.json</code> 中显示 <code>&quot;core-js&quot;: &quot;^3.20.1&quot;</code> ，那么就将 <code>corejs</code> 参数的值设为 <code>&quot;3.19.3&quot;</code> 。</p>
        <p>默认值： <code>&quot;2.0&quot;</code></p>
        <p>数据类型： <code>string | {version: string, proposals: boolean}</code> 。如果想要引入提案阶段的 ES 特性，就需要将 <code>corejs</code> 参数设定为特殊值，这时才会用到 <code>{version: string, proposals: boolean}</code> 。如果只是想引入稳定的 ES 特性，只使用 <code>string</code> 格式就够了。</p>
        <blockquote>
            <p>注： Babel 需要先知道 <code>core-js</code> 的版本号才知道该如何按需填补接口，因为不同版本的 <code>core-js</code> 的内容不尽相同。如果不需要做按需填补接口，自然就不需要知道 <code>core-js</code> 的版本号了。这就是 <code>corejs</code> 参数的意义。</p>
        </blockquote>
        <h3 id="d6fe7c64-e0fc-495b-a2ad-f6052cb33cf8">modules</h3>
        <p>描述：设置 Babel 应当使用什么模块语法来导入模块。</p>
        <p>默认值： <code>auto</code> （此时会采用 commonjs 模块语法，即 <code>require</code> 和 <code>module.exports</code> ）</p>
        <p>取值：选用下述其一</p>
        <ul>
            <li><code>&quot;amd&quot;</code></li>
            <li><code>&quot;umd&quot;</code></li>
            <li><code>&quot;systemjs&quot;</code></li>
            <li><code>&quot;commonjs&quot;</code></li>
            <li><code>&quot;cjs&quot;</code></li>
            <li><code>&quot;auto&quot;</code></li>
            <li><code>&quot;false&quot;</code> （此时会采用 ES 模块语法，即 <code>import</code> 和 <code>export</code> ）</li>
        </ul>
        <h2 id="758c4eab-72f7-4ff4-8c54-a112c41ad6ad">@babel/plugin-transform-runtime</h2>
        <blockquote>
            <p>注：如果没有使用 <code>@babel/preset-env</code> ，该插件将不会生效。</p>
        </blockquote>
        <p>该插件有 3 大作用：</p>
        <ol>
            <li>使用「语法辅助函数模块」来替换「内联语法辅助函数」，这有助于减小打包后的体积，该功能默认激活。</li>
            <li>对除了 Generator Function API 和 Async Function API 之外的 ES6+ API 执行接口转译，该功能默认禁用。</li>
            <li>对 Generator Function API 和 Async Function API 执行接口转译，该功能默认激活。</li>
        </ol>
        <p>功能 1 的示例见《语法辅助函数》，功能 2 和 3 的示例见《如何转译接口》。</p>
        <h3 id="dfd2057d-b108-41fe-9ca0-fdf37ac8d26d">helpers</h3>
        <p>描述：是否使用「语法辅助函数模块」来替换「内联语法辅助函数」。</p>
        <p>默认值： <code>true</code></p>
        <p>取值：</p>
        <ol>
            <li><code>true</code> ：激活。</li>
            <li><code>false</code> ：禁用。</li>
        </ol>
        <h3 id="97ade2b2-957c-448c-8504-3afd3911111f">corejs</h3>
        <p>描述：是否做接口转译，注意它只转译除了 Generator Function API 和 Async Function API 之外的 ES6+ API 。</p>
        <p>默认值： <code>false</code></p>
        <p>取值：可取以下其一</p>
        <ol>
            <li><code>false</code> ：禁用。</li>
            <li><code>2</code> ：激活，使用来自 <code>@babel/runtime-corejs2</code> 的接口辅助函数模块。</li>
            <li><code>3</code> ：激活，使用来自 <code>@babel/runtime-corejs3</code> 的接口辅助函数模块。</li>
        </ol>
        <h3 id="67b8850b-173e-4930-b619-2df6e0bcab61">regenerator</h3>
        <p>描述：是否做接口转译，注意它只转译 Generator Function API 和 Async Function API 。</p>
        <p>默认值： <code>true</code></p>
        <p>取值：</p>
        <ol>
            <li><code>true</code> ：激活。</li>
            <li><code>false</code> ：禁用。</li>
        </ol>
        <blockquote>
            <p>注：该功能所需的接口辅助函数模块来自 <code>@babel/runtime/regenerator</code> 或 <code>@babel/runtime-corejs2/regenerator</code> 或 <code>@babel/runtime-corejs3/regenerator</code> ，具体使用哪个则取决于 <code>corejs</code> 的取值。</p>
        </blockquote>
        <h3 id="88cf5135-3a08-4c4c-8840-cdad7c2ba33c">version</h3>
        <p>描述： runtime 模块版本号。因为该插件需要根据 runtime 模块的版本号来决定可以在内部使用哪些技巧。</p>
        <p>最佳实践：照抄 runtime 模块的值，这样打包后的体积会更小。比如如果 <code>package.json</code> 中 <code>&quot;@babel/runtime-corejs3&quot;: &quot;^7.16.5&quot;</code> ，那么就将 <code>version</code> 的值设为 <code>&quot;^7.16.5&quot;</code> 。</p>
        <p>默认值： <code>&quot;7.0.0&quot;</code> </p>
        <p>取值： runtime 模块的版本号的字符串值。</p>
        <blockquote>
            <p>注：此处的「runtime模块」是指 <code>@babel/runtime</code> 或 <code>@babel/runtime-corejs2</code> 或 <code>@babel/runtime-corejs3</code> ，「runtime模块」不是官方术语，这是本节为了简化描述而自拟的术语。</p>
        </blockquote>
        <h3 id="c9fde3db-3f5b-41f5-8b94-a756a9e63f77">absoluteRuntime</h3>
        <p>描述：是否自定义 <code>@babel/plugin-transform-runtime</code> 引入 runtime 模块的路径规则。几乎用不到该参数，取默认值就行，因为只要正常的将包安装至 <code>node_modules</code> 文件夹中，就不需要自定义包的路径。</p>
        <p>默认值： <code>false</code></p>
        <p>取值：</p>
        <ol>
            <li><code>false</code> ：不需要自定义包的路径。</li>
            <li>表示路径的字符串。</li>
        </ol>
        <h2 id="3ef4ef97-6483-47b9-b376-b6b9dda6ea71">@babel/runtime</h2>
        <p>该包存储了所有的语法辅助函数模块和 <code>regenerator-runtime</code> 模块，前者位于 <code>helpers</code> 文件夹内，后者位于 <code>regenerator</code> 文件夹内。</p>
        <blockquote>
            <p>注：其实如果安装了 <code>@babel/preset-env</code> ， <code>@babel/runtime</code> 也会被自动安装上。但如果你要用 <code>@babel/runtime</code> 的话，最好还是再手动安装一遍。</p>
        </blockquote>
        <h2 id="8de143e4-b75c-43c5-a40f-1aeb32430d40">@babel/runtime-corejs2</h2>
        <p>它是 <code>@babel/runtime</code> 的升级版，它不仅仅包含 <code>@babel/runtime</code> 的所有内容，还包含 2 号主版本的 <code>core-js</code> 。</p>
        <p>2 号主版本的 <code>core-js</code> 只支持全局变量（如 <code>Promise</code> ）和静态属性（如 <code>Array.from</code> ），不支持实例属性（如 <code>Array.prototype.includes</code> ）。</p>
        <h2 id="dc2ca078-32bd-45f5-9e1c-6bd2ada1675b">@babel/runtime-corejs3</h2>
        <p>它是 <code>@babel/runtime</code> 的升级版，它不仅仅包含 <code>@babel/runtime</code> 的所有内容，还包含 3 号主版本的 <code>core-js</code> 。</p>
        <p>3 号主版本的 <code>core-js</code> 不仅支持全局变量（如 <code>Promise</code> ）和静态属性（如 <code>Array.from</code> ），还支持实例属性（如 <code>Array.prototype.includes</code> ）。</p>
        <h2 id="d4f95911-0ef5-4f80-8199-ef6e45d505cf">regenerator-runtime</h2>
        <p>它不是官方包，它用于填补 Generator Function API 和 Async Function API 。该包只有 2 个 JS 文件，第一个 <code>path.js</code> 用于获取 <code>runtime.js</code> 的绝对路径，第二个 <code>runtime.js</code> 用于填补 API 。</p>
        <p>由于它只用 1 个 JS 文件来填补 2 个 API ，所以只要需要填补 Generator Function API 或 Async Function API 中的任意一个， Babel 都会导入整个 <code>regenerator-runtime</code> 。</p>
        <h2 id="122e6df4-605c-4161-a408-386298d15e08">@babel/core</h2>
        <p>Babel 的核心包，只要使用 Babel 的功能，就需要用到该包。</p>
        <h2 id="3f703eb0-0da2-4c68-b6ed-69b1b13b0a36">@babel/cli</h2>
        <p>如果想用通过命令行来使用 Babel ，就需要安装该包，以下是一些示例：</p>
        <pre><code>1.将转译后的代码输出到terminal：
npx babel a.js

2.将转译后的代码写入到文件中：
npx babel a.js -o b.js
npx babel a.js --out-file b.js

3.转译整个文件夹下的所有JS脚本，并将所有转译结果都保存在目标文件夹中：
npx babel input_file_name -d output_file_name
npx babel input_file_name --out-dir output_file_name
</code></pre>
        <h2 id="4f5725cc-5af3-4ce6-8651-cfe52b1ba3af">babel.config.json</h2>
        <p>用于控制 Babel 的行为的文件，下述文件都可以控制 Babel 的行为，只要选用其一即可：</p>
        <ul>
            <li><code>babel.config.json</code> ，还支持其他文件扩展名，比如 <code>.js</code> 、 <code>.cjs</code> 、 <code>.mjs</code> 。</li>
            <li><code>xxx.babelrc.json</code> ，还支持其他文件扩展名，比如 <code>.babelrc</code> 、 <code>.js</code> 、 <code>.cjs</code> 、 <code>.mjs</code> 。</li>
            <li><code>package.json</code> 的 <code>&quot;babel&quot;</code> 字段。</li>
        </ul>
        <h2 id="3effd320-edf4-4e63-9d66-fb6d77811906">FF27</h2>
        <p><a href="https://ftp.mozilla.org/pub/firefox/releases/27.0.1/">Firefox 27 下载地址</a></p>
        <p>安装完成后，最好禁用浏览器的自动更新： <code>选项（左上角） =&gt; 高级 =&gt; 更新</code> 。</p>
    </article>
</body>

</html>