/* English */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "IBM Plex Serif" ),
        url( "/static/font/mini/IBMPlexSerif-ExtraLight.woff2" ) format( "woff2" ),
        url( "/static/font/mini/IBMPlexSerif-ExtraLight.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}

@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "IBM Plex Serif" ),
        url( "/static/font/IBMPlexSerif-Medium.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}

/* Chinese */
@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Noto Sans SC" ),
    url( "/static/font/mini/NotoSansSC-Thin.woff2" ) format( "woff2" ),
        url( "/static/font/mini/NotoSansSC-Thin.ttf" ) format( "truetype" );
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "Noto Sans SC" ),
        url( "/static/font/NotoSansSC-Medium.ttf" ) format( "truetype" );
    unicode-range: U+4E00-9FFF;
}

/* Code */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Fira Code" ),
        url( "/static/font/FiraCode-Regular.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}
