/* English */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "IBM Plex Serif" ),
         url( "/static/font/ibm-plex-serif/IBMPlexSerif-Bold.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}

@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "IBM Plex Serif" ),
         url( "/static/font/IBMPlexSerif-SemiBold.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}

/* Chinese */
@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Noto Serif SC" ),
         url( "/static/font/noto-sans-sc/NotoSansSC-Thin.otf" ) format( "opentype" );
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "Noto Serif SC" ),
         url( "/static/font/noto-sans-sc/NotoSansSC-Bold.otf" ) format( "opentype" );
    unicode-range: U+4E00-9FFF;
}

/* Code */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Fira Code" ),
         url( "/static/font/FiraCode-Light.ttf" ) format( "truetype" );
    unicode-range: U+00-024F;
}
