/* 字体 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
header, main, footer, article, nav
h1, h2, h3, h4, h5, h6, p, a, b, strong,
table, thead, tbody, th, tr, td,
blockquote, hr,
ol, ul, li,
pre, code,
input {
    max-width: 100%;
    color: #ffffff;
    font-family: "IBM Plex Serif", "Noto Sans SC";
    font-size: 18px;
    line-height: 1.8;
}

b, strong {
    font-weight: bold;
}

pre {
    font-weight: normal;
}

code {
    font-family: "Fira Code", "Noto Sans SC";
}

/* 标题 */
/* ------------------------------------------------------------------------------------------------- */
h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 6rem;
}

h2, h3, h4, h5, h6 {
    color: #ffe100;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

h4 {
    font-size: 1rem;
}

h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

/* 布局 */
/* ------------------------------------------------------------------------------------------------- */
body {
    background-color: #151c23;
    overflow-x: hidden;
}

header, main, footer {
    padding: 0 calc( ( 100vw - 100vmin ) / 2 );
}

header, footer {
    height: 10rem;
    background-color: #151c23;
}

main {
    background-color: #0f141a;
}

article {
    padding: 8rem 2rem;
}

a, a > * {
    color: #5d72f6;
}

strong, strong > * {
    color: #5d72f6;
}

pre {
    overflow: auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #151f28;
}

code {
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    background-color: #151f28;
}

pre > code {
    padding: 0;
    border-radius: 0;
}

img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

blockquote {
    padding: 0.65rem 1rem;
    border-radius: 0.2rem;
    border-left: 0.25rem solid #5d72f6;
    background-color: #151f28;
}

blockquote * {
    font-size: 0.8rem;
}

/* 表格 */
/* ------------------------------------------------------------------------------------------------- */
table {
    table-layout: fixed;
    width: 100%;
    margin: 0.75rem 0;
    border-top: 0.25rem solid #151f28;
    border-bottom: 0.25rem solid #151f28;
    border-collapse: collapse;
}

table * {
    line-height: 2.2;
}

table > thead {
    border-bottom: 0.1rem solid #151f28;
}

th {
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.2rem;
}

tr > th:first-child,
tr > td:first-child {
    padding-left: 2rem;
}

tr > th:last-child,
tr > td:last-child {
    padding-right: 2rem;
}

/* 列表 */
/* ------------------------------------------------------------------------------------------------- */
li {
    margin-left: 2rem;
}

li::before {
    content: "";
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    background-color: #5d72f6;
    line-height: 1;
}
