html, body,
header, article, footer,
h1, h2, h3, h4, h5, h6, p, a, b, strong,
table, thead, tbody, th, tr, td,
blockquote, hr,
ol, ul, li,
pre, code,
input {
    max-width: 100%;
    color: #ffffff;
    font-family: "IBM Plex Serif", "Noto Serif SC";
    font-style: normal;
    font-weight: normal;
    line-height: 1.65;
}

b, strong {
    font-weight: bold;
}

pre {
    font-style: normal;
    font-weight: normal;
}

code {
    font-family: "Fira Code", "Noto Serif SC";
    font-style: inherit;
    font-weight: inherit;
}

header, article, footer {
    box-sizing: content-box;
    max-width: 100vmin;
    padding: 0 calc( ( 100vw - 100vmin ) / 2 + 1.5em );
}

header, footer {
    height: 10em;
    background-color: #151c23;
}

article {
    background-color: #0f141a;
}

pre {
    overflow: auto;
}

code {
    display: block;
}
