/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #101419;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
}

:root {
    --article-width: 100vmin;
    --line-height: 1.5;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
article, section, nav,
h1, h2, h3, h4, h5, h6, p,
table, thead, tbody, th, tr, td,
ol, ul, li,
a, strong,
pre, code,
blockquote {
    max-width: 100%;
    color: var( --white );
    font-family: "IBM Plex Sans", "Noto Sans SC";
    line-height: var( --line-height );
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

html, body, article {
    background-color: var( --black );
}

img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 1rem auto;
    border: none;
    outline: none;
    border-radius: var( --border-radius );
    line-height: 1;
}

svg {
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    line-height: 1;
}

/* 制造段落感 */
h1, h2, h3, h4, h5, h6, p,
table,
ul, ol, li,
pre,
blockquote {
    margin: 1rem 0;
}

/* 选中样式 */
::selection {
    color: var( --white );
    background-color: var( --purple );
}

/* 滚动条 */
html {
    scrollbar-color: var( --grey ) transparent;
}

html::-webkit-scrollbar {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: var( --border-radius );
    background-color: var( --grey );
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var( --purple );
}

pre {
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    display: none;
}

/* 主栏 */
/* ------------------------------------------------------------------------------------------------- */
article {
    width: var( --article-width );
    padding: 6rem 1rem 3rem 1rem;
    margin: 0 auto;
}

/* Home栏&catalog栏 */
/* ------------------------------------------------------------------------------------------------- */
/* 侧栏样式 */
section#sidebar {
    visibility: hidden;
}

section#sidebar > nav {
    position: fixed;
    top: 50%;
}

section#sidebar > nav.home-button {
    left: calc( ( 100vw - var( --article-width ) ) / 4 );
    color: var( --purple );
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
    transform: translate( -50%, -50% );
    transition: opacity 100ms ease-out;
    opacity: 0.2;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

section#sidebar > nav.home-button:hover {
    opacity: 1;
}

section#sidebar > nav.home-button > p {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: var( --white );
    font: inherit;
    line-height: inherit;
}

section#sidebar > nav.home-button > svg {
    width: 100%;
    height: auto;
}

section#sidebar > nav.catalog-content {
    right: calc( ( 100vw - var( --article-width ) ) / 4 );
    transform: translate( 50%, -50% );
    opacity: 0.1;
    transition: opacity 100ms ease-out;
}

section#sidebar > nav.catalog-content:hover {
    opacity: 1;
}

section#sidebar > nav.catalog-content * {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    line-height: 2.5;
    text-decoration: none;
}

section#sidebar > nav.catalog-content > p:first-child {
    margin-bottom: 0.5rem;
    color: var( --purple );
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

section#sidebar > nav.catalog-content > p + p {
    padding-right: 1em;
    border-left: 0.35em solid var( --purple );
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: transparent;
    font-size: 0.8rem;
    transition: border-left-color 100ms ease-out,
                background-color 100ms ease-out,
                color 100ms ease-out;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

section#sidebar > nav.catalog-content > p + p > a {
    display: block;
}

section#sidebar > nav.catalog-content > p + p > a:link,
section#sidebar > nav.catalog-content > p + p > a:visited,
section#sidebar > nav.catalog-content > p + p > a:hover,
section#sidebar > nav.catalog-content > p + p > a:active {
    color: var( --white );
}

section#sidebar > nav.catalog-content > p + p:hover {
    border-left-color: var( --purple );
    background-color: var( --grey );
    color: var( --purple );
}

section#sidebar > nav.catalog-content > p + p[data-level="1"] {
    padding-left: 1em;
}

section#sidebar > nav.catalog-content > p + p[data-level="2"] {
    padding-left: 2em;
}

section#sidebar > nav.catalog-content > p + p[data-level="3"] {
    padding-left: 3em;
}

section#sidebar > nav.catalog-content > p + p[data-level="4"] {
    padding-left: 4em;
}

section#sidebar > nav.catalog-content > p + p[data-level="5"] {
    padding-left: 5em;
}

/* 顶栏样式 */
section#topbar {
    display: none;
}

section#topbar > nav.home-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var( --grey );
    backdrop-filter: blur( 0.65rem );
    -webkit-backdrop-filter: blur( 0.65rem );
}

section#topbar > nav.home-button > button {
    float: right;
    padding: 0.5em 1em;
    margin: 1rem 2rem 1rem 0;
    border: none;
    border-radius: var( --border-radius );
    background-color: var( --purple );
    color: var( --grey );
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
    opacity: 0.2;
    transition: opacity 100ms ease-out;
    cursor: pointer;
}

section#topbar > nav.home-button > button:hover,
section#topbar > nav.home-button > button:active {
    opacity: 1;
}

/* 标题 */
/* ------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    color: var( --yellow );
    font-weight: bold;
}

h1 {
    color: var( --white );
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

/* 日期 */
/* ------------------------------------------------------------------------------------------------- */
p#last-updated {
    color: var( --white );
    text-align: right;
}

/* 代码 */
/* ------------------------------------------------------------------------------------------------- */
code {
    padding: 0 0.5rem;
    border-radius: 0.2em;
    background-color: var( --grey );
    font-family: "Fira Code", "Noto Sans SC";
    font-weight: normal;
}

pre > code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

pre {
    overflow: auto;
    border-top: 1rem solid var( --grey );
    border-right: 2rem solid var( --grey );
    border-bottom: 1rem solid var( --grey );
    border-left: 2rem solid var( --grey );
    border-radius: var( --border-radius );
    background-color: var( --grey );
}

/* 引用块 */
/* ------------------------------------------------------------------------------------------------- */
blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.35rem solid var( --purple );
    border-radius: var( --border-radius );
    background-color: var( --grey );
    font-size: 0.8rem;
}

blockquote * {
    font-size: 0.8rem;
}

/* 锚 */
/* ------------------------------------------------------------------------------------------------- */
a,
a * {
    color: var( --purple );
    text-decoration-line: underline;
    text-decoration-color: var( --purple );
    text-decoration-style: wavy;
}

/* 粗体 */
/* ------------------------------------------------------------------------------------------------- */
strong,
strong * {
    color: var( --purple );
    font-weight: bold;
}

/* 表格 */
/* ------------------------------------------------------------------------------------------------- */
table {
    --bold: 0.25rem;
    --thin: calc( var( --bold ) / 4 );
}

table {
    table-layout: fixed;
    width: 100%;
    border-top: var( --bold ) solid var( --grey );
    border-bottom: var( --bold ) solid var( --grey );
}

table * {
    line-height: 2;
}

thead {
    border-bottom: var( --thin ) solid var( --grey );
}

th {
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

th:first-child,
td:first-child {
    padding-left: 2rem;
}

th:last-child,
td:last-child {
    padding-right: 2rem;
}

/* 列表 */
/* ------------------------------------------------------------------------------------------------- */
li {
    position: relative;
    margin-left: 2rem;
}

/* 无序列表 */
ul > li:not(.check-li)::before {
    --length: calc( 1rem * var( --line-height ) * 0.25 );
    content: "";
    position: absolute;
    top: calc( 1rem * var( --line-height ) / 2 );
    left: 0;
    width: var( --length );
    height: var( --length );
    margin-left: -0.5rem;
    border-radius: 999rem;
    background-color: var( --purple );
    transform: translate( -100%, -50% );
}

/* 有序列表 */
ol {
    counter-reset: index;
}

ol > li::before {
    --height: calc( 1rem * var( --line-height ) );
    counter-increment: index;
    content: counters( index, "." ) ".";
    position: absolute;
    top: 0;
    left: 0;
    height: var( --height );
    margin-left: -0.5rem;
    color: var( --purple );
    font-weight: bold;
    line-height: var( --height );
    transform: translateX( -100% );
}

/* 任务列表 */
ul > li > input[type="checkbox"] {
    display: none;
}

ul > li > input[type="checkbox"] + label {
    --length: calc( 1rem * var( --line-height ) * 0.6 );
    position: absolute;
    top: calc( 1rem * var( --line-height ) / 2 );
    left: 0;
    width: var( --length );
    height: var( --length );
    margin-left: -0.5rem;
    line-height: 1;
    opacity: 0.2;
    transform: translate( -100%, -50% );
    transition: opacity 100ms ease-out;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

ul > li > input[type="checkbox"] + label:hover {
    opacity: 0.4;
    cursor: pointer;
}

ul > li > input[type="checkbox"]:checked + label {
    opacity: 1;
}

ul > li > input[type="checkbox"] + label > svg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: var( --purple );
}
