<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack 5</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#4f1958bf-25a4-473f-8bfb-9277141c81b9">概念</a></p>
        <p data-level="1"><a href="#f179df12-2cfc-4591-b414-00f0df9b0327">开发环境</a></p>
        <p data-level="1"><a href="#3fad5f4c-ba1f-4934-a84b-ee4010666ab0">生产环境</a></p>
        <p data-level="1"><a href="#76b228b3-058f-496d-8442-eb2da6d69760">动态导入</a></p>
        <p data-level="1"><a href="#b7d223e6-fa59-46dc-8746-d6e2cd5e2cde">预获取/预加载模块</a></p>
        <p data-level="1"><a href="#65202223-8c29-4596-ae85-cf5ffa01e741">缓存</a></p>
        <p data-level="1"><a href="#481f64dc-c2cf-4427-9616-d1e5cda51120">创建 library</a></p>
        <p data-level="1"><a href="#bf69974b-4405-48e4-b498-80f08f4d4be5">优化性能</a></p>
        <p data-level="1"><a href="#6014901a-6d2f-4559-bacd-a30500a8a7b7">Tree Shaking</a></p>
        <p data-level="1"><a href="#5d38ef7d-3ce9-43c6-b7a0-45886b7c5087">懒加载</a></p>
    </aside>
    <article>
        <h1>Webpack 5</h1>
        <p id="last-updated">Last Updated: 27/04/2022</p>
        <h2 id="4f1958bf-25a4-473f-8bfb-9277141c81b9">概念</h2>
        <h3 id="a1e96daf-2f4a-4905-b73d-45c6f872f873">entry</h3>
        <p><code>entry</code> 属性用于指定入口文件，默认值是 <code>./src/index.js</code> 。</p>
        <pre><code class="language-js">module.exports = {
    entry: &quot;./src/index.js&quot;
}
</code></pre>
        <h3 id="160dfa68-04af-496e-b1dc-5935ceb9b83c">output</h3>
        <p><code>output</code> 属性用于指定 bundle 的输出地址及命名，默认值是 <code>./dist/main.js</code> ，其他生成文件默认放置在 <code>./dist</code> 文件夹中。</p>
        <pre><code class="language-js">const path = require(&quot;path&quot;);

module.exports = {
    output: {
          path: path.resolve(__dirname, &quot;dist&quot;),
          filename: &quot;bundle.js&quot;
    }
};
</code></pre>
        <h3 id="497b4f28-fa14-4d9f-9834-bd2af1ab3e8b">loader</h3>
        <p>webpack 自身只能识别 JS 和 JSON 文件，如果想让 webpack 识别其他文件，就需要使用 <code>loader</code> 。</p>
        <pre><code class="language-js">const path = require(&quot;path&quot;);

module.exports = {
        module: {
          rules: [ {test: /\.txt$/, use: &quot;raw-loader&quot;} ]
    }
};
</code></pre>
        <p><code>loader</code> 有 2 个属性： <code>test</code> 和 <code>use</code> 。前者用于指定那些文件需要被处理，后者用于指定处理时应使用哪个 loader 。</p>
        <p>上例的意思是：当 webpack 碰到 .txt 文件时，在打包它之前，先使用 <code>raw-loader</code> 处理一下。</p>
        <h3 id="a23995c9-449b-45e1-a869-17a02594d96a">plugin</h3>
        <p><code>loader</code> 用于处理某些类型的文件， <code>plugin</code> 用于执行更宽泛的任务，比如打包优化、资源管理、注入环境变量。</p>
        <pre><code class="language-js">const html_webpack_plugin = require(&quot;html-webpack-plugin&quot;);

module.exports = {
    plugins: [ new html_webpack_plugin() ]
};
</code></pre>
        <h3 id="014ec615-94e3-4e43-a4b5-9b55d56dd788">mode</h3>
        <p><code>mode</code> 用于指定打包的行为，有 3 种值可选： <code>&quot;development&quot;</code> 、 <code>&quot;production&quot;</code> 、 <code>&quot;none&quot;</code> ，默认值时 <code>&quot;production&quot;</code> 。</p>
        <pre><code class="language-js">module.exports = {
    mode: &quot;production&quot;
};
</code></pre>
        <h3 id="496314be-40d7-4c18-ae35-4aa853cbe45e">浏览器兼容性</h3>
        <p>webpack 支持所有符合 ES5 标准的浏览器（不支持 IE8 及以下版本）。 webpack 的 <code>import()</code> 和 <code>require.ensure()</code> 需要 <code>Promise</code> ，如果目标环境不支持 <code>Promise</code> ，那么在使用 <code>import()</code> 和 <code>require.ensure()</code> 之前需要提前进行 polyfill 。</p>
        <h3 id="dc3cf2a5-5573-40da-b623-00478e0a7717">环境</h3>
        <p>webpack5 要求 Node.js v10.13.0+ 。</p>
        <h2 id="f179df12-2cfc-4591-b414-00f0df9b0327">开发环境</h2>
        <p><code>package.json</code></p>
        <pre><code class="language-json">
</code></pre>
        <p><code>webpack-dev.config.js</code></p>
        <pre><code class="language-js">
</code></pre>
        <h2 id="3fad5f4c-ba1f-4934-a84b-ee4010666ab0">生产环境</h2>
        <p><code>package.json</code></p>
        <pre><code class="language-json">
</code></pre>
        <p><code>webpack-dev.config.js</code></p>
        <pre><code class="language-js">
</code></pre>
        <h2 id="76b228b3-058f-496d-8442-eb2da6d69760">动态导入</h2>
        <p>学习 webpack 的 <a href="https://webpack.docschina.org/guides/code-splitting/">动态导入</a> ，《现代JavaScript教程》中的 <a href="https://zh.javascript.info/modules-dynamic-imports">动态导入</a> 对你会有额外帮助，也建议学完它的 3 节《模块》的内容。</p>
        <h2 id="b7d223e6-fa59-46dc-8746-d6e2cd5e2cde">预获取/预加载模块</h2>
        <p>🔗 <a href="https://webpack.docschina.org/guides/code-splitting/">https://webpack.docschina.org/guides/code-splitting/</a></p>
        <h2 id="65202223-8c29-4596-ae85-cf5ffa01e741">缓存</h2>
        <p>浏览器会使用缓存技术来加快网站的加载速度，这带来的一个问题是，如果我们在部署新版本时不更改资源的名称，浏览器就可能会认为它没有被更新，然后继续使用它的缓存版本，这就会带来一些棘手的问题。</p>
        <p>webpack 似乎有一套专业的 <a href="https://webpack.docschina.org/guides/caching/">办法</a> 来解决它，不过为了省事我暂时先使用浏览器的 「停用缓存」功能。</p>
        <h2 id="481f64dc-c2cf-4427-9616-d1e5cda51120">创建 library</h2>
        <p>从这里开始学。</p>
        <p>先看生产环境吧！</p>
        <h2 id="bf69974b-4405-48e4-b498-80f08f4d4be5">优化性能</h2>
        <h3 id="f8d5cfa9-5b3b-4128-954f-46831d9b8e4c">优化通用环境的性能</h3>
        <h4 id="542c3394-1ca1-4cc8-b7e5-61125cc2fd8f">更新版本</h4>
        <p>使用最新版本的 <code>webpack</code> 、 <code>node.js</code> 、 <code>npm</code> 都有助于提高构建脚本的性能。</p>
        <h4 id="daff969f-8e21-48a5-8916-78a9a32f3967">loader</h4>
        <p>让 <code>loader</code> 只作用于需要的模块，比如：</p>
        <pre><code class="language-js">module.exports = {
    // ...
    module: {
        rules: [
            {
                test: /\.js$/,
                loader: &quot;babel-loader&quot;,
            },
        ],
    },
};
</code></pre>
        <p>上述配置文件意味着 webpack 会对所有 js 文件都执行 babel ，更改成下述配置文件后，webpack 将只会对 source 目录下的 js 文件执行 babel 。</p>
        <pre><code class="language-js">const path = require(&quot;path&quot;);

module.exports = {
    // ...
    module: {
        rules: [
            {
                test: /\.js$/,
                loader: &quot;babel-loader&quot;,
                include: path.resolve(__dirname, &quot;./source&quot;),
            },
        ],
    },
};
</code></pre>
        <h3 id="92fe7b47-c152-4b30-bf41-7a88f16021c7">优化开发环境的性能</h3>
        <h4 id="f52511a2-450d-472d-b862-bde7c34c8504">Devtool</h4>
        <p> <code>&quot;eval-cheap-module-source-map&quot;</code> 是大多数情况下的最佳选择，它的构建速度快，且可以生成源码的行映射。</p>
        <h4 id="d137779e-fc80-4aeb-94ae-65697a0c82aa">避免使用生产环境才需要的工具</h4>
        <p>在开发环境下，应该排除一下这些工具，因为它们都只用于生产环境，对开发环境没有意义：</p>
        <ul>
            <li><code>TerserPlugin</code> </li>
            <li><code>[fullhash] / [chunkhash] / [contenthash]</code> </li>
            <li><code>AggressiveSplittingPlugin</code> </li>
            <li><code>AggresiveMergingPlugin</code> </li>
            <li><code>ModuleConcatenationPlugin</code></li>
        </ul>
        <h4 id="0c47da21-9f2c-4a75-95d0-122db0c80347">最小化 entry chunk</h4>
        <blockquote>
            <p>我不懂它，所以没有使用。</p>
        </blockquote>
        <pre><code class="language-js">module.exports = {
    // ...
    optimization: {
        runtimeChunk: true,
    },
};
</code></pre>
        <h4 id="a24c2a28-2c81-490a-ac9c-cf64454c6230">避免额外的优化步骤</h4>
        <p>webpack 通过执行额外的算法任务来优化输出结果的体积和加载性能，这些优化适用于小型代码库，但是不适用于大型代码库，因为这些优化在大型代码库中非常耗费性能。</p>
        <blockquote>
            <p>我不懂它，所以没有使用。</p>
        </blockquote>
        <pre><code class="language-js">module.exports = {
      // ...
      optimization: {
        removeAvailableModules: false,
        removeEmptyChunks: false,
        splitChunks: false,
    },
};
</code></pre>
        <h4 id="374da33e-47bf-4453-86c8-61c7e6699ba7">输出结果不携带路径信息</h4>
        <p>webpack 会在输出的 bundle 中生成路径信息，如果打包的模块有数千个，那么禁用该特性可以减轻垃圾回收的压力，禁用它的方法是：</p>
        <pre><code class="language-js">module.exports = {
    // ...
    output: {
        pathinfo: false
    }
};
</code></pre>
        <h3 id="7c46bb2e-9fb8-40dd-a69f-7cd53455c633">优化生产环境的性能</h3>
        <h4 id="290eb885-5d4d-4754-bf87-a0e46e71f881">Source Maps</h4>
        <p>source map 相当消耗资源，而且会暴露源码的位置，如果要保护代码的安全，就应该在生产环境中禁用它，禁用后还可以提升一些构建的性能。</p>
        <blockquote>
            <p>代码经 webpack 打包压缩之后，如果发生了异常，控制台是无法输出正确的代码位置的。 source map 用于解决这个问题，它是一个信息文件，它存储了代码打包前后的位置映射关系，有了它，控制台就可以正确的输出异常发生在原始代码的哪个位置了。</p>
        </blockquote>
        <h3 id="51103105-6bd9-4494-bf77-ce945c71719b">模块热更替</h3>
        <blockquote>
            <p>我不知道怎么使用它。</p>
        </blockquote>
        <p>模块热更替（ HMR - hot module replacement ）是一种局部刷新技术，它的作用是：</p>
        <ul>
            <li>保留页面的状态，哪怕重新加载过页面，比如保留复选框的选中状态；</li>
            <li>只更新变更的内容；</li>
            <li>如果源码的 CSS 或 JS 更新了，页面会立刻更新，其速度相当于在浏览器的调试工具中直接更改样式；</li>
            <li>提升构建速度，因为只需要重新构建变更过的模块就行了；</li>
        </ul>
        <blockquote>
            <p>HMR 只适用于开发环境。</p>
        </blockquote>
        <h2 id="6014901a-6d2f-4559-bacd-a30500a8a7b7">Tree Shaking</h2>
        <p>它用来剔除无用代码，但我目前没有使用它。</p>
        <h2 id="5d38ef7d-3ce9-43c6-b7a0-45886b7c5087">懒加载</h2>
    </article>
</body>

</html>