/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #101419;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
    --green: #62aa9a;
    --darkgreen: #032823;
}

:root {
    --article-width: 100vmin;
    --line-height: 1.75;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
header, aside, article,
h1, h2, h3, h4, h5, h6, p,
table, thead, tbody, th, tr, td,
ol, ul, li,
a, strong, button
pre, code,
blockquote {
    max-width: 100%;
    color: var( --white );
    font-family: "IBM Plex Sans";
    line-height: var( --line-height );
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

html, body, article {
    background-color: var( --black );
}

img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 1rem auto;
    border: none;
    outline: none;
    border-radius: var( --border-radius );
    line-height: 1;
}

svg {
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    line-height: 1;
}

/* 制造段落感 */
h1, h2, h3, h4, h5, h6, p,
table,
ul, ol, li,
pre,
blockquote {
    margin: 1.75rem 0;
}

/* 选中样式 */
::selection {
    color: var( --white );
    background-color: var( --purple );
}

/* 滚动条 */
html, aside {
    scrollbar-color: var( --grey ) transparent;
}

html::-webkit-scrollbar,
aside::-webkit-scrollbar {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
    border-radius: var( --border-radius );
    background-color: var( --grey );
}

html::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover {
    background-color: var( --purple );
}

pre {
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    display: none;
}

/* Header */
/* ------------------------------------------------------------------------------------------------- */
header {
    display: flow-root;
    border-bottom: 1px solid var( --grey );
}

header > button {
    float: right;
    width: 10rem;
    height: 3rem;
    padding: 0;
    margin: 1rem 2rem;
    border: none;
    border-radius: var( --border-radius );
    background-color: var( --purple );
    opacity: 0.5;
    transition: opacity 50ms ease-out;
    cursor: pointer;
}

header > button:hover,
header > button:active {
    opacity: 1;
}

header > button > a {
    display: block;
    text-decoration-line: none;
}

header > button > a > strong {
    display: block;
    color: var( --grey );
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    text-decoration-line: none;
}

/* 目录 */
/* ------------------------------------------------------------------------------------------------- */
aside {
    visibility: hidden;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: calc( 50vw + var( --article-width ) / 2 );
    max-height: 70vh;
    padding-right: 1rem;
    transform: translateY( -50% );
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

aside > p {
    padding: 0;
    margin: 0;
    line-height: 3;
    transition:
        color 50ms ease-out,
        border-left-color 50ms ease-out,
        background-color 50ms ease-out;
}

aside > p:first-child {
    color: var( --white );
    font-size: 1.2rem;
}

aside > p:first-child:link,
aside > p:first-child:visited,
aside > p:first-child:hover,
aside > p:first-child:active {
    color: var( --purple );
}

aside > p + p {
    padding-left: 1.5em;
    padding-right: 1em;
    border-left: 2px solid var( --grey );
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: transparent;
    font-size: 0.8rem;
}

aside > p + p:link,
aside > p + p:visited,
aside > p + p:hover,
aside > p + p:active {
    border-left-color: var( --purple );
    background-color: var( --grey );
}

/* Article */
/* ------------------------------------------------------------------------------------------------- */
article {
    width: var( --article-width );
    padding: 3rem 1rem 3rem 1rem;
    margin: 0 auto;
}

/* 标题 */
/* ------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    color: var( --yellow );
    font-weight: bold;
}

h1 {
    color: var( --white );
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

h5, h6 {
    font-weight: normal;
}

/* 代码 */
/* ------------------------------------------------------------------------------------------------- */
code {
    padding: 0 0.5rem;
    border-radius: 0.2em;
    background-color: var( --grey );
    font-family: "Fira Code";
    font-weight: normal;
}

pre > code {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

pre {
    overflow: auto;
    margin: 0.5em 0;
	padding: 1.25em 1em;
    border-radius: var( --border-radius );
    background-color: var( --grey );
}

/* 引用块 */
/* ------------------------------------------------------------------------------------------------- */
blockquote {
    display: flow-root;
    padding: 0rem 2rem 0.5rem 2rem;
    border-radius: var( --border-radius );
    background-color: var( --darkgreen );
}

blockquote > p:first-child > strong {
    color: var( --green );
    font-size: 1.5rem;
    line-height: 1;
}

/* 锚 */
/* ------------------------------------------------------------------------------------------------- */
a,
a * {
    color: var( --purple );
    text-decoration-line: underline;
    text-decoration-color: var( --purple );
    text-decoration-style: wavy;
}

/* 粗体 */
/* ------------------------------------------------------------------------------------------------- */
strong,
strong * {
    color: var( --purple );
    font-weight: bold;
}

/* 表格 */
/* ------------------------------------------------------------------------------------------------- */
table {
    --border-width: 2px;
}

table {
    table-layout: auto;
    width: 100%;
    border-top: var( --border-width ) solid var( --grey );
    background-color: rgba( 24, 38, 53, 0.1 );
}

table * {
    line-height: var( --line-height );
}

tr > th:first-child,
tr > td:first-child {
    padding-left: 1rem;
}

tr > th:last-child,
tr > td:last-child {
    padding-right: 1rem;
}

th {
    background-color: rgba( 24, 38, 53, 0.5 );
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

th, td {
    padding: 0.5rem 0;
    border-bottom: var( --border-width ) solid var( --grey );
}

/* 列表 */
/* ------------------------------------------------------------------------------------------------- */
li {
    position: relative;
    margin: 0.5rem;
    margin-left: 2rem;
}

li > ul,
li > ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* 无序列表 */
ul > li:not(.check-li)::before {
    --length: calc( 1rem * var( --line-height ) * 0.25 );
    content: "";
    position: absolute;
    top: calc( 1rem * var( --line-height ) / 2 );
    left: 0;
    width: var( --length );
    height: var( --length );
    margin-left: -0.5rem;
    border-radius: 999rem;
    background-color: var( --purple );
    transform: translate( -100%, -50% );
}

/* 有序列表 */
ol {
    counter-reset: index;
}

ol > li::before {
    --height: calc( 1rem * var( --line-height ) );
    counter-increment: index;
    content: counters( index, "." ) ".";
    position: absolute;
    top: 0;
    left: 0;
    height: var( --height );
    margin-left: -0.5rem;
    color: var( --purple );
    font-weight: bold;
    line-height: var( --height );
    transform: translateX( -100% );
}

/* 任务列表 */
ul > li > input[type="checkbox"] {
    display: none;
}

ul > li > input[type="checkbox"] + label {
    --length: calc( 1rem * var( --line-height ) * 0.6 );
    position: absolute;
    top: calc( 1rem * var( --line-height ) / 2 );
    left: 0;
    width: var( --length );
    height: var( --length );
    margin-left: -0.5rem;
    line-height: 1;
    opacity: 0.2;
    transform: translate( -100%, -50% );
    transition: opacity 50ms ease-out;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

ul > li > input[type="checkbox"] + label:hover {
    opacity: 0.4;
    cursor: pointer;
}

ul > li > input[type="checkbox"]:checked + label {
    opacity: 1;
}

ul > li > input[type="checkbox"] + label > svg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    color: var( --purple );
}
