pre {
	max-block-size: 16lh;
}

button {
	display: block;
	inline-size: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-family: "霞鹜文楷";
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}

button>span {
	display: none;
}

button.expand>span:first-child {
	display: block;
}

button.collapse>span:last-child {
	display: block;
}