.main {
	position: relative;
	max-inline-size: 55rem;
	inline-size: calc(100% - var(--gap) * 1);
	block-size: calc(100% - var(--gap) * 2);
	margin: var(--gap);
	margin-inline-start: 0;
}

.article {
	overflow: auto;
	inline-size: 100%;
	block-size: 100%;
	padding-block: var(--gap);
	color: var(--white);
	font-family: monospace;
}

.article *::selection {
	color: var(--black);
	background-color: var(--green);
}

.header,
.footer {
	position: absolute;
	left: 0%;
	inline-size: 100%;
	block-size: var(--gap);
	background-image: radial-gradient(var(--green) 1px, var(--black) 1px);
	background-size: 4px 4px;
}

.header {
	top: 0%;
}

.footer {
	bottom: 0%;
}

/* ------------------------------------------------------------------------------------ */

.article h2 {
	color: #0f0;
	font-size: 2rem;
	margin-block-start: 1rem;
}

.article h3 {
	color: #0f0;
	font-size: 1rem;
	margin-block-start: 1rem;
}