.catalog {
	display: flex;
	flex-direction: column;
	margin-inline: 1rem;
	user-select: none;
}

.name {
	color: var(--catalog-topic-color)
}

.icon {
	inline-size: 0.8lh;
	block-size: 0.8lh;
	color: var(--icon-color);
}

.icon>svg {
	inline-size: 100%;
	block-size: 100%;
}

.data {
	font-size: 65%;
	color: var(--catalog-post-color)
}

.parent {
	display: flex;
	align-items: center;
	padding-block-end: 0.25rem;
	border-block-end: 1px solid var(--line-color);
	margin-block-start: 2rem;
	cursor: pointer;
}

.parent.selected>.icon {
	transform: rotate(90deg);
}

.parent>.icon {
	margin-left: auto;
}

.child {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	padding-inline: 1rem;
	padding-block: 0.5rem;
	margin-block-start: 0.5rem;
	cursor: pointer;
}

.child.selected {
	background-color: var(--block-color);
}