.chapter {
	position: relative;
	inline-size: 100%;
	block-size: 100%;
	border-inline-end: 1rem solid transparent;
	border-block-end: 1rem solid transparent;
	user-select: none;
}

.relative {
	position: absolute;
	bottom: 0;
	right: 0;
	inline-size: 100%;
}

.heading {
	overflow: hidden;
	margin-block-start: 5px;
	color: var(--paragraph-color);
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.heading>span {
	cursor: pointer;
}

.heading>span:hover {
	color: var(--link-color);
}