.directory {
	--gap: 1rem;
}

.directory {
	display: flex;
	flex-direction: column;
	block-size: 100%;
	inline-size: 100%;
	padding: var(--gap);
	color: var(--white);
	font-family: monospace;
	font-weight: bold;
	user-select: none;
}

.node {
	display: flex;
	align-items: center;
	padding-inline: var(--gap);
	padding-block: calc(var(--gap) / 2);
	margin-block: calc(var(--gap) / 4);
	border: 1px solid transparent;
	border-radius: var(--radius);
	cursor: pointer;
}

.node:first-child {
	margin-block-start: 0;
}

.node:last-child {
	margin-block-end: 0;
}

.node:hover {
	border-style: dashed;
	border-color: var(--green);
}

.type.node.selected {
	color: var(--green);
}

.type.node.selected>.icon {
	transform: rotate(90deg);
}

.post.node.selected {
	border-color: var(--green);
	border-style: solid;
}

.icon {
	inline-size: 1rem;
	block-size: 1rem;
	margin-inline-start: auto;
}

.icon>svg {
	inline-size: 100%;
	block-size: 100%;
}