.nav {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	block-size: 100%;
	padding: var(--gap);
}

.nav>* {
	inline-size: 100%;
	border: 1px solid var(--green);
	border-radius: var(--radius);
}

.nav>*:nth-child(2) {
	margin-block: var(--gap);
}

.nav>.directory {
	flex-grow: 1;
}

.nav>.search,
.nav>.control {
	block-size: 3rem;
}