/* Nav */
/* ------------------------------------------------------------------------------------------------------------------ */
.nav {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	block-size: 100%;
	padding: 1rem;
	border-inline-end: 1px solid var(--line-color);
	user-select: none;
}

.nav>hr {
	flex-shrink: 0;
	block-size: 2rem;
	inline-size: 100%;
	border: none;
}

.icon {
	inline-size: var(--icon-size);
	block-size: var(--icon-size);
	color: var(--icon-color);
}

.icon a {
	color: inherit;
}

.icon svg {
	inline-size: 100%;
	block-size: 100%;
}

/* Search */
/* ------------------------------------------------------------------------------------------------------------------ */
.search {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	inline-size: 100%;
	block-size: 2.25rem;
	padding-inline: 0.8rem;
	border-radius: var(--border-radius);
	background-color: var(--block-color);
	cursor: text;
}

.search>.text {
	margin-inline-start: 0.5rem;
	color: var(--comment-color);
}

.search>.shortcut {
	margin-inline-start: auto;
	color: var(--icon-color);
	font-family: system-ui;
}

/* Catalog */
/* ------------------------------------------------------------------------------------------------------------------ */
.catalog {
	overflow: auto;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.catalog .name {
	color: var(--paragraph-color)
}

.catalog .data {
	font-size: 65%;
	color: var(--comment-color)
}

.catalog .topic {
	display: flex;
	align-items: center;
	padding-block-end: 0.25rem;
	border-block-end: 1px solid var(--line-color);
	margin-block-start: 2rem;
	cursor: pointer;
}

.catalog .topic:first-child {
	margin-block-start: 0
}

.catalog .topic.selected>.icon {
	transform: rotate(90deg);
}

.catalog .topic>.icon {
	margin-left: auto;
}

.catalog .post {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	padding-inline: 1rem;
	padding-block: 0.5rem;
	margin-block-start: 0.5rem;
	cursor: pointer;
}

.catalog .post.selected {
	background-color: var(--block-color);
}

/* Control */
/* ------------------------------------------------------------------------------------------------------------------ */
.control {
	display: flex;
	flex-shrink: 0;
}

.control>.icon {
	margin-inline-end: 1rem;
	cursor: pointer;
}

.control>.icon:last-child {
	margin-inline-start: auto;
	margin-inline-end: 0;
}