.search {
	position: fixed;
	top: 20%;
	left: 50%;
	inline-size: 42rem;
	inline-size: 42rem;
	max-inline-size: 80vw;
	max-inline-size: 80dvw;
	padding-inline: 1rem;
	padding-block: 0.75rem;
	border-radius: var(--border-radius);
	background-color: var(--line-color);
	transform: translateX(-50%);
	box-shadow:
		2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
		6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
		22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
		100px 100px 80px rgba(0, 0, 0, 0.07);
}

.search>hr {
	margin-block: 0.75rem;
	border: none;
	border-block-start: 1px solid var(--block-color);
}

/* Input panel */
.input {
	display: flex;
	align-items: center;
}

.input>span:first-child {
	flex-shrink: 0;
	inline-size: var(--icon-size);
	block-size: var(--icon-size);
	color: var(--icon-color);
}

.input>span:first-child>svg {
	inline-size: 100%;
	block-size: 100%;
}

.input>span:last-child {
	flex-grow: 1;
}

.input>span:last-child>input {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	padding-inline-start: 1rem;
	border: none;
	outline: none;
	color: var(--paragraph-color);
	background-color: transparent;
}

.input>span:last-child>input::placeholder {
	color: var(--comment-color);
}

/* Output panel */
.output {
	--line-height: 2.5;
	overflow: auto;
	max-block-size: 10lh;
	max-block-size: 10lh;
	color: var(--paragraph-color);
	user-select: none;
	line-height: var(--line-height);
}

.output>.link {
	display: block;
	overflow: hidden;
	padding-inline: 1rem;
	border-radius: var(--border-radius);
	color: inherit;
	line-height: var(--line-height);
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

.output>.link.selected {
	background-color: var(--block-color);
}

.output>.link mark {
	color: var(--link-color);
	background-color: transparent;
}