.welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	block-size: 100vh;
	block-size: 100dvh;
}

.welcome>p {
	color: var(--comment-color);
	font-size: 66px;
}