<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=a6b081c8-b971-49b1-9b54-6882bb04af77>npm</p>
        <p data-target-id=80916801-848c-42a4-a84c-280440be75af>npm init</p>
        <p data-target-id=2424a0bd-328c-4849-88b7-0f6f13f17f6a>npm install</p>
        <p data-target-id=689559e0-4b91-4251-b588-f51c590a7847>npm uninstall</p>
        <p data-target-id=2d690709-a3d7-47f6-877c-2cf701f17c8b>npm update</p>
        <p data-target-id=c404f843-d15d-4574-96b5-f635782c3dbc>npm ls</p>
        <p data-target-id=4a63c156-89e6-4d56-b98c-6bde2717b5e6>npm view</p>
        <p data-target-id=c81dbd23-a849-4650-9bfe-6d30605d3593>npm config</p>
        <p data-target-id=c9a46bcf-234d-4180-a1ad-6bcf98612230>npm docs</p>
        <p data-target-id=9d935f72-eb6f-4ff0-921e-a0795f60cae0>npm dedupe</p>
        <p data-target-id=effa3545-1e5b-4240-b007-498be33ff433>npm bin</p>
        <p data-target-id=b4579b16-681f-41d6-bbbe-6b5a5d799f2a>npm pkg</p>
        <p data-target-id=7f51bf47-b291-47f2-a46a-011118c093de>npm prefix</p>
        <p data-target-id=c3bced0c-1b26-4044-b134-37d12fcd7eee>npm root</p>
        <p data-target-id=63e617bb-42c0-4f23-9f7a-541b532d9c57>npm shrinkwrap</p>
        <p data-target-id=7a2c77fb-af3b-45c4-b204-cb73957317e7>npm start</p>
        <p data-target-id=2e729cca-4c3f-4e4a-8589-7ddb5a1ab2cc>npm stop</p>
        <p data-target-id=75c03493-f133-4b57-a9b0-302d7215f081>npm test</p>
        <p data-target-id=cd676804-d5e7-4a5a-a58e-bd3aeaf829d8>npm ci</p>
        <p data-target-id=6262ba2a-9ae2-4e25-8e3c-852a96800a1b>npm cache</p>
        <p data-target-id=52ab29be-a064-4c48-8c63-8fc81ade566f>npm deprecate</p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <h2 id="a6b081c8-b971-49b1-9b54-6882bb04af77">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="80916801-848c-42a4-a84c-280440be75af">npm init</h2>
        <h3 id="d2cb06d9-e794-45ea-9184-0b63f929c688">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="58af4786-150b-4172-a35e-159b4dad3bff">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="2424a0bd-328c-4849-88b7-0f6f13f17f6a">npm install</h2>
        <h3 id="fc9e0a7b-37c5-4a4e-adef-9e570b5d5e3b">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="5e04c296-23be-4c8f-975a-aaf155a7f86d">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="31edbaf5-adfb-44d7-a72e-5c38971ce197">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="6b34695f-08d6-4d45-ad59-bd22e7d67bea">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="689559e0-4b91-4251-b588-f51c590a7847">npm uninstall</h2>
        <h3 id="1443c325-2a24-44e3-a446-decc87024579">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="40f9666d-78ff-43f8-996d-b033d080132a">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="b58417c6-5dfd-4ea2-a589-3c61fe4e576c">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="2d690709-a3d7-47f6-877c-2cf701f17c8b">npm update</h2>
        <h3 id="ba319efd-c170-4e2e-942b-82e13e5af710">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="c6924049-e487-41d8-ae0a-8efce0fd63cb">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="c404f843-d15d-4574-96b5-f635782c3dbc">npm ls</h2>
        <h3 id="7cee5d4f-faa1-4de3-8e43-b34b61a778ec">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="5cf37e27-6eb0-4932-a1ba-29745a9bb38d">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="6a40ab60-7be8-4342-a180-24432ba8ccf7">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="4a63c156-89e6-4d56-b98c-6bde2717b5e6">npm view</h2>
        <h3 id="bd026ec4-2a82-4f46-9b31-34e7b472e308">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="7da317e7-c048-484b-bba7-962f35ad57dc">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="43bca143-9639-4bf4-9d28-b381bffcfe61">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="ecb942ff-4fad-4046-af38-ffd50eb15861">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="c81dbd23-a849-4650-9bfe-6d30605d3593">npm config</h2>
        <h3 id="5b8fee5d-d246-4752-aef0-89af3503a833">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="8b5389e5-3beb-4bca-a5f4-9e88ac8aae62">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="ce673d03-aaea-4f6a-9888-04faa95bb011">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="753974de-434e-485e-a6e8-d4d5ba679170">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="043f9741-aeb9-47e5-ba61-cf6c2a6bfa68">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="dd22a591-d3ea-4e5e-a9e1-29c2fc7158f8">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="43cc5881-8c39-4888-850f-5ea987d8edf8">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="c9a46bcf-234d-4180-a1ad-6bcf98612230">npm docs</h2>
        <h3 id="5878eb9c-b8f0-43a4-b709-7e4ffe7f0b7a">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="ee1256ae-cd68-4048-86ec-27109188be4f">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="9d935f72-eb6f-4ff0-921e-a0795f60cae0">npm dedupe</h2>
        <h3 id="030a72b0-60a5-48ca-8833-c240ef038e4a">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="0b1c6e17-7a9b-4477-acc5-2298e87c178c">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="effa3545-1e5b-4240-b007-498be33ff433">npm bin</h2>
        <h3 id="4e124b58-3dd6-448a-8bdc-2104ed6254fe">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="b0f4fb48-534e-4550-8690-a4590810738e">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="9bf92510-5176-4c6d-a0ed-987cac1b7880">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="b4579b16-681f-41d6-bbbe-6b5a5d799f2a">npm pkg</h2>
        <h3 id="0994b2d6-ff40-4a72-803f-867b237902fc">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="5c61b048-4cfe-4cb6-9647-770e4691c7be">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="f19cc2d8-084f-4bcc-81a6-22a63b09d466">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="34d49d1a-b235-43e6-9dff-d75849a509b4">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="787a7c23-8be6-4715-bcf6-f5307a97ea0c">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="7f51bf47-b291-47f2-a46a-011118c093de">npm prefix</h2>
        <h3 id="6f223b15-cce8-4c8d-ba07-a81c7c5a8ae1">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="7db04cb0-5730-429c-a0ca-7922f39d1dc0">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="c3bced0c-1b26-4044-b134-37d12fcd7eee">npm root</h2>
        <h3 id="150df8c0-55b4-417c-8fa3-6daab3f6da8c">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="0744fd03-0688-464f-b452-4b33cd464288">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="63e617bb-42c0-4f23-9f7a-541b532d9c57">npm shrinkwrap</h2>
        <h3 id="b8fbe480-0e14-4936-9ab1-992e46a62605">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="d22ab051-b28f-444b-8b84-6becf5ebf83d">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="7a2c77fb-af3b-45c4-b204-cb73957317e7">npm start</h2>
        <h3 id="25c88e6f-c3fc-48e6-9e01-9553a9f44ffe">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="2dbe0580-c715-4027-a7f0-c5f23c529ea0">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="2e729cca-4c3f-4e4a-8589-7ddb5a1ab2cc">npm stop</h2>
        <h3 id="cee8f098-0788-4d7a-b36f-e2d59d198f22">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="8383a2f0-367b-45c1-b47e-db9c4cb5a7cb">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="75c03493-f133-4b57-a9b0-302d7215f081">npm test</h2>
        <h3 id="dd266894-a5c3-4da0-a148-c796814f43e6">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="a0864b28-9da2-4eb4-a5bf-62446290af24">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="cd676804-d5e7-4a5a-a58e-bd3aeaf829d8">npm ci</h2>
        <h3 id="4e47a6c7-e4f5-4585-b29d-26797aa59ba5">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="6262ba2a-9ae2-4e25-8e3c-852a96800a1b">npm cache</h2>
        <h3 id="4e677d93-d691-4923-9a3b-f3589f84a060">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="52ab29be-a064-4c48-8c63-8fc81ade566f">npm deprecate</h2>
        <h3 id="f243fced-c640-48e4-8929-7dc3004fe322">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>