<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=b5db8328-9218-4bc8-8da0-e9c7c16d7d68>npm</p>
        <p data-target-id=3967026a-8acc-494d-832c-10cd29610ea2>npm init</p>
        <p data-target-id=6122c638-ff55-4c10-a822-b8b3e20ff738>npm install</p>
        <p data-target-id=78ddc74f-d7cf-4153-a4b0-6882afc25233>npm uninstall</p>
        <p data-target-id=1b525280-bdab-4138-9eff-084954d99ca7>npm update</p>
        <p data-target-id=26d4fc72-9016-4d1b-ae8b-24550aab1f2f>npm ls</p>
        <p data-target-id=54743fd7-f2fd-42ad-9be6-5de8665a7875>npm view</p>
        <p data-target-id=87efbedd-bbbf-4df5-ae87-074374950291>npm config</p>
        <p data-target-id=d075d1ad-8976-46c0-81c7-710a1401025e>npm docs</p>
        <p data-target-id=c35671e5-c9a1-4c0b-a81e-f4b24cebe28d>npm dedupe</p>
        <p data-target-id=95e7b58b-c150-4040-98f6-7e66d82c1114>npm bin</p>
        <p data-target-id=1ef4445a-9a00-4064-a80e-4d09b7e71962>npm pkg</p>
        <p data-target-id=2bfbbfd8-dd79-4645-81f4-14d7cb76d728>npm prefix</p>
        <p data-target-id=b6bf5ff6-6075-4e87-b8db-4b6bbb63dee3>npm root</p>
        <p data-target-id=6dd817ef-f4a9-4279-ba06-ed15bfe7ba36>npm shrinkwrap</p>
        <p data-target-id=9f7db7eb-5941-4dc9-baec-435758421b1b>npm start</p>
        <p data-target-id=be9af281-8a66-40d1-9c42-cb172d0dc3b1>npm stop</p>
        <p data-target-id=aa50fbca-27aa-433c-a760-ef03fd9f6851>npm test</p>
        <p data-target-id=e8ea4e8c-d9b1-4931-9477-11681bdebb00>npm ci</p>
        <p data-target-id=2cdbf66c-efe2-4138-b4f7-aca7189d0c70>npm cache</p>
        <p data-target-id=af5e14b2-8da3-4b64-b64f-89a39b8eb9a0>npm deprecate</p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <h2 id="b5db8328-9218-4bc8-8da0-e9c7c16d7d68">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="3967026a-8acc-494d-832c-10cd29610ea2">npm init</h2>
        <h3 id="1306d809-df62-4b0e-868e-f9af41faeda4">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="276b5751-d66b-43a5-8743-166e533b198c">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="6122c638-ff55-4c10-a822-b8b3e20ff738">npm install</h2>
        <h3 id="4aa14159-189a-4c93-af5f-1fcb45959bb7">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="fb60704f-6aa3-4546-af25-da60e45a7607">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="e303f0ae-03e1-43c5-828f-509989ba2bb6">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="4cae0796-5c29-48b1-9a26-4366672adc57">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="78ddc74f-d7cf-4153-a4b0-6882afc25233">npm uninstall</h2>
        <h3 id="2c8d5587-5208-49e2-9b92-53d4d9c44fdd">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="b33d60a7-16ac-4d38-9bc7-fa906be0cc53">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="a369aacc-423d-4e91-ad21-9c5f09cf1d01">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="1b525280-bdab-4138-9eff-084954d99ca7">npm update</h2>
        <h3 id="b8631b43-6860-4d4c-b435-abae2244395e">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="20a0abbe-5ad2-41fa-98e0-ac2adffc46ad">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="26d4fc72-9016-4d1b-ae8b-24550aab1f2f">npm ls</h2>
        <h3 id="efbb5ab0-19cd-46fc-aef4-8899a137dd85">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="2e131dcf-b27e-4190-ba20-b3b5b78962b1">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="40a28890-5a20-4087-bb59-389bbd1486f1">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="54743fd7-f2fd-42ad-9be6-5de8665a7875">npm view</h2>
        <h3 id="988c8c88-bb63-49d3-af68-42c177a1e393">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="565d112d-ae3a-4b78-9be2-a4f801ba5107">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="f4752c0e-f635-4c91-a13c-0770a870a98a">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="2fc2ce54-3dc6-4cf8-8733-aa096010bc4f">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="87efbedd-bbbf-4df5-ae87-074374950291">npm config</h2>
        <h3 id="5eaee003-8c68-41a5-926a-90b6170c2d3c">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="b7b5b671-d919-4ba9-abea-0c25bc9ff55c">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="71e34428-431c-4559-948b-65d24be23d32">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="c14b4db9-02e1-4579-81fb-34cc4e95f18e">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="96722c6e-53e9-499b-b022-549201dafedb">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="4df0d2ec-c57c-419b-83f1-93b350f0e076">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="cc7a71f7-4850-4158-b304-dd6cd2ea84d8">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="d075d1ad-8976-46c0-81c7-710a1401025e">npm docs</h2>
        <h3 id="a9710c66-aa45-4c5d-b087-630e153ebc66">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="0471f50d-7e2b-4676-8ba9-c5b870624612">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="c35671e5-c9a1-4c0b-a81e-f4b24cebe28d">npm dedupe</h2>
        <h3 id="ff7eb321-cd27-4310-be0b-7d18bbdc55fe">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="cc0f7daf-ffdb-426a-b479-ed88fa58af6d">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="95e7b58b-c150-4040-98f6-7e66d82c1114">npm bin</h2>
        <h3 id="1e7d2a2a-0ebb-4476-bd0c-b54d490fd7b9">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="e2c6d53c-4018-45f3-bb0f-ceb6577095f9">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="48e0f8fc-ee43-48aa-9610-a691d20fbf33">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="1ef4445a-9a00-4064-a80e-4d09b7e71962">npm pkg</h2>
        <h3 id="7c3443cb-8bc0-4637-a5bc-5262bee5fd47">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="7ee11cc2-7899-472e-b94a-8355450fca02">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="dc154c30-7af6-4987-a914-04cbeb73b3ad">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="53ba8142-6114-4cb2-ae8f-a3b3e4348a0e">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="352f1d79-57b1-4ccc-a3da-cac1d1c19d47">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="2bfbbfd8-dd79-4645-81f4-14d7cb76d728">npm prefix</h2>
        <h3 id="0b767172-80db-4793-b9f3-90254d908368">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="de6e2430-ad63-40a2-a509-fe33e78e8c1f">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="b6bf5ff6-6075-4e87-b8db-4b6bbb63dee3">npm root</h2>
        <h3 id="8d8a1931-6fbf-4e88-adad-30759e565180">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="581a9d78-215d-4777-94e5-4b9ab9e67bae">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="6dd817ef-f4a9-4279-ba06-ed15bfe7ba36">npm shrinkwrap</h2>
        <h3 id="90247526-e92e-49f6-af2e-eb230b31c2b3">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="b341dfe9-7571-4ee7-b459-66e5889071e4">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="9f7db7eb-5941-4dc9-baec-435758421b1b">npm start</h2>
        <h3 id="ad7ad0df-e329-4503-bae2-7013cdf7ecfb">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="b6f71c47-11d1-4f98-9a51-67b5f14d5ed4">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="be9af281-8a66-40d1-9c42-cb172d0dc3b1">npm stop</h2>
        <h3 id="1c96ca65-0f26-4d8f-aa2f-c46d6eacbe0e">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="9c123060-566d-4094-a7f5-c31c0b75b40e">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="aa50fbca-27aa-433c-a760-ef03fd9f6851">npm test</h2>
        <h3 id="2bd833c9-7a5e-4f63-b26b-4c11a3f7201c">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="8ff11d1f-3d1f-4475-a36b-4c6f3456d891">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="e8ea4e8c-d9b1-4931-9477-11681bdebb00">npm ci</h2>
        <h3 id="0e660a30-6474-4958-9285-9b85e38434b4">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="2cdbf66c-efe2-4138-b4f7-aca7189d0c70">npm cache</h2>
        <h3 id="abfe171b-87f2-490e-9eeb-c9aaaddf9194">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="af5e14b2-8da3-4b64-b64f-89a39b8eb9a0">npm deprecate</h2>
        <h3 id="0af55564-1c47-4543-9b0a-4798843d8599">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>