<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=de995611-4451-48e4-8f9d-9c3480b66914>npm</p>
        <p data-target-id=cea38464-ec7f-4b98-8d1d-93397e67081d>npm init</p>
        <p data-target-id=6c88b933-9e02-47aa-99ba-d6642026ef77>npm install</p>
        <p data-target-id=5cda6434-5c1b-4301-b551-b7097b650ad9>npm uninstall</p>
        <p data-target-id=08f982ef-1315-4f08-bb89-948b8cf02e80>npm update</p>
        <p data-target-id=35c2b308-7dd7-4033-a72b-3f4aba6a42e6>npm ls</p>
        <p data-target-id=17bc364b-4758-4300-997e-d1dc1673170b>npm view</p>
        <p data-target-id=9a2af5e1-2fc9-46f1-a7db-91c7836d3da0>npm config</p>
        <p data-target-id=f47543e8-9cf6-46e3-83f8-98e6a7f01ab2>npm docs</p>
        <p data-target-id=15f0ae82-364c-4673-bd7e-d49da31c19f3>npm dedupe</p>
        <p data-target-id=5c784ce2-b953-44b9-aad3-585e71218de3>npm bin</p>
        <p data-target-id=f7e377b2-5af0-4cf3-84a3-3fa3f87168ae>npm pkg</p>
        <p data-target-id=b52cd122-14ee-49ab-9b82-57ec076e2356>npm prefix</p>
        <p data-target-id=4a538b22-aa89-413f-8693-cd59ec81a026>npm root</p>
        <p data-target-id=2e38edcb-d1b1-4137-a0ad-a24de8969f16>npm shrinkwrap</p>
        <p data-target-id=8222bd7d-aa94-4bfe-a1f9-e6f1717628b4>npm start</p>
        <p data-target-id=01edbecd-8302-4e16-ae42-a4d1786bae74>npm stop</p>
        <p data-target-id=5c0341d1-068e-404c-9e25-4f31cef17982>npm test</p>
        <p data-target-id=3ff82a54-692c-4c34-abd8-375bae87c731>npm ci</p>
        <p data-target-id=1d3ba29e-5185-4fcb-a655-aff1073098e1>npm cache</p>
        <p data-target-id=2782729b-4308-4830-8b86-5b21e7647796>npm deprecate</p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <h2 id="de995611-4451-48e4-8f9d-9c3480b66914">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="cea38464-ec7f-4b98-8d1d-93397e67081d">npm init</h2>
        <h3 id="4c9e27d6-00d3-4610-b704-7dfe3f4a3053">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="1b8fba82-2d59-4fdc-b047-ffbd7f1a8495">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="6c88b933-9e02-47aa-99ba-d6642026ef77">npm install</h2>
        <h3 id="eb9ca3b8-b71a-435b-a7e5-563c82a64df7">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="86edd78c-1551-463b-9e55-711928dc5703">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="1899c8ec-9c3b-4d12-8dc8-cf5d60247d04">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="7b03179a-eb76-470b-b573-9f5f2f57ae95">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="5cda6434-5c1b-4301-b551-b7097b650ad9">npm uninstall</h2>
        <h3 id="d257648a-3d03-4e55-88d1-71148ecf85fa">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="59b10060-7126-4abc-9c7b-efc265bcdf2c">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="98357557-1a39-4267-a6a2-0badd1d2fb2d">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="08f982ef-1315-4f08-bb89-948b8cf02e80">npm update</h2>
        <h3 id="274acbaf-1676-4476-be1a-a472648aaadf">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="9cf42329-94e2-418f-b0e2-1ac39c5f85df">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="35c2b308-7dd7-4033-a72b-3f4aba6a42e6">npm ls</h2>
        <h3 id="a9ada36c-6761-4cd0-bb48-3f670222a3eb">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="cb94ebd3-44dd-4ce6-a9d9-65dc836cff75">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="5e8b95a7-225d-4adf-ac38-273f0f61e8fa">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="17bc364b-4758-4300-997e-d1dc1673170b">npm view</h2>
        <h3 id="7679747e-880f-434a-9105-1803667c2b63">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="d6a99bb2-eb95-4a47-89d2-89253aef32ee">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="e9670861-313f-4ea6-80e5-a4677a8dacbf">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="d7981cdc-bada-4445-aa6d-66c6af9d822a">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="9a2af5e1-2fc9-46f1-a7db-91c7836d3da0">npm config</h2>
        <h3 id="8dca5e3a-c629-43b6-a4e8-ccb3e2cdb23c">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="a812b51c-5036-46d5-9eb9-959617b7147f">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="cd6e27f4-bb98-416e-930c-db5e7f96c4eb">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="0050eb7c-bebe-46bb-8a81-92b0881912ae">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="042fe211-490c-4d1c-a93f-708d1e48b1ef">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="036fdbcf-d26c-41dd-a87e-aba0c79ec52f">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="39aada2d-705b-45e3-9673-8f1c763a0739">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="f47543e8-9cf6-46e3-83f8-98e6a7f01ab2">npm docs</h2>
        <h3 id="7da9aa2c-9f86-46de-8c2a-583c8a2a4343">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="bca21f65-5b97-40fe-859b-e9c40ed89e77">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="15f0ae82-364c-4673-bd7e-d49da31c19f3">npm dedupe</h2>
        <h3 id="ce4ed4bb-9dbb-4140-8e28-75a2ab6c1a45">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="db673365-aa37-4fa9-a68e-58fa772cb558">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="5c784ce2-b953-44b9-aad3-585e71218de3">npm bin</h2>
        <h3 id="5f2953d5-e144-4690-953c-85a591f45088">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="516c86a6-9551-4d76-9ff6-8eb433249055">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="f056d289-cc09-4141-9860-164d3f711c67">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="f7e377b2-5af0-4cf3-84a3-3fa3f87168ae">npm pkg</h2>
        <h3 id="426f618f-2c51-45d6-8d2e-e78fe8ee9e43">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="9339b510-ecb9-4076-a431-b287e51b5a70">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="f8580e96-398e-470d-b8fe-a2ad211881da">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="99865bf7-4d4a-45b1-bc3b-e07ac5fb9687">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="a200733e-216a-4080-8082-82f2b6de0858">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="b52cd122-14ee-49ab-9b82-57ec076e2356">npm prefix</h2>
        <h3 id="fe8ea238-2809-447a-9ae9-f4a7671c68b9">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="c84f733e-0b52-465f-bcc2-7af179ba51b6">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="4a538b22-aa89-413f-8693-cd59ec81a026">npm root</h2>
        <h3 id="a640fac2-0f7e-42d3-9e4a-9f87a72021aa">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="db635194-9ac9-4b3c-8bc0-cfd7aa87796b">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="2e38edcb-d1b1-4137-a0ad-a24de8969f16">npm shrinkwrap</h2>
        <h3 id="2750d7c2-bdc7-4ce5-9f0c-87cdf0269abf">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="fc4459d6-1a8a-49ae-8c5a-423f6505adf1">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="8222bd7d-aa94-4bfe-a1f9-e6f1717628b4">npm start</h2>
        <h3 id="2447bb61-afde-47b7-b6c3-427aaab0ed72">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="6ebb37ba-ef63-42d6-ae53-75c66d98c883">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="01edbecd-8302-4e16-ae42-a4d1786bae74">npm stop</h2>
        <h3 id="8c57e442-f5d0-40f6-8de6-89432c1c6915">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="38da243b-7d30-4130-8abb-ea4a1ddf8175">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="5c0341d1-068e-404c-9e25-4f31cef17982">npm test</h2>
        <h3 id="bd3f6b24-10cb-4a83-8e12-3b8b5b6635cb">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="c44ef37c-032b-4d0c-960c-862a43f3d6f2">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="3ff82a54-692c-4c34-abd8-375bae87c731">npm ci</h2>
        <h3 id="accce295-7c32-422b-b35a-50b5d1719969">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="1d3ba29e-5185-4fcb-a655-aff1073098e1">npm cache</h2>
        <h3 id="a370c0ca-5c15-4328-bf57-4b3e4f04eba4">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="2782729b-4308-4830-8b86-5b21e7647796">npm deprecate</h2>
        <h3 id="1f318087-9e30-4780-8c06-e69c22ed9a46">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>