<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>语义化版本控制</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#7d0e727b-7d04-447b-a6c6-459c32293853">总结</a></p>
    </aside>
    <article>
        <h1>语义化版本控制</h1>
        <p id="last-updated">Last Updated: 30/05/2022</p>
        <h2 id="7d0e727b-7d04-447b-a6c6-459c32293853">总结</h2>
        <p>版本号的格式为 <code>x.y.z</code> ，其中 <code>x</code> 是主版本号、 <code>y</code> 是次版本号、 <code>z</code> 是修订号。当软件正式发布时，版本号应从 <code>1.0.0</code> 开始，对于 <code>1.0.0</code> 及以上的版本，版本控制的规则如下：</p>
        <ul>
            <li><code>x</code> ：对公共 API 进行了任何不能向下兼容的修改后，递增主版本号，归零次版本号和修订号；</li>
            <li><code>y</code> ：对公共 API 进行了向下兼容的新增、修改、弃用后，或对内部代码进行了大量改进后，递增次版本号，归零修订号；</li>
            <li><code>z</code> ：进行了向下兼容的错误（ bug ）修正后，递增修订号；</li>
        </ul>
        <p>当软件处于初始开发阶段时，版本号应从 <code>0.1.0</code> 开始，零号版本意味着一切都可能随时改变，下一个次版本不一定会兼容上一个次版本，不过应当确保在次版本号相同的所有软件中，修订号更高的软件总能向下兼容修订号更低的软件。对于零号版本，版本控制的规则如下：</p>
        <ul>
            <li>首次发行，版本号为 <code>0.1.0</code> ；</li>
            <li>后续每次发行，递增次版本号；</li>
        </ul>
        <p>当该软件会对外暴露 API 时，才能使用该规范来定义版本（因为需要根据 API 的变化状况来修订版本）。更多细节，请见 <a href="https://semver.org">Semantic Versioning 2.0.0</a>。</p>
    </article>
</body>

</html>