<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>字典</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=53f5e7d6-1569-4846-b670-76c24700bb50>概述</p>
        <p data-target-id=e777559d-e3e0-482a-bab3-e65fa229a81d>实现</p>
        <p data-target-id=7874c61b-51c6-4b02-93f1-dcf246620c74>Map 和 WeakMap</p>
    </aside>
    <article>
        <h1>字典</h1>
        <h2 id="53f5e7d6-1569-4846-b670-76c24700bb50">概述</h2>
        <p>字典是指用键值对来存储数据的数据结构，它又称为映射、符号表、关联数组，JavaScript 的普通对象 <code>{}</code> 就是字典。</p>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>字典有多种实现方式，比如可以使用树、二维数组、散列函数来实现，其中使用散列函数来实现的字典被称为散列表。</p>
        </blockquote>
        <h2 id="e777559d-e3e0-482a-bab3-e65fa229a81d">实现</h2>
        <p>我们实现的字典将会拥有以下方法和属性。</p>
        <table>
            <thead>
                <tr>
                    <th>方法名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>has( key )</code></td>
                    <td>检查字典中是否存在键为 <code>key</code> 的键值对，然后返回一个代表其是否存在的布尔值</td>
                </tr>
                <tr>
                    <td><code>get( key )</code></td>
                    <td>从字典中获取一个键为 <code>key</code> 的键值对的值</td>
                </tr>
                <tr>
                    <td><code>set( key, value )</code></td>
                    <td>向字典添加一个键为 <code>key</code> 值为 <code>value</code> 的键值对（若已存在则修改该键值对），然后返回更新后的字典</td>
                </tr>
                <tr>
                    <td><code>delete( key )</code></td>
                    <td>从字典中移除一个键为 <code>key</code> 的键值对，然后返回一个代表其是否移除成功的布尔值</td>
                </tr>
                <tr>
                    <td><code>toArray()</code></td>
                    <td>按照键值对的插入顺序来将键值对以 <code>[key, value]</code> 的格式存入一个数组，然后返回这个数组</td>
                </tr>
                <tr>
                    <td><code>clear()</code></td>
                    <td>清空字典，然后返回更新后的字典</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>属性名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>size</code></td>
                    <td>键值对的数量</td>
                </tr>
            </tbody>
        </table>
        <p>在这里，我们选择使用双向链表 <code>DoublyLinkedList</code> 来存储字典中的键值对，<code>DoublyLinkedList</code> 是一个已经实现好的双向链表的类，你可以通过本博客的另一篇文章《链表》来了解它。</p>
        <p>具体来说，我们会使用 2 个 <code>DoublyLinkedList</code> 来实现一个字典，其中一个用于存储键，另一个用于存储值，最后通过节点的序号来将两个双向链表关联在一起。</p>
        <p><img src="/static/image/markdown/data-structure/dictionary/double-linked-list-structure.png" alt="双链表结构"></p>
        <p>不过，这样实现的字典的性能不高，比如它的 <code>has</code>、<code>get</code>、<code>set</code>、<code>delete</code>、<code>toArray</code> 方法的时间复杂度都是 <code>O(n)</code>，并且它也需要占用比较多的内存空间。</p>
        <p>最后，它的实现代码如下。</p>
        <pre><code class="language-js">class Dictionary {

    #key_table;
    #value_table;

    /**
     * @returns { Object } - Dictionary实例。
     */
    constructor () {

        this.#key_table = new DoublyLinkedList();
        this.#value_table = new DoublyLinkedList();

    }

    /**
     * 检查字典中是否存在键为key的键值对，然后返回一个代表其是否存在的布尔值。
     * @param { * } element - 键。
     * @returns { boolean } - 若该集合中存在键为key的键值对，则返回true，否则返回false。
     */
    has ( key ) {

        return this.#key_table.getNodeByData( key ).success;

    }

    /**
     * 从字典中获取一个键为key的键值对的值。
     * @param { * } key - 键。
     * @returns { * } - 键对应的值。
     */
    get ( key ) {

        const { success: has_key, data: index } = this.#key_table.getIndexByData( key );

        if ( ! has_key ) return;

        return this.#value_table.getNodeByIndex( index ).data.data;

    }

    /**
     * 向字典添加一个键为key值为value的键值对（若已存在则修改该键值对），然后返回更新后的字典。
     * @param { * } key - 键。
     * @param { * } value - 值。
     * @returns { Object } - 更新后的字典。
     */
    set ( key, value ) {

        const { success: has_key, data: index } = this.#key_table.getIndexByData( key );

        if ( has_key ) {

            this.#value_table.getNodeByIndex( index ).data.data = value;

            return this;

        }

        this.#key_table.push( key );
        this.#value_table.push( value );

        return this;

    }

    /**
     * 从字典中移除一个键为key的键值对，然后返回一个代表其是否移除成功的布尔值。
     * @param { * } key - 键。
     * @returns { boolean } - 若移除成功，则返回true，否则返回false。
     */
    delete ( key ) {

        const { success: has_key, data: index } = this.#key_table.getIndexByData( key );

        if ( ! has_key ) return false;

        this.#key_table.remove( index );
        this.#value_table.remove( index );

        return true;

    }

    /**
     * 按照键值对的插入顺序来将键值对以[key, value]的格式存入一个数组，然后返回这个数组。
     * @returns { Array } - 以[key, value]的格式来存储字典键值对的数组。
     */
    toArray () {

        const key_array = this.#key_table.toArray().data;
        const value_array = this.#value_table.toArray().data;

        return key_array.map( ( key, index ) =&gt; [ key, value_array[ index ] ] );

    }

    /**
     * 清空字典，然后返回更新后的字典。
     * @returns { Object } - 更新后的字典。
     */
    clear () {

        this.#key_table.clear();
        this.#value_table.clear();

        return this;

    }

    get size () {

        return this.#key_table.size;

    }

}
</code></pre>
        <h2 id="7874c61b-51c6-4b02-93f1-dcf246620c74">Map 和 WeakMap</h2>
        <p><code>Map</code> 是 ECMAScript 2015 的 API，它是比普通对象更加强大的字典，比如它可以使用任意数据类型的值来作为键、可以按照键值对的插入顺序来迭代、拥有更高的增删性能等，你可以通过阅读 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Map">这篇文章</a> 来进一步了解这个 API。</p>
        <p>另外，<code>WeakMap</code> 是一个类似于 <code>Map</code> 的 API，它同样源自于 ECMAScript 2015，它的特别之处在于只能使用复杂数据类型的值来作为键，并且它的键都是 “弱引用” 的，你可以通过阅读 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/WeakMap">这篇文章</a> 来进一步了解这个 API。</p>
    </article>
</body>

</html>