<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>队列</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=49d64ab8-b66e-4eb3-983a-fc5222abd7d4>概述</p>
        <p data-target-id=2b670fae-aef2-4a93-9591-22557bf4fbae>普通队列</p>
        <p data-target-id=60acb776-82b0-4256-b789-4f071ec5c96a>实现普通队列</p>
        <p data-target-id=37d574cc-4da9-4be2-aefc-6fc8264a818d>双端队列</p>
        <p data-target-id=df5e5f04-4c3a-4273-afc4-43e11e65dccd>实现双端队列</p>
        <p data-target-id=596a5ae2-9e1b-4ada-b3eb-19829e851efd>用队列解决问题</p>
    </aside>
    <article>
        <h1>队列</h1>
        <h2 id="49d64ab8-b66e-4eb3-983a-fc5222abd7d4">概述</h2>
        <p>本文将会讲述两种队列，一种是普通队列，另一种是双端队列。</p>
        <h2 id="2b670fae-aef2-4a93-9591-22557bf4fbae">普通队列</h2>
        <p>普通队列是遵循先进先出（FIFO）原则的有序集合，“先进先出”是指最先入列的数据会最先出列，最后入列的数据会最后出列。</p>
        <p>举例来说，普通队列就像现实生活中的排队，早来的人会排在队伍的前面，后来会排在队伍的后面，队首的人会优先获得服务并离队，队尾的人只能最后获得服务再离队，如果有新人加入，那么新人必须排在队伍的最后，其中队伍代表队列，人代表数据。</p>
        <h2 id="60acb776-82b0-4256-b789-4f071ec5c96a">实现普通队列</h2>
        <p>JavaScript 中没有普通队列这种数据结构，我们将使用对象来实现一个普通队列。其实我们也可以使用数组来实现普通队列，不过考虑到基于数组的普通队列有可能会触发某些遍历操作，而为了获得更好的性能，我们需要避免这种情况，所以我们最终采用了对象。</p>
        <p>我们实现的普通队列将会拥有以下方法和属性：</p>
        <table>
            <thead>
                <tr>
                    <th>方法名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>enqueue</td>
                    <td>向队尾添加一个至多个元素，然后返回更新后的队列</td>
                </tr>
                <tr>
                    <td>dequeue</td>
                    <td>从队首移除一个元素，然后返回这个被移除的元素</td>
                </tr>
                <tr>
                    <td>clear</td>
                    <td>清空队列，然后返回更新后的队列</td>
                </tr>
                <tr>
                    <td>peek</td>
                    <td>查询位于队首的元素</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>属性名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>size</td>
                    <td>元素的数量</td>
                </tr>
            </tbody>
        </table>
        <h3 id="3f45bb2a-4112-4bb7-b4f7-58937a3aaf4e">第一步：明确实现的思路</h3>
        <p>我们会创建一个名为 <code>Queue</code> 的类来代表队列，在 <code>Queue</code> 的内部，我们会创建一个名为 <code>#elements</code> 的内部属性，它是一个普通的 JavaScript 对象，比如 <code>{}</code>，我们用它来存储普通队列中的元素。具体来说，<code>#elements</code> 对象使用键值对来存储普通队列中的元素，其中键是元素的序号字符串，值就是元素。</p>
        <p><img src="/static/image/markdown/data-structure/queue/elements-property.png" alt="#elements内部属性"></p>
        <p>如果我们修改了普通队列，那么我们就需要更新 <code>#elements</code> 的键值对，在说明如何更新 <code>#elements</code> 之前，我们需要先了解一下 <code>#elements</code> 是如何存储普通队列中的元素的。具体来说，我们会先创建 2 个指针，其中一个名为 <code>#from</code>，另一个名为 <code>#to</code>，指针 <code>#from</code> 会指向队首元素在 <code>#elements</code> 中的位置，指针 <code>#to</code> 会指向队尾元素在 <code>#elements</code> 中的位置的 <strong>下一个位置</strong>，就像下图这样。</p>
        <blockquote>
            <p><strong>Note</strong></p>
            <p><code>#from</code> 和 <code>#to</code> 不是 C 语言中的指针，在这个例子中，<code>#from</code> 和 <code>#to</code> 中存储的值是序号字符串。</p>
        </blockquote>
        <p><img src="/static/image/markdown/data-structure/queue/pointer-from-and-to.png" alt="指针#from和#to"></p>
        <p>这种设计的好处之一是我们可以基于 <code>#from</code> 和 <code>#to</code> 的值来推算出 <code>#elements</code> 中所有的键值对（即队列中所有的元素），另一个好处是我们只需要移动指针的位置（即改变指针的值）即可实现移除和添加元素，而不需要像数组的 <code>splice</code> 方法那样重排所有元素的序号。举个例子，如果我们要移除掉队首的 <code>&quot;John&quot;</code> 和向队尾添加 <code>&quot;Jynx&quot;</code> 和 <code>&quot;Neo&quot;</code>，那么我们只需要将 <code>#from</code> 和 <code>#to</code> 各自向下移动 1 格和 2 格就可以了，就像下图这样。</p>
        <p><img src="/static/image/markdown/data-structure/queue/change-queue-by-pointer.png" alt="使用指针来修改队列"></p>
        <p>明确了实现普通队列的核心思路后，就可以开始实现我们的普通队列了。</p>
        <h3 id="ff2085ff-2827-4723-9b2a-16505b927623">第二步：创建队列的类</h3>
        <p>从这一步开始，我们就要正式开始创建我们的普通队列了，简明的代码比啰嗦的文字要更加易懂，所以请直接来看代码吧！</p>
        <pre><code class="language-js">class Queue {
    
    #elements = {};
    #from = 0;
    #to = 0;
    
    constructor( ... elements ) {
        
        this.size = 0;
        this.enqueue( ... elements );
        
    }
    
    enqueue( ... elements ) {
        
        elements.forEach( element =&gt; {
            
            this.#elements[ this.#to ++ ] = element;
            this.size ++;
            
        } );
        
        return this;
        
    }
    
    dequeue() {
        
        if ( ! this.size ) return;
        
        const element = this.#elements[ this.#from ];
        
        delete this.#elements[ this.#from ++ ];
        this.size --;
        
        return element;
        
    }
    
    peek() {
        
        return this.#elements[ this.#from ];
        
    }
    
    clear() {
        
        this.#elements = {};
        this.#from = 0;
        this.#to = 0;
        this.size = 0;

        return this.#elements;
        
    }
    
}
</code></pre>
        <h2 id="37d574cc-4da9-4be2-aefc-6fc8264a818d">双端队列</h2>
        <p>双端队列的英文名称是 double ended queue，简称为 deque，它与普通队列的区别是，它的队首和队尾都能移除和添加元素。</p>
        <h2 id="df5e5f04-4c3a-4273-afc4-43e11e65dccd">实现双端队列</h2>
        <p>双端队列的实现思路与普通队列的实现思路是一样的，不过双端队列还有 3 个额外的方法，分别用于向队首添加元素、从队尾移除元素、查询队尾元素。最终，我们实现的双端队列将会拥有以下方法和属性：</p>
        <table>
            <thead>
                <tr>
                    <th>方法名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>addFront</td>
                    <td>向队首添加一个至多个元素，然后返回更新后的队列</td>
                </tr>
                <tr>
                    <td>addBack</td>
                    <td>向队尾添加一个至多个元素，然后返回更新后的队列</td>
                </tr>
                <tr>
                    <td>removeFront</td>
                    <td>从队首移除一个元素，然后返回这个被移除的元素</td>
                </tr>
                <tr>
                    <td>removeBack</td>
                    <td>从队尾移除一个元素，然后返回这个被移除的元素</td>
                </tr>
                <tr>
                    <td>peekFront</td>
                    <td>查询位于队首的元素</td>
                </tr>
                <tr>
                    <td>peekBack</td>
                    <td>查询位于队尾的元素</td>
                </tr>
                <tr>
                    <td>clear</td>
                    <td>清空队列，然后返回更新后的队列</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>属性名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>size</td>
                    <td>查询元素的数量</td>
                </tr>
            </tbody>
        </table>
        <p>接下来，请看实现代码吧！</p>
        <pre><code class="language-js">class Deque {
    
    #elements = {};
    #from = 0;
    #to = 0;
    
    constructor( ... elements ) {
        
        this.size = 0;
        this.addBack( ... elements );
        
    }
    
    addFront( ... elements ) {
        
        elements.forEach( element =&gt; {
            
            this.#elements[ -- this.#from ] = element;
            this.size ++;
            
        } );
        
        return this;
        
    }
    
    addBack( ... elements ) {
        
        elements.forEach( element =&gt; {
            
            this.#elements[ this.#to ++ ] = element;
            this.size ++;
            
        } );
        
        return this;
        
    }
    
    removeFront() {
        
        if ( ! this.size ) return;
        
        const element = this.#elements[ this.#from ];
        
        delete this.#elements[ this.#from ++ ];
        this.size --;
        
        return element;
        
    }
    
    removeBack() {
        
        if ( ! this.size ) return;
        
        const element = this.#elements[ -- this.#to ];
        
        delete this.#elements[ this.#to ];
        this.size --;
        
        return element;
        
    }
    
    peekFront() {
        
        return this.#elements[ this.#from ];
        
    }
    
    peekBack() {
        
        return this.#elements[ this.#to - 1 ];
        
    }
    
    clear() {
        
        this.#elements = {};
        this.#from = 0;
        this.#to = 0;
        this.size = 0;

        return this.#elements;
        
    }
    
}
</code></pre>
        <h2 id="596a5ae2-9e1b-4ada-b3eb-19829e851efd">用队列解决问题</h2>
        <h3 id="e874da21-4cd9-4af4-a421-8ffbf0857b4c">击鼓传花</h3>
        <p>击鼓传花（hot potato）的游戏规则是：n 个人围成一圈，大家沿着同一时针方向来传递手绢（从第一个人开始），然后在某个随机的时刻暂停传递，并淘汰掉彼刻的手绢持有者，如此往复直至最后只剩下一个人。</p>
        <p>我们可以使用普通队列来模拟击鼓传花这个游戏，具体的实现思路是：我们不断的将队首的元素移动到队尾，直至达到某个随机的次数后，就淘汰掉彼时的队首元素，如此往复直至队列中只剩下一个元素为止。具体的实现代码如下。</p>
        <pre><code class="language-js">function play ( ... elements ) {
    
    const queue = new Queue( ... elements );
    
    while ( queue.size - 1 ) {
        
        let random_num = Math.round( Math.random() * 100 ) + 10;
        
        while ( random_num -- ) {
            
            queue.enqueue( queue.dequeue() );
            
        }
        
        console.log( &quot;淘汰者：&quot;, queue.dequeue() );
        
    }
    
    console.log( &quot;胜利者：&quot;, queue.peek() );
    
}
</code></pre>
        <p>测试一下这份代码。</p>
        <pre><code class="language-js">play( &quot;John&quot;, &quot;Jack&quot;, &quot;Camila&quot;, &quot;Lina&quot;, &quot;Jynx&quot;, &quot;Neo&quot;, &quot;Eva&quot;, &quot;Robin&quot;, &quot;Haber&quot;, &quot;Caro&quot; );

// 控制台将会打印：
// -&gt; 淘汰者：Robin
// -&gt; 淘汰者：Haber
// -&gt; 淘汰者：Jack
// -&gt; 淘汰者：Caro
// -&gt; 淘汰者：Neo
// -&gt; 淘汰者：John
// -&gt; 淘汰者：Camila
// -&gt; 淘汰者：Jynx
// -&gt; 淘汰者：Lina
// -&gt; 胜利者：Eva
</code></pre>
        <h3 id="22836ff6-444d-4cc8-9cd3-e8fa209a8dfb">回文检查器</h3>
        <p>回文（palindrome）是指正序和反序都相同的字符串，比如 <code>&quot;madam&quot;</code>、<code>&quot;racecar&quot;</code>、<code>&quot;人人为我，我为人人&quot;</code>。检查一个字符串是不是回文的方法有很多，最容易想到的办法就是比较反转后的字符串是否与原字符串相等，此时就可以用栈来解决这个问题，比如：</p>
        <p><img src="/static/image/markdown/data-structure/queue/reverse-string-by-stack.png" alt="使用栈来反转字符串"></p>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>因为 JavaScript 中的 <code>String.prototype</code> 没有 <code>reverse</code> 方法，所以我们才需要自己来手动反转字符串，基于栈来进行回文检查的程序的时间复杂度是 <code>O(n)</code>。</p>
        </blockquote>
        <p>除了使用栈之外，我们还可以使用双端队列来做回文检查，它的逻辑是：</p>
        <ul>
            <li>如果入参不是一个字符串，则返回 <code>false</code></li>
            <li>如果入参是一个字符串，且长度为 <code>0</code>，则返回 <code>false</code></li>
            <li>如果入参是一个字符串，且长度为 <code>1</code>，则返回 <code>true</code>，因为只有一个字符的字符串肯定是回文</li>
            <li>如果入参是一个字符串，且长度大于 <code>1</code>，那么就使用双端队列来存储每个字符，然后移除队首与队尾的元素，并比较这两个元素是否严格相等，一旦不相等就直接返回 <code>false</code>，否则就继续重复这个移除与比较的步骤，直至队列中只剩下 <code>1</code> 个或 <code>0</code> 个元素，然后就返回 <code>true</code></li>
        </ul>
        <p><img src="/static/image/markdown/data-structure/queue/check-palindrome-by-deque.png" alt="使用双端队列来检查回文"></p>
        <p>它的实现代码如下。</p>
        <pre><code class="language-js">function check( string ) {
    
    if ( typeof( string ) !== &quot;string&quot; ) return false;
    
    const elements = Array.from( string );
    
    if ( elements.length === 0 ) return false;
    if ( elements.length === 1 ) return true;
    
    const deque = new Deque( ... elements );
    
    while ( deque.size &gt; 1 ) {
        
        if ( deque.removeFront() === deque.removeBack() ) continue;
        
        return false;
        
    }
    
    return true;
    
}
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>基于双端队列的回文检查程序的时间复杂度也是 <code>O(n)</code>。</p>
        </blockquote>
        <p>最后，让我们来检查一下这个程序。</p>
        <pre><code class="language-js">check( &quot;madam&quot; );           // true
check( &quot;racecar&quot; );         // true
check( &quot;人人为我，我为人人&quot; ); // true
check( &quot;&quot; );                // false
</code></pre>
    </article>
</body>

</html>