<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>集合</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=43613e80-725e-4ecc-9b51-9cf09d0db045>概述</p>
        <p data-target-id=08863f32-8068-43b6-963b-ea38a26120d8>实现</p>
        <p data-target-id=0423ab6c-ed28-4a3d-ba84-fdfa41b5552d>集合运算</p>
        <p data-target-id=fbaf4527-6a00-45e1-a569-cee9ec792716>Set API</p>
        <p data-target-id=e12f981a-0803-47b8-8083-5663f5dbd0e3>多重集</p>
    </aside>
    <article>
        <h1>集合</h1>
        <h2 id="43613e80-725e-4ecc-9b51-9cf09d0db045">概述</h2>
        <p>集合是一种存储唯一值的数据结构，在数学上，一个包含数字 <code>1</code>、<code>2</code>、<code>3</code> 的集合是这样表示的 <code>{ 1, 2, 3 }</code>，另外，不包含任何元素的集合被称为空集，空集是这样表示的 <code>{}</code>。在本文中，我们会从头开始来实现一个集合，并命名为 <code>MySet</code>。</p>
        <h2 id="08863f32-8068-43b6-963b-ea38a26120d8">实现</h2>
        <p>我们将会实现一个名为 <code>MySet</code> 的集合，它将会拥有以下方法和属性。</p>
        <table>
            <thead>
                <tr>
                    <th>方法名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>has( element )</code></td>
                    <td>检查集合中是否存在 <code>element</code> 元素，然后返回一个代表其是否存在的布尔值</td>
                </tr>
                <tr>
                    <td><code>add( element )</code></td>
                    <td>向集合添加一个 <code>element</code> 元素，然后返回更新后的集合</td>
                </tr>
                <tr>
                    <td><code>delete( element )</code></td>
                    <td>从集合中移除一个 <code>element</code> 元素，然后返回一个代表其是否移除成功的布尔值</td>
                </tr>
                <tr>
                    <td><code>toArray()</code></td>
                    <td>按照元素的插入顺序来将元素存入一个数组，然后返回这个数组</td>
                </tr>
                <tr>
                    <td><code>clear()</code></td>
                    <td>清空集合，然后返回更新后的集合</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>属性名</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>size</code></td>
                    <td>元素的数量</td>
                </tr>
            </tbody>
        </table>
        <p>在实现 <code>MySet</code> 之前，我们还需要考虑如何存储集合中的元素，比如直接使用数组和普通对象来存储，又或者使用更复杂一些的栈、队列、链表等来存储。最终，本文决定选择使用双向链表 <code>DoublyLinkedList</code> 来存储集合中的元素，<code>DoublyLinkedList</code> 是一个已经实现好的双向链表的类，你可以通过本博客的另一篇文章《链表》来了解它。</p>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>本文之所以没有选择使用数组 <code>[]</code> 或对象 <code>{}</code> 来存储集合中的元素，是因为用它们来实现集合时都会碰到一些棘手的问题，比如如果使用数组来存储集合中的元素，那么在删除元素的时候就会需要重排数组的其它元素的序号，如果使用对象来存储集合中的元素，那么就会难以存储除了 <code>String</code> 和 <code>Symbol</code> 之外的其它数据类型。</p>
        </blockquote>
        <p>使用 <code>DoublyLinkedList</code> 的好处之一是它可以显著的简化 <code>MySet</code> 的实现逻辑，另一个好处是这个 <code>MySet</code> 可以处理 JavaScript 中的所有类型的数据，不仅仅是 <code>String</code> 和 <code>Symbol</code>，还包括 <code>Number</code>、<code>Boolean</code>、<code>Undefined</code>、<code>Null</code>、<code>BigInt</code>、<code>Object</code>。不过，这个 <code>MySet</code> 的 <code>has</code>、<code>add</code>、<code>remove</code>、<code>toArray</code> 方法的性能都不高，具体来说，这 4 个方法的时间复杂度都是 <code>O(n)</code>。</p>
        <p>最后，<code>MySet</code> 的实现代码如下。</p>
        <pre><code class="language-js">class MySet {

    #elements;

    /**
     * @returns { Object } - MySet实例。
     */
    constructor () {

        this.#elements = new DoublyLinkedList();

    }

    /**
     * 检查集合中是否存在element元素，然后返回一个代表其是否存在的布尔值。
     * @param { * } element - 待检查的元素。
     * @returns { boolean } - 若该集合中存在element元素，则返回true，否则返回false。
     */
    has ( element ) {

        return this.#elements.getNodeByData( element ).success;

    }

    /**
     * 向集合添加一个element元素，然后返回更新后的集合。
     * @param { * } element - 待添加的元素。
     * @returns { Object } - 更新后的MySet实例。
     */
    add ( element ) {

        const is_has = this.has( element );

        if ( is_has ) return this;

        this.#elements.push( element );

        return this;

    }

    /**
     * 从集合中移除一个element元素，然后返回一个代表其是否移除成功的布尔值。
     * @param { * } element - 待移除的元素。
     * @returns { boolean } - 若该集合中存在element元素，则会移除该元素并返回true代表移除成功，若该集合中不存在element元素，则直接返回fasle代表移除失败
     */
    delete ( element ) {

        const response = this.#elements.getIndexByData( element );

        if ( ! response.success ) return false;

        this.#elements.remove( response.data );

        return true;

    }

    /**
     * 按照元素的插入顺序来将元素存入一个数组，然后返回这个数组。
     * @returns { Array } - 元素数组。
     */
    toArray () {

        return this.#elements.toArray().data;

    }

    /**
     * 清空集合，然后返回更新后的集合。
     * @returns { Object } - 更新后的MySet实例。
     */
    clear () {

        this.#elements.clear();

        return this;

    }

    get size () {

        return this.#elements.size;

    }

}
</code></pre>
        <h2 id="0423ab6c-ed28-4a3d-ba84-fdfa41b5552d">集合运算</h2>
        <p>集合运算是指“针对集合的运算”，具体来说，集合运算包括并集、交集、差集、子集，它们的定义如图所示。</p>
        <p><img src="/static/image/markdown/data-structure/set/set-operation.png" alt="集合运算"></p>
        <p>我们会在 <code>MySet</code> 的基础上以纯函数的形式来继续实现这 4 个方法，纯函数是指没有副作用的函数，具体来说，纯函数不会修改调用者与入参，只会生成一个新的结果。</p>
        <h3 id="b0ee902c-ef41-4483-a5eb-d90f3f26dbd4">并集</h3>
        <pre><code class="language-js">class MySet {

    // ...

    /**
     * 返回一个新的MySet实例，它代表调用者和入参的并集，该方法不会改变调用者和入参。
     * @param { Object } another_set - MySet实例。
     * @returns { Object } - 新的MySet实例，它代表调用者和入参的并集。
     */
    merge ( another_set ) {

        const set = new MySet();

        this.toArray().forEach( element =&gt; set.add( element ) );
        another_set.toArray().forEach( element =&gt; set.add( element ) );

        return set;

    }

}
</code></pre>
        <h3 id="99417aff-cfe0-4065-b9fe-68005d0830c5">交集</h3>
        <pre><code class="language-js">class MySet {

    // ...

    /**
     * 返回一个新的MySet实例，它代表调用者和入参的交集，该方法不会改变调用者和入参。
     * @param { Object } another_set - MySet实例。
     * @returns { Object } - 新的MySet实例，它代表调用者和入参的交集。
     */
    intersect ( another_set ) {

        const set = new MySet();

        this.toArray().forEach( element =&gt; another_set.has( element ) &amp;&amp; set.add( element ) );

        return set;

    }

}
</code></pre>
        <h3 id="a0bcc0ee-550f-44bc-9641-d23f43d6214c">差集</h3>
        <pre><code class="language-js">class MySet {

    // ...

    /**
     * 返回一个新的MySet实例，它代表调用者和入参的差集（其元素只属于调用者且不属于入参），该方法不会改变调用者和入参。
     * @param { Object } another_set - MySet实例。
     * @returns { Object } - 新的MySet实例，它代表调用者和入参的差集。
     */
    differ ( another_set ) {

        const set = new MySet();

        this.toArray().forEach( element =&gt; another_set.has( element ) || set.add( element ) );

        return set;

    }

}
</code></pre>
        <h3 id="2ae6fda8-74e5-440e-9c24-8bdc4ba08a7f">子集</h3>
        <pre><code class="language-js">class MySet {

    // ...

    /**
     * 返回一个布尔值，代表调用者是否是入参的子集。
     * @param { Object } another_set - MySet实例。
     * @returns { boolean } - 若调用者是入参的子集，则返回true，否则返回false。
     */
    isSubsetOf ( another_set ) {

        if ( this.size &gt; another_set.size ) return false;

        return this.toArray().every( element =&gt; {

            if ( another_set.has( element ) ) return true;

            return false;

        } );

    }

}
</code></pre>
        <h2 id="fbaf4527-6a00-45e1-a569-cee9ec792716">Set API</h2>
        <p>其实，JavaScript 早已在语言层面上实现了集合这一数据结构，对应的 API 就叫做 <code>Set</code>，它是来自于 ECMAScript 2015 的特性。比如，我们可以通过 <code>new Set()</code> 来创建一个集合、通过 <code>add</code> 方法来向集合添加元素、通过 <code>delete</code> 方法来从集合中移除元素等等，你可以通过 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Set">这篇文章</a> 来了解它的使用方法。</p>
        <p><code>Set</code> 与 <code>MySet</code> 的区别在于前者的性能要快的多，不过前者并未实现集合运算。另外，JavaScript 还实现了一种特别的集合，名为 <code>WeakSet</code>，你可以通过 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/WeakSet">这篇文章</a> 来了解它。</p>
        <h2 id="e12f981a-0803-47b8-8083-5663f5dbd0e3">多重集</h2>
        <p>集合内的每个元素都是唯一的，不过，在数学中，有一个叫做多重集（multiset，又称袋）的概念，它允许我们向集合中插入已有的元素。多重集可用于统计集合中的元素的出现次数。</p>
    </article>
</body>

</html>