<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jynxio's homepage</title>
</head>

<body>
    <section id="cover">
        <canvas></canvas>
    </section>
    <section id="article">
        <header>
            <h1><span>JavaScript</span></h1>
            <h1><span>CSS</span></h1>
            <h1><span>Babel7</span></h1>
            <h1><span>Three</span></h1>
            <h1><span>Three.js</span></h1>
            <h1><span>Others</span></h1>
        </header>
        <main></main>
    </section>
</body>

</html>