<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jynxio's homepage</title>
</head>

<body>
    <canvas></canvas>
    <section id="cover">
        <h1>Jynxio</h1>
        <nav>
            <button>idea</button>
            <button>article</button>
            <button>github</button>
        </nav>
    </section>
    <!-- <section id="idea"></section> -->
    <!-- <section id="article"></section> -->
</body>

</html>