.post {
	--sidebar-width: 18rem;
	--content-width: calc(100% - var(--sidebar-width) * 2);
}

.post {
	inline-size: 100%;
	min-block-size: 100%;
}

.nav,
.chapter {
	position: fixed;
	top: 0;
	inline-size: var(--sidebar-width);
	block-size: 100vh;
	block-size: 100dvh;
}

.nav {
	left: 0;
}

.chapter {
	right: 0;
}

.content {
	inline-size: var(--content-width);
	margin-inline: auto;
	min-block-size: 100%;
}