.post {
	display: flex;
	inline-size: 100%;
}

.nav {
	flex: 0 0 var(--nav-width);
}

.chapter {
	flex: 0 0 var(--chapter-width);
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}