<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码结构</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#c766ebb6-bef8-4f80-9041-af30ccc98074">语句</a></p>
        <p data-level="1"><a href="#97426fb5-17b1-4984-9ab3-7be7bbc7aaa8">表达式</a></p>
        <p data-level="1"><a href="#ffccf55f-ccc8-4eba-b6cc-0aa860dde4eb">分号</a></p>
        <p data-level="1"><a href="#61284985-c5e8-43da-8ee1-2d5314698c58">注释</a></p>
    </aside>
    <article>
        <h1>代码结构</h1>
        <p id="last-updated">Last Updated: 27/04/2022</p>
        <h2 id="c766ebb6-bef8-4f80-9041-af30ccc98074">语句</h2>
        <p>语句由变量、字面值、操作符构成，比如这就是一条语句：</p>
        <pre><code class="language-js">alert( &quot;Hello World.&quot; );
</code></pre>
        <h2 id="97426fb5-17b1-4984-9ab3-7be7bbc7aaa8">表达式</h2>
        <pre><code class="language-js">a = b * 2;
</code></pre>
        <p>对于上例语句：</p>
        <ul>
            <li>
                <p><code>b</code> 是一个变量表达式，意思是要取出变量的值。</p>
            </li>
            <li>
                <p><code>2</code> 是一个字面量表达式。</p>
            </li>
            <li>
                <p><code>b * 2</code> 是一个算数表达式，意思是执行数学乘法。</p>
            </li>
            <li>
                <p><code>a = b * 2</code> 是一个赋值表达式，意思是要将右运算元的值赋值给左运算元。</p>
            </li>
        </ul>
        <p>下例则是一条调用表达式：</p>
        <pre><code class="language-js">alert( a );
</code></pre>
        <h2 id="ffccf55f-ccc8-4eba-b6cc-0aa860dde4eb">分号</h2>
        <p>JavaScript 有 <a href="https://tc39.es/ecma262/#sec-rules-of-automatic-semicolon-insertion">自动分号插入机制</a>，在大多数情况下，它会自动的将分号插入到源码的 token stream 中，因此你可以省略语句结尾的分号。但是自动分号插入机制不是完全可靠的，当语句以 <code>(</code> 或 <code>[</code>或、 <code>+</code>或、 <code>-</code>或、 <code>正则开头的斜杠</code> 或 <code>模版字符串</code> 开头时，该机制会失灵，因此你必须手动的为上一行语句添加分号。</p>
        <p>代码块的结尾则不需要使用分号。</p>
        <h2 id="61284985-c5e8-43da-8ee1-2d5314698c58">注释</h2>
        <pre><code class="language-js">// 单行注释
/* 多行注释 */
&lt;!-- 单行注释，极不推荐
</code></pre>
        <p>注释应当简洁准确的描述代码，无用的注释比没有注释更加糟糕。多行注释对于正则表达式来说是危险的，故要小心使用。</p>
    </article>
</body>

</html>