<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代码结构</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=a8da9b8a-1cda-4126-8808-12bbcd72d9ca>语句</p>
        <p data-target-id=04c34b9d-1877-4129-96cf-9488e5d2b454>表达式</p>
        <p data-target-id=6f2d93b3-b64f-465c-9781-19201807acaf>分号</p>
        <p data-target-id=66fbe96c-d855-48cf-af8d-f6462e21bff0>注释</p>
        <p data-target-id=9d4e6525-3caa-48c9-8aa0-0ec62d08213d>变量</p>
    </aside>
    <article>
        <h1>代码结构</h1>
        <h2 id="a8da9b8a-1cda-4126-8808-12bbcd72d9ca">语句</h2>
        <p>语句由变量、字面值、操作符构成，比如这就是一条语句：</p>
        <pre><code class="language-js">alert( &quot;Hello World.&quot; );
</code></pre>
        <h2 id="04c34b9d-1877-4129-96cf-9488e5d2b454">表达式</h2>
        <pre><code class="language-js">a = b * 2;
</code></pre>
        <p>对于上例语句：</p>
        <ul>
            <li>
                <p><code>b</code> 是一个变量表达式，意思是要取出变量的值。</p>
            </li>
            <li>
                <p><code>2</code> 是一个字面量表达式。</p>
            </li>
            <li>
                <p><code>b * 2</code> 是一个算数表达式，意思是执行数学乘法。</p>
            </li>
            <li>
                <p><code>a = b * 2</code> 是一个赋值表达式，意思是要将右运算元的值赋值给左运算元。</p>
            </li>
        </ul>
        <p>下例则是一条调用表达式：</p>
        <pre><code class="language-js">alert( a );
</code></pre>
        <h2 id="6f2d93b3-b64f-465c-9781-19201807acaf">分号</h2>
        <p>JavaScript 有 <a href="https://tc39.es/ecma262/#sec-rules-of-automatic-semicolon-insertion">自动分号插入机制</a>，在大多数情况下，它会自动的将分号插入到源码的 token stream 中，因此你可以省略语句结尾的分号。但是自动分号插入机制不是完全可靠的，当语句以 <code>(</code> 或 <code>[</code>或、 <code>+</code>或、 <code>-</code>或、 <code>正则开头的斜杠</code> 或 <code>模版字符串</code> 开头时，该机制会失灵，因此你必须手动的为上一行语句添加分号。</p>
        <p>代码块的结尾则不需要使用分号。</p>
        <h2 id="66fbe96c-d855-48cf-af8d-f6462e21bff0">注释</h2>
        <pre><code class="language-js">// 单行注释
/* 多行注释 */
&lt;!-- 单行注释，极不推荐
</code></pre>
        <p>注释应当简洁准确的描述代码，无用的注释比没有注释更加糟糕。多行注释对于正则表达式来说是危险的，故要小心使用。</p>
        <h2 id="9d4e6525-3caa-48c9-8aa0-0ec62d08213d">变量</h2>
        <p>变量是数据的标志，在 JavaScript 中，变量的命名需要遵循下述规则：</p>
        <ul>
            <li>只能使用字母、数字、美元符号 <code>$</code>、下划线 <code>_</code> 。</li>
            <li>不能以数字开头。</li>
            <li>不能使用 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Lexical_grammar">保留字</a> 。</li>
            <li>可以使用非阿拉伯字母，比如 <code>const 壹 = 1</code>，但不推荐。</li>
        </ul>
        <p>我的命名习惯是：</p>
        <ul>
            <li>对于常量，使用全大写。</li>
            <li>对于普通变量，使用蛇形命名法。</li>
            <li>对于函数、方法、属性，使用小驼峰命名法。</li>
            <li>对于构造器，使用大驼峰命名法。</li>
        </ul>
    </article>
</body>

</html>