<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=7b59ea05-b598-4bbf-b46a-3a538b10d0e2>概述</p>
        <p data-target-id=af098c25-2c69-423f-81bb-17183722ff35>极值</p>
        <p data-target-id=a20d031e-feef-4a3d-adb4-000be2667936>NaN</p>
        <p data-target-id=87df2944-dd7a-49dd-9b17-ef2b226514a3>Infinity</p>
        <p data-target-id=5cc156e3-0104-41a3-a758-05c0b4ee1b35>零</p>
        <p data-target-id=b2352749-bb63-4d11-add9-7cf0cd8c2b49>进制</p>
        <p data-target-id=84767c95-e4ce-4ac8-87f2-25f5280829af>科学计数法</p>
        <p data-target-id=fc3b7dfe-0d2c-4abd-811c-ce44697e5d2a>数字分隔符</p>
        <p data-target-id=21dc3bb2-9755-4168-b46e-d612e744dbc6>字面量与原型方法</p>
        <p data-target-id=2fdec0c5-7b1a-4b47-b247-83dba2f22490>不精确的小数</p>
    </aside>
    <article>
        <h1>Number</h1>
        <h2 id="7b59ea05-b598-4bbf-b46a-3a538b10d0e2">概述</h2>
        <p>Number 是 JavaScript 中唯一的数值类型，它是基于 IEEE-754 标准的双精度 64 位二进制格式的值，其中，52 位用于存储整数，11 位用于存储小数，1 位用于存储符号。</p>
        <p>JavaScript 中没有整数数值类型，所有整数都是用 Number 这种浮点数数值类型来表示的。</p>
        <p>除了常规的数值外，JavaScript 还定义了两个特殊的数值，分别是 <code>Infinity</code> 和 <code>NaN</code>，前者表示无穷，后者表示计算错误。</p>
        <h2 id="af098c25-2c69-423f-81bb-17183722ff35">极值</h2>
        <p><code>Number.MAX_VALUE</code> 属性是 JavaScript 所能存储的最大的数值，约为 <code>1.798e+308</code>，任何超过该值的数值都会被转换为 <code>Infinity</code>。<code>Number.MIN_VALUE</code> 属性是 JavaScript 所能存储的最小的正数值，约为 <code>5e-324</code>，任何小于该值的正数值都会被转换为 <code>0</code>。</p>
        <p><code>Number.MAX_SAFE_INTEGER</code> 属性是 JavaScript 所能安全存储的最小整数，值为 <code>- ( 2^53-1 )</code>，即 <code>-9007199254740991</code>。<code>Number.MAX_SAFE_INTEGER</code> 属性是 JavaScript 所能安全存储的最大整数，值为 <code>( 2^53-1 )</code>，即 <code>9007199254740991</code>。所以 JavaScript 的整数值的安全存储范围就是 <code>[ - ( 2^53 - 1 ), ( 2^53 - 1 ) ]</code>。如果两个整数值超出了安全存储的范围，那么 JavaScript 就无法准确的区分这两个整数值了，这便是“安全存储”的含义，这种缺陷来自于 IEEE-754。</p>
        <pre><code class="language-js">Number.MAX_SAFE_INTEGER + 1 === Number.MAX_SAFE_INTEGER + 2; // true
</code></pre>
        <p><code>Number.isSafeInteger( value )</code> 可以用来判断入参是否是一个安全的整数值，你可以通过 <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Number/isSafeInteger">这篇文章</a> 来了解更多。</p>
        <h2 id="a20d031e-feef-4a3d-adb4-000be2667936">NaN</h2>
        <p>NaN 是 JavaScript 的一个特殊值，它是 Not a Number 的缩写，它代表计算错误。具体来说，如果 JavaScript 执行了一个错误的数学运算表达式，它不会像 C++ 等语言一样抛出一个错误，而是直接返回 <code>NaN</code>，来表示发生了计算错误。</p>
        <pre><code class="language-js">1 / {}; // NaN
</code></pre>
        <p>因为 <code>NaN</code> 代表计算错误，所以任何含有 <code>NaN</code> 的数学运算表达式也必然会返回 <code>NaN</code>。唯一的例外是 <code>NaN ** 0</code> 的值为 <code>1</code>，因为 JavaScript 规定任何值的零次方都等于一。</p>
        <pre><code class="language-js">NaN + 10; // NaN
NaN ** 0; // 1
</code></pre>
        <p><code>NaN</code> 是 JavaScript 中唯一一个自己不等于自己的值。</p>
        <pre><code class="language-js">NaN == NaN; // false
NaN === NaN; // false
</code></pre>
        <p><code>NaN</code> 是英文 not a number 的缩写，它代表计算错误。当数学运算不正确时，表达式便会返回该值，若数学表达式内有 <code>NaN</code>，则该表达式的返回值必然是 <code>NaN</code>，唯一的例外是：<code>NaN ** 0</code> 为 <code>1</code>。</p>
        <p><code>NaN</code> 是 JavaScript 中唯一一个自己不等于自己的值，如果我们想要检测 <code>NaN</code>，我们就需要使用 <code>Number.isNaN( value )</code> 方法。</p>
        <pre><code class="language-js">NaN ==  NaN; // false
NaN === NaN; // false

Number.isNaN( NaN ); // true
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p><code>Number.isNaN</code> 方法源自于 ECMAScript 2015，它用来替代此前的 <code>globalThis.isNaN</code> 方法。因为当入参为 <code>NaN</code>、<code>undefined</code>、非空且非数字字符串、函数、普通对象的时候，<code>globalThis.isNaN</code> 方法都会返回 <code>true</code>，所以请不要再使用 <code>globalThis.isNaN</code>。</p>
            <p>如果运行时中缺少 <code>Number.isNaN</code>，那么你可以使用这个 Polyfill：</p>
            <pre><code class="language-js">if ( ! Number.isNaN ) {
    
    Number.isNaN = function( v ) { return v !== v };
    
}
</code></pre>
        </blockquote>
        <h2 id="87df2944-dd7a-49dd-9b17-ef2b226514a3">Infinity</h2>
        <p><code>Infinity</code> 是 JavaScript 的一个特殊值，它代表无穷大，如果数值超过 JavaScript 的存储极限，那么这个数值就会被就近的舍入为 <code>Number.MAX_VALUE</code> 或 <code>Infinity</code>。</p>
        <pre><code class="language-js">Number.MAX_VALUE + Math.pow( 2, 969 ); // Number.MAX_VALUE
Number.MAX_VALUE + Math.pow( 2, 970 ); // Infinity
</code></pre>
        <p>另外，<code>-Infinity</code> 代表无穷小，它不是一个值，而是一个数学运算表达式，它代表 <code>( -1 ) * Infinity</code>。</p>
        <h2 id="5cc156e3-0104-41a3-a758-05c0b4ee1b35">零</h2>
        <p>在 JavaScript 中，<code>0</code>、<code>+0</code>、<code>-0</code> 三者是相等的。不过，如无必要，请勿使用 <code>+0</code>和 <code>-0</code>，一是为了某些性能优化，二是为了代码的简洁。比如，如果我们使用 <code>-0</code> 来作为 JavaScript 对象的键，那么 V8 引擎就有可能会永远降低 JavaScript 对象的性能，具体原因请查看本博客的另一篇文章《V8 Object》。</p>
        <p>小数点前的零是可以省略的，比如 <code>.1</code> 等价于 <code>0.1</code>。是否这样做取决于我们的编程风格。</p>
        <h2 id="b2352749-bb63-4d11-add9-7cf0cd8c2b49">进制</h2>
        <p>JavaScript 默认使用十进制来表示数值，此外它还支持二进制、八进制、十六进制和其他自定义的进制。如果我们想要使用二进制、八进制、十六进制的数值，那么我们就需要为数值添加特殊的前缀标识，具体来说：</p>
        <ul>
            <li>二进制：<code>0b</code></li>
            <li>八进制：<code>0o</code></li>
            <li>十六进制：<code>0x</code></li>
        </ul>
        <p>另外，如果你用 <code>0</code> 来作为数值的前缀，那么这个数值将被当作八进制数值，这是一种淘汰了的八进制表示法，严格模式禁止这种写法。</p>
        <pre><code class="language-js">0b11; // 二进制
0o77; // 八进制
0xff; // 十六进制
077;  // 八进制（淘汰）
</code></pre>
        <p>如果你想使用其它的进制，那么你可以使用 <code>Number.prototype.toString( radix )</code> 方法来将一个数值转换为指定进制的数值字符串，不过你还需要手工编写一个可以按照指定进制来解析数值字符串的方法，因为 JavaScript 不提供相关的内建方法。下例将十进制的数值 <code>3</code> 转换为了三进制的数值字符串 <code>&quot;10&quot;</code>。</p>
        <pre><code class="language-js">3..toString( 3 ); // &quot;10&quot;
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p><code>radix</code> 参数是一个属于 <code>[ 2, 36 ]</code> 的整数。</p>
        </blockquote>
        <h2 id="84767c95-e4ce-4ac8-87f2-25f5280829af">科学计数法</h2>
        <p>JavaScript 的科学计数法的格式是：<code>底数 + e或E + 指数</code>。比如：</p>
        <pre><code class="language-js">2.5e5;  // 250000
2.5e+5; // 250000
2.5e-5; // 0.000025
2.5E+5; // 250000
2.5E-5; // 0.000025
</code></pre>
        <h2 id="fc3b7dfe-0d2c-4abd-811c-ce44697e5d2a">数字分隔符</h2>
        <p>数字分隔符是 ECMAScript 2021 的语法糖特性，该特性允许我们为数值字面量添加下划线，这可以增强数值的可读性。</p>
        <pre><code class="language-js">1_000_000_000_000 === 1000000000000;          // true
1_000_000_000_000n === 1000000000000n;        // true
0b1010_0001_1000_0101 === 0b1010000110000101; // true
0xa0_b0_c0 === 0xa0b0c0;                      // true
</code></pre>
        <p>由于该特性在移动端的 <a href="https://caniuse.com/?search=numeric%20separator">支持度</a> 不详，因此请总是为其应用 babel。最后，你可以通过 <a href="https://github.com/tc39/proposal-numeric-separator">这篇文章</a> 来了解更多细节。</p>
        <h2 id="21dc3bb2-9755-4168-b46e-d612e744dbc6">字面量与原型方法</h2>
        <p>如果数值字面量想要调用 <code>Number.prototype</code> 上的方法，那么它需要遵循下述规则：</p>
        <ul>
            <li>若字面量带有小数点，比如 <code>0.1</code>，则可以直接调用原型方法，比如 <code>0.1.toString()</code></li>
            <li>若字面量是指数，比如 <code>2e5</code>，则可以直接调用原型方法，比如 <code>2e5.toString()</code></li>
            <li>若字面量是整数，比如 <code>1</code>，则需满足下述格式后，才能调用原型方法：<ul>
                    <li><code>1..toString()</code></li>
                    <li><code>1.0.toString()</code></li>
                    <li><code>( 1 ).toString()</code></li>
                    <li><code>1 .toString()</code></li>
                </ul>
            </li>
        </ul>
        <h2 id="2fdec0c5-7b1a-4b47-b247-83dba2f22490">不精确的小数</h2>
        <h3 id="aeb20223-9813-4e9a-94e6-13f0dcea9871">概述</h3>
        <p>当我们使用 JavaScript 这门语言来操纵数值的时候，会遇到一些反常的现象，引发这些现象的根本原因是：JavaScript 无法精确的存储某些小数。</p>
        <pre><code class="language-js">/* 反常的现象 */
0.1 + 0.2 === 0.3; // false
</code></pre>
        <h3 id="4b1718a9-2d21-4102-94a6-c4f022c40e0c">原因</h3>
        <p>前文提到，JavaScript 使用二进制来存储数值，在理论上，二进制可以精确的存储所有整数，但是却不能精确的存储所有小数。比如，<code>0.5</code> 的二进制值为 <code>0.1</code>，<code>0.1</code> 的二进制值为 <code>0.000110011001100...</code>，这是一个循环节为 1100 的无限循环小数。</p>
        <p>由于 JavaScript 只能使用有限的位数（11 位）来存储数值的小数部分，所以当它遇到类似于 <code>0.1</code> 这样的小数时，就会对其进行舍入，所以 JavaScript 中的 <code>0.1</code> 并不等于数学上的 <code>0.1</code>。这便是 JavaScript 无法精确存储某些小数的根本原因。</p>
        <p>我们可以通过 <code>String.prototype.toFixed</code> 方法来查看小数的真实值，观察下述代码，你就会明白概述中的反常现象的成因了。</p>
        <pre><code class="language-js">0.1.toFixed( 20 ); // 0.10000000000000000555
0.2.toFixed( 20 ); // 0.20000000000000001110
0.3.toFixed( 20 ); // 0.29999999999999998890

( 0.1 + 0.2 ).toFixed( 20 ); // 0.30000000000000004441
</code></pre>
        <h3 id="855542e4-1e60-4a30-bbf1-5a6097c5837b">解决</h3>
        <p>一个好用的解决方案是，如果两个数值的差值的小于某个阈值，那么我们就可以认为这两个数值时相等的，通常我们会取机器精度（<code>Number.EPSILON</code>）来作为这个阈值。下例就是实现：</p>
        <pre><code class="language-js">function numbersCloseEnoughToEqual( value_1, value_2 ) {
    
    return Math.abs( value_1 - value_2 ) &lt; Number.EPSILON;
    
}
</code></pre>
        <p>这个解决方案可以完美的解决我们在概述中遇到的反常现象。</p>
        <pre><code class="language-js">numbersCloseEnoughToEqual( 0.1 + 0.2, 0.3 ); // true
</code></pre>
        <p><code>Number.EPSILON</code> 是 ECMAScript 2015 的特性，它的值是 <code>2^-52</code>。如果运行时缺少了 <code>Number.EPSILON</code>，那么你可以使用这个 Polyfill。</p>
        <pre><code class="language-js">if ( !Number.EPSILON ) Number.EPSILON = Math.pow( 2, -52 );
</code></pre>
    </article>
</body>

</html>