<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>严格模式</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=e1133c7d-4d9d-4ea4-afc3-3c9de15bd326>概述</p>
        <p data-target-id=0cf14c43-2789-40a0-8c36-9bc80cccce89>&quot;use strict&quot;</p>
        <p data-target-id=741e73e5-cade-4a8d-8120-d5871fe5d400>作用</p>
        <p data-target-id=4cd72d87-38ae-436e-83b2-b318f04defcb>Class 和 module</p>
        <p data-target-id=89e9d6ec-0fb7-4480-8431-d94ccc2c9029>浏览器控制台</p>
    </aside>
    <article>
        <h1>严格模式</h1>
        <h2 id="e1133c7d-4d9d-4ea4-afc3-3c9de15bd326">概述</h2>
        <p>严格模式由 ES5 引入，它修正了 JavaScript 这门语言中的不良设计并引入了许多新特性。严格模式的影响是破坏性的，为了保持向后兼容，严格模式没有默认开启，你需要一个特殊的指令——<code>&quot;use strict&quot;</code> 来明确的激活它，并且严格模式一旦激活便无法退出。</p>
        <h2 id="0cf14c43-2789-40a0-8c36-9bc80cccce89">&quot;use strict&quot;</h2>
        <p>若 <code>&quot;use strict&quot;</code> 出现在脚本文件的顶部，则整个脚本文件将使用严格模式。若 <code>&quot;use strict&quot;</code> 出现在函数体的顶部，则该函数将使用严格模式，比如：</p>
        <pre><code class="language-js">&quot;use strict&quot;;

// 整个脚本文件将使用严格模式
</code></pre>
        <pre><code class="language-js">function f() {
    &quot;use strict&quot;;
    
    // 该函数将使用严格模式
}
</code></pre>
        <p>若 <code>&quot;use strict&quot;</code> 的书写位置不是整个脚本文件的顶部或函数体的顶部，则会静默失败。例外的是，注释可以出现在 <code>&quot;use strict&quot;</code> 的上方。</p>
        <h2 id="741e73e5-cade-4a8d-8120-d5871fe5d400">作用</h2>
        <p>以下操作在严格模式下会触发错误，在非严格模式下则不会：</p>
        <ul>
            <li>使用废弃的 <code>with</code></li>
            <li>对未声明的变量进行赋值</li>
            <li>对变量使用 <code>delete</code> 操作</li>
            <li>重复使用属性名，比如 <code>{ a: 1, a: 2 }</code></li>
            <li>重复使用参数名，比如 <code>function f( a, a ) {}</code></li>
            <li>重写不可写的数据属性</li>
            <li>删除不可配置的数据属性</li>
            <li>在块语句内部声明函数，比如 <code>if ( 1 ) { function f() {} }</code></li>
            <li>使用保留字来命名变量</li>
            <li>使用过时的以 <code>0</code> 为前缀的八进制语法；</li>
            <li>使用 <code>arguments.callee</code> 、<code>arguments.caller</code>、<code>anyFunction.caller</code>、<code>anyFuntion.arguments</code></li>
        </ul>
        <p>严格模式与非严格模式的 <code>this</code> 的值是有区别的：</p>
        <ul>
            <li>对于普通函数：<ul>
                    <li>严格模式下的 <code>this</code> 的值是 <code>undefined</code></li>
                    <li>非严格模式下的 <code>this</code> 的值是 <code>window</code> 对象</li>
                </ul>
            </li>
            <li>对于由 <code>call</code> 或 <code>apply</code> 调用的函数：<ul>
                    <li>严格模式下的 <code>this</code> 的值是入参的值</li>
                    <li>非严格模式下：<ul>
                            <li>若入参的值是 <code>null</code> 或 <code>undefined</code>，则 <code>this</code> 的值就是 <code>window</code> 对象</li>
                            <li>若入参的值是其余类型的原始值，则 <code>this</code> 的值就是该原始值的包装对象</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <h2 id="4cd72d87-38ae-436e-83b2-b318f04defcb">Class 和 module</h2>
        <p><code>class</code> 语法和模块脚本是默认使用严格模式的。</p>
        <h2 id="89e9d6ec-0fb7-4480-8431-d94ccc2c9029">浏览器控制台</h2>
        <p>浏览器控制台默认不激活严格模式，如果你想在控制台中激活严格模式，则需要搭配使用 <code>Shift + Enter</code> 来键入多行代码，并且将 <code>&quot;use strict&quot;</code> 放在代码的顶部，这种办法对大部分浏览器都有效，如果不奏效，可以使用下例这种方法：</p>
        <pre><code class="language-js">( function() {    // Shift + Enter
    &quot;use strict&quot;; // Shift + Enter
    const a = 1;  // Shift + Enter
} )();            // 按下Enter以运行
</code></pre>
    </article>
</body>

</html>