<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p>In this article</p>
        <p data-target-id=4c38ccaa-06d9-42d6-9a11-5dffd9e49310>npm</p>
        <p data-target-id=3b9e8411-bbc8-46cd-afa7-a47015599218>npm init</p>
        <p data-target-id=2393f028-ab4f-40e2-989a-af87b2a8a690>npm install</p>
        <p data-target-id=1ed82501-5bbc-466a-a48f-cbb8fb61ec2b>npm uninstall</p>
        <p data-target-id=f32ea3c4-a26a-410f-94f5-5d3edded6237>npm update</p>
        <p data-target-id=b866d271-32dd-4233-805c-67c75b271c7c>npm ls</p>
        <p data-target-id=7d1ec503-fcce-4f72-a51d-21bdac03f919>npm view</p>
        <p data-target-id=1e1e724c-85af-47d9-8fbf-6901fc6d0d65>npm config</p>
        <p data-target-id=7dff730e-6f75-4cc2-a783-329b0e0a384a>npm docs</p>
        <p data-target-id=b8ea633e-f567-4108-b176-0aa30d45b3b4>npm dedupe</p>
        <p data-target-id=dd69ba82-9e84-41ca-97f5-1d814ec18d47>npm bin</p>
        <p data-target-id=78d7e50a-e58e-40d3-ad94-7ca72173baa8>npm pkg</p>
        <p data-target-id=8c1fcff6-2f4c-4aaf-b5ed-830c02f239c2>npm prefix</p>
        <p data-target-id=db50b55f-179a-47dc-8bd0-0640c6d87968>npm root</p>
        <p data-target-id=a3b4362b-f952-446d-b976-df8de30dc9aa>npm shrinkwrap</p>
        <p data-target-id=4d28319b-60f6-44c8-9e96-1d478b8cd73e>npm start</p>
        <p data-target-id=6e416f8e-8c37-43aa-b4a4-3b0cdf78429a>npm stop</p>
        <p data-target-id=3f25ace4-1128-46f4-8e66-d9bd8ee51b68>npm test</p>
        <p data-target-id=f7b74536-d394-4fa9-9d1b-b6165f432083>npm ci</p>
        <p data-target-id=b51a2b40-6882-4fb2-811a-d4e38d30a1d2>npm cache</p>
        <p data-target-id=577950c2-8e30-4e28-858e-840e7007cc44>npm deprecate</p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <p id="last-updated">Last Updated: 12/07/2022</p>
        <h2 id="4c38ccaa-06d9-42d6-9a11-5dffd9e49310">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="3b9e8411-bbc8-46cd-afa7-a47015599218">npm init</h2>
        <h3 id="3b4a2466-3074-4363-ab8c-00a10ed22ec1">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="3e7646fb-8385-4d11-86d5-99a8eef09a77">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="2393f028-ab4f-40e2-989a-af87b2a8a690">npm install</h2>
        <h3 id="1a57d7ff-456e-4503-a3d0-82c47f24ab7c">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="d0de488c-072a-4567-bc33-80f95170f209">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="79ef6a32-f59d-4c92-b049-7dd844d41d0c">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="09b7d3bb-2c86-4117-a528-c98300ae7fb8">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="1ed82501-5bbc-466a-a48f-cbb8fb61ec2b">npm uninstall</h2>
        <h3 id="d4d55157-6252-437e-b652-5621dcf02616">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="df39ca8a-ca00-4654-b2ce-aaca3083ac6b">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="fdbf687f-0c31-496e-a771-a1195200bb5b">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="f32ea3c4-a26a-410f-94f5-5d3edded6237">npm update</h2>
        <h3 id="6167acbf-d195-43d1-9b28-0c752fbfe799">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="ee85a91c-4e63-4357-909c-3cf3d3a5b479">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="b866d271-32dd-4233-805c-67c75b271c7c">npm ls</h2>
        <h3 id="ebfbc1e7-35a7-4fa2-a595-257dc3c41b07">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="c8c045b1-67b4-4c8c-961d-363c3dc7a7b6">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="bc90c955-fabd-4f3e-827d-1d7af2002cc4">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="7d1ec503-fcce-4f72-a51d-21bdac03f919">npm view</h2>
        <h3 id="6b40a1c2-58cf-42ab-aff1-abb5eab2c74c">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="8041bd72-92b6-4341-93a4-714ef900eb35">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="fb6db75c-8204-44c3-aa06-c3c3a2ac17c9">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="8ba84e36-fa19-4fd1-87ca-df90676a9271">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="1e1e724c-85af-47d9-8fbf-6901fc6d0d65">npm config</h2>
        <h3 id="19d08a29-9f89-496c-ad87-ff9af852b632">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="791cec5d-cdf6-41f7-bf08-77fd06951fe3">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="c7222b84-5e13-4c2d-841b-f216fbdb22fc">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="db73d748-673e-439c-a0a2-15dbe57d0a68">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="c6dd7fb2-e4fb-4cd1-93d0-b2b609558668">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="faa18ca3-a0de-49c7-ba0c-08266812301b">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="8b2b6102-6d43-426a-8b7f-f00afebae34c">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="7dff730e-6f75-4cc2-a783-329b0e0a384a">npm docs</h2>
        <h3 id="f5671cce-5b90-43ce-b498-86c6c2878a34">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="7af037e2-17a9-40c7-a71d-d7839365bbd1">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="b8ea633e-f567-4108-b176-0aa30d45b3b4">npm dedupe</h2>
        <h3 id="38cc67e2-481b-4750-a644-431e1590e3ae">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="680494a7-b62c-4011-a776-e6f1d2f2acc1">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p><strong>Note</strong></p>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="dd69ba82-9e84-41ca-97f5-1d814ec18d47">npm bin</h2>
        <h3 id="8c1bb508-bcb9-4b84-876a-28b45baefbc0">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="267cd824-2fe3-4610-a590-1180a46cdb73">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="43255e6b-e9e6-4b2e-b127-385a0002eff0">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="78d7e50a-e58e-40d3-ad94-7ca72173baa8">npm pkg</h2>
        <h3 id="4e72c444-dfc6-4e2b-ba03-c2f57d3c1f66">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="cedc6c52-9fe1-427a-a1ff-b47fb038abca">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="3938da97-e14a-4ed5-9ab3-3ce29f710aa3">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="9e86a06f-e459-4d24-be29-c6977c2048fc">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="a2e9c0ba-ee8c-48e2-bfb4-fbf74f8afd72">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="8c1fcff6-2f4c-4aaf-b5ed-830c02f239c2">npm prefix</h2>
        <h3 id="03c58045-eba2-4852-b739-7ac38c5c126e">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="9ac9c43e-5e78-402b-9872-f0238fae02ae">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="db50b55f-179a-47dc-8bd0-0640c6d87968">npm root</h2>
        <h3 id="3f911c76-eabb-4d6b-b9eb-33f105d5f390">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="0e59d445-d664-402e-9f2b-f82aa1d7a858">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="a3b4362b-f952-446d-b976-df8de30dc9aa">npm shrinkwrap</h2>
        <h3 id="df933e01-8419-492f-96aa-3ce5f1147bb2">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="e2960057-8d7a-4fc2-833f-3930db9f4e99">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="4d28319b-60f6-44c8-9e96-1d478b8cd73e">npm start</h2>
        <h3 id="b5ba798a-fe52-4f01-a420-d83c85643d3a">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="1165171c-4e2d-425e-9261-dc7b31b57771">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="6e416f8e-8c37-43aa-b4a4-3b0cdf78429a">npm stop</h2>
        <h3 id="24a42c02-b5db-4642-8cfd-c738f8b0c2d5">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="95bcfaa5-4b82-41e6-b08d-cecdefa98be7">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="3f25ace4-1128-46f4-8e66-d9bd8ee51b68">npm test</h2>
        <h3 id="a8cb9258-2dfc-49b1-bd49-651393fe5eaf">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="c8a95725-6416-43c0-95a6-b7fb0ca351c2">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="f7b74536-d394-4fa9-9d1b-b6165f432083">npm ci</h2>
        <h3 id="b4568ed3-8585-40d5-a360-a1a40ef22010">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="b51a2b40-6882-4fb2-811a-d4e38d30a1d2">npm cache</h2>
        <h3 id="2887f2fb-e7cd-4c55-9e0d-517095aaef35">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="577950c2-8e30-4e28-858e-840e7007cc44">npm deprecate</h2>
        <h3 id="1b78c3cd-7909-4474-a3cc-0e8d63c71bb0">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>