<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#ccbf237f-ffbd-4ee0-8786-561eceefe753">npm</a></p>
        <p data-level="1"><a href="#9625534a-0ed7-4dc9-b788-42ee5492f22b">npm init</a></p>
        <p data-level="1"><a href="#52885733-9a57-44f3-a789-6d26eb21fc3e">npm install</a></p>
        <p data-level="1"><a href="#2af4e4d2-e42b-4cda-8ae3-32782005832f">npm uninstall</a></p>
        <p data-level="1"><a href="#ab1e2a45-6548-46cd-a873-ea8f3baaae2b">npm update</a></p>
        <p data-level="1"><a href="#a1d76e7a-934b-42fa-b660-9b2a53faff27">npm ls</a></p>
        <p data-level="1"><a href="#38f27064-195a-486e-9d04-eec97eea53c6">npm view</a></p>
        <p data-level="1"><a href="#eb09aa1f-6508-4e93-8a67-1c39348b3c0c">npm config</a></p>
        <p data-level="1"><a href="#ff6fb046-9520-4747-8d9d-e31dc045d770">npm docs</a></p>
        <p data-level="1"><a href="#28bdf160-ddcb-4232-b918-809619275b69">npm dedupe</a></p>
        <p data-level="1"><a href="#59ea48c0-e129-46ca-b414-26092d205c50">npm bin</a></p>
        <p data-level="1"><a href="#8505d733-7852-4d02-8dd6-297eddcfb162">npm pkg</a></p>
        <p data-level="1"><a href="#7eb7b3af-8b6f-45ab-833c-3ce0bb8553b7">npm prefix</a></p>
        <p data-level="1"><a href="#8a7e83cb-9dc2-487a-98c8-7098bf621ed8">npm root</a></p>
        <p data-level="1"><a href="#41de94cb-4c22-46fd-8aa5-8b6d7b6734ca">npm shrinkwrap</a></p>
        <p data-level="1"><a href="#ea393856-d178-4cd8-ad5e-19589fca69c9">npm start</a></p>
        <p data-level="1"><a href="#feaa6821-d4e7-4d61-b5f4-ecc54304e500">npm stop</a></p>
        <p data-level="1"><a href="#4a431071-03f3-4420-9b3f-78b627c69976">npm test</a></p>
        <p data-level="1"><a href="#77f56895-f502-48cf-9871-b70f85ca94e9">npm ci</a></p>
        <p data-level="1"><a href="#d01dacb8-d33b-41ee-b9dc-2868909edc35">npm cache</a></p>
        <p data-level="1"><a href="#538fae5f-bfda-4b6c-8205-13a842b43042">npm deprecate</a></p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <p id="last-updated">Last Updated: 30/04/2022</p>
        <h2 id="ccbf237f-ffbd-4ee0-8786-561eceefe753">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="9625534a-0ed7-4dc9-b788-42ee5492f22b">npm init</h2>
        <h3 id="c9f40bf6-b17a-40f1-8da4-1f92c393cc50">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="cce2b224-debf-4778-b661-0546347f64f0">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="52885733-9a57-44f3-a789-6d26eb21fc3e">npm install</h2>
        <h3 id="a50afc47-55ee-4063-aa0a-895a8b8eb452">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="ee80d016-03e8-48e9-8adc-5ae0bca945b4">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="2dce7890-e475-459a-886a-7ffc1136dd36">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="7439c822-b278-47f9-82c2-abd35831dbf8">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="2af4e4d2-e42b-4cda-8ae3-32782005832f">npm uninstall</h2>
        <h3 id="4657d649-cb56-4a5c-a72f-e2e121d3bbe3">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="60bc4ec8-3b63-46bd-8102-359ff5a4183c">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="4dce4797-3360-4729-b5c4-71dca7086985">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="ab1e2a45-6548-46cd-a873-ea8f3baaae2b">npm update</h2>
        <h3 id="d1bf4988-cd1a-471c-92b4-aa41aebc9bd6">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="336037c7-c95b-41e3-8d0f-f4e1af6feafd">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="a1d76e7a-934b-42fa-b660-9b2a53faff27">npm ls</h2>
        <h3 id="1f681750-5eeb-4b20-a1f4-52a0de51ed40">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="85c41230-3d32-43f5-b197-10bb36c42502">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="b5a44697-7ae1-41d8-a641-530ba7f09252">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="38f27064-195a-486e-9d04-eec97eea53c6">npm view</h2>
        <h3 id="e79b73ab-2f03-4499-9cbd-16e6572d571d">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="5c113843-da25-46bf-b89d-53bff1bcfd6f">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="84b46434-dd4b-4f7a-97a5-e85eefab1c74">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="ba0c2d30-90cd-4995-8e96-2a3eaa0fec2d">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="eb09aa1f-6508-4e93-8a67-1c39348b3c0c">npm config</h2>
        <h3 id="962de8bf-b1ae-4b0c-8cb9-d72432f0c4dc">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="2de4a091-f69e-48eb-a8ca-74980819b626">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="644a4cd3-f9f1-4f90-a066-f814147c763a">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="61bb3991-f89b-480a-95f3-7de9702b6503">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="583f6955-03e3-480b-9828-35912307ea06">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="c4aa2092-e5c2-447c-a2ab-bb36298891e9">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="29f0d120-3e6c-448f-b14b-2b0c906d2c0b">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="ff6fb046-9520-4747-8d9d-e31dc045d770">npm docs</h2>
        <h3 id="9be4cb84-d56e-4e8c-aec6-912cfc55e7cf">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="ad47ba04-f037-4816-b8c7-0d6966ecdaf1">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="28bdf160-ddcb-4232-b918-809619275b69">npm dedupe</h2>
        <h3 id="bd4b0b2d-f059-4dd8-af95-5010a71a3a9e">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="99e70f14-dbb7-439e-87c5-6fae31adcf40">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="59ea48c0-e129-46ca-b414-26092d205c50">npm bin</h2>
        <h3 id="7647dfa3-810a-4c17-b5de-fbf061b97133">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="900e62ff-e89c-4cf2-a7d6-6e1f33c2d4ac">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="07aa7694-4adb-4536-bab7-feddc5899be3">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="8505d733-7852-4d02-8dd6-297eddcfb162">npm pkg</h2>
        <h3 id="2f35f168-c1f3-4a45-bd8d-3f5f0fc7e4a2">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="e2e43f3b-b8ff-4041-b0b8-586db93a41ec">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="b886a2d3-aa89-4a48-bee8-3cc0bf1883d8">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="66589536-9092-4248-8cd4-2aa33104909e">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="6c7d9e57-a490-4e0c-92f6-7fd7f22e7900">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="7eb7b3af-8b6f-45ab-833c-3ce0bb8553b7">npm prefix</h2>
        <h3 id="91ed195e-d9d2-4b25-826a-2600a1dc455c">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="e73c86e1-cdc9-4672-9b8e-f5fb78c259b4">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="8a7e83cb-9dc2-487a-98c8-7098bf621ed8">npm root</h2>
        <h3 id="c336e4d3-87b6-48bd-85f3-74b9309f13bf">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="e55950e3-37ee-491b-be4b-b048c7c21fc0">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="41de94cb-4c22-46fd-8aa5-8b6d7b6734ca">npm shrinkwrap</h2>
        <h3 id="7f3381eb-7386-4ccc-9811-0830a879f30b">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="b54ef8be-7b94-4c23-826e-0639f72a13b9">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="ea393856-d178-4cd8-ad5e-19589fca69c9">npm start</h2>
        <h3 id="1d9fbf20-4817-4222-a076-b309c12300a4">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="4a5016a0-8ce6-48d5-856a-f56c65c77c76">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="feaa6821-d4e7-4d61-b5f4-ecc54304e500">npm stop</h2>
        <h3 id="a9259476-4f15-4e31-b8f7-04ff4f891734">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="f270e21f-83a7-4086-a693-1378860effd7">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="4a431071-03f3-4420-9b3f-78b627c69976">npm test</h2>
        <h3 id="8975fb61-c51c-4c29-9af9-5cf2ec1a46a5">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="799530ec-da09-49b8-a856-1fcfda7fcf80">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="77f56895-f502-48cf-9871-b70f85ca94e9">npm ci</h2>
        <h3 id="942e50ff-a587-47da-a4a4-0b5b673482ea">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="d01dacb8-d33b-41ee-b9dc-2868909edc35">npm cache</h2>
        <h3 id="039fbb1e-e814-49d8-9878-16787431496f">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="538fae5f-bfda-4b6c-8205-13a842b43042">npm deprecate</h2>
        <h3 id="5c2e02f2-c1dd-4a42-bb74-5cf6d1314cc7">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>