<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPM 命令</title>
</head>

<body>
    <header>
        <button><a href="/catalogue.html"><strong>CATALOGUE</strong></a></button>
    </header>
    <aside>
        <p><a href="#">IN THIS ARTICLE</a></p>
        <p data-level="1"><a href="#f743d749-a660-4f61-a199-50d99910e43b">npm</a></p>
        <p data-level="1"><a href="#04060c15-a5be-43ae-90ee-afe323bb881e">npm init</a></p>
        <p data-level="1"><a href="#4ad48ef1-18fc-4c9c-8149-9c61e4c0f09f">npm install</a></p>
        <p data-level="1"><a href="#a924a8b7-2d82-4b80-95bf-7c2121066123">npm uninstall</a></p>
        <p data-level="1"><a href="#717a5afc-030d-4862-982d-55f9cf954fcc">npm update</a></p>
        <p data-level="1"><a href="#31e85123-3731-4dea-9acc-b19ae2c547d6">npm ls</a></p>
        <p data-level="1"><a href="#27179809-0bd0-4e28-96cb-6ac39b7eb24b">npm view</a></p>
        <p data-level="1"><a href="#317a8eb3-7819-4fb4-933f-e73e47d6c052">npm config</a></p>
        <p data-level="1"><a href="#c9d2df5c-f607-43b7-86ad-8bd45b8d897d">npm docs</a></p>
        <p data-level="1"><a href="#285488f6-3e1e-43f9-9812-4939c62c1eaf">npm dedupe</a></p>
        <p data-level="1"><a href="#f0cc54fc-9a9c-4a49-96ed-78981e9fa90c">npm bin</a></p>
        <p data-level="1"><a href="#b35f2dc8-f2c9-408f-9912-20b1b801a74e">npm pkg</a></p>
        <p data-level="1"><a href="#a199e7e5-19fe-4c76-995d-6a534594958b">npm prefix</a></p>
        <p data-level="1"><a href="#8df329e7-7988-433e-a061-a968ff9cabbd">npm root</a></p>
        <p data-level="1"><a href="#a3d317f0-c610-4ecf-ad96-c998d8ffae96">npm shrinkwrap</a></p>
        <p data-level="1"><a href="#e5a34e7d-22fa-48d7-8b09-fbb096b45f2a">npm start</a></p>
        <p data-level="1"><a href="#5218f89b-43af-497e-91d9-35b90b8cfb37">npm stop</a></p>
        <p data-level="1"><a href="#cb51a532-bd26-4776-8edb-c5c6084f6ec1">npm test</a></p>
        <p data-level="1"><a href="#66cd9157-b0db-4a02-b99a-894dff0a081f">npm ci</a></p>
        <p data-level="1"><a href="#0fce87bd-64a0-4165-b52e-bc3a4303d2ef">npm cache</a></p>
        <p data-level="1"><a href="#8d4b29fc-3e41-4e1b-ad1d-9fef5302c05a">npm deprecate</a></p>
    </aside>
    <article>
        <h1>NPM 命令</h1>
        <p id="last-updated">Last Updated: 19/06/2022</p>
        <h2 id="f743d749-a660-4f61-a199-50d99910e43b">npm</h2>
        <p>npm 是 node 运行时的包管理工具，用于发布、查询、安装、卸载、更新包。npm 命令具有本地模式和全局模式，默认使用本地模式，若需激活全局模式，则需主动使用 <code>-g</code> 或 <code>--global</code>。</p>
        <h2 id="04060c15-a5be-43ae-90ee-afe323bb881e">npm init</h2>
        <h3 id="05b81b0e-ac69-44be-83e4-e10575fad53f">描述</h3>
        <p>以问卷调查的形式来询问并创建 <code>package.json</code> 文件，该文件将存储在命令的执行目录下。若使用 <code>--yes</code> 参数，则会略过询问环节，直接创建一个具有默认值的 <code>package.json</code> 文件，这些默认值为：</p>
        <table>
            <thead>
                <tr>
                    <th>字段名</th>
                    <th>字段值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>当前文件夹的名字</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td><code>&quot;1.0.0&quot;</code></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><code>&quot;&quot;</code> 或 <code>README.md</code> 文件的首行内容</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><code>&quot;index.js&quot;</code></td>
                </tr>
                <tr>
                    <td>scripts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>keywords</td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td>author</td>
                    <td><code>&quot;&quot;</code></td>
                </tr>
                <tr>
                    <td>license</td>
                    <td><code>&quot;ISC&quot;</code></td>
                </tr>
            </tbody>
        </table>
        <h3 id="7d89623f-890a-4b6a-aecf-3f1c59accf64">语法</h3>
        <pre><code>npm init [ --yes | -y ]
</code></pre>
        <h2 id="4ad48ef1-18fc-4c9c-8149-9c61e4c0f09f">npm install</h2>
        <h3 id="ae2ffc1b-7ad2-4f1b-8b6f-cd536393cabf">描述</h3>
        <p><code>npm install xxx</code> 将下载指定的包（同时也会下载该包的依赖包）。<code>npm install</code> 将基于 <code>package.json</code> 或 <code>yarn.lock</code> 或 <code>npm-shrinkwrap.json</code> 来下载包，当这 3 个文件同时存在时，只有优先级最高的文件会发挥作用，它们的优先级为：<code>npm-shrinkwrap.json</code> &gt; <code>package.json</code> &gt; <code>yarn.lock</code>。</p>
        <h3 id="f8057a38-7e96-4ecc-a928-8abc4ed4d9d5">语法</h3>
        <pre><code>npm install
npm install &lt;packagename&gt;
npm install &lt;packagename@tag&gt;
npm install &lt;packagename@version&gt;
</code></pre>
        <h3 id="7db3b69b-db76-447b-995f-bf0bd5b377df">参数</h3>
        <p>以下参数可以自由的组合使用。</p>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save-prod</code></td>
                    <td><code>-P</code></td>
                    <td>将下载的包定义为生产包，属于 <code>dependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-dev</code></td>
                    <td><code>-D</code></td>
                    <td>将下载的包定义为开发包，属于 <code>devDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-optional</code></td>
                    <td><code>-O</code></td>
                    <td>将下载的包定义为可选包，属于 <code>optionalDependencies</code></td>
                </tr>
                <tr>
                    <td><code>--save-exact</code></td>
                    <td><code>-E</code></td>
                    <td>使用精确的版本号，而非脱字符版本号（默认）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>执行该命令后，不更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <p>建议：请不要使用 <code>--save</code>，原因如下：</p>
        <ol>
            <li><code>npm install --save- x</code> 与 <code>npm install --save-prod x</code> 的作用是一样的，<code>--save-prod</code> 的优点是其与 <code>--save-dev</code> 更对仗。</li>
            <li><code>npm install</code> 和 <code>npm uninstall</code> 都有 <code>--save</code> 参数，但是它们的意义却是不相同的，前者表示“自动更新相关包的信息，并将该包标记为 dependencies”，而后者表示“自动更新相关包的信息”。</li>
            <li>请忘掉 <code>npm install</code> 和 <code>npm uninstall</code> 都拥有 <code>--save</code> 参数这件事吧，只需要记住它们都拥有 <code>--no-save</code> 参数就好了，这样子它们的行为就会更加统一：它们在默认情况下都会更新相关包的信息，使用了 <code>--no-save</code> 后它们都不会更新相关包的信息。</li>
        </ol>
        <h3 id="3dd8de65-0e9c-40ec-8add-155a7457b9b5">范例</h3>
        <pre><code># 下载生产包，然后更新package.json的dependencies字段
npm install --save-prod &lt;packagename&gt;

# 下载生产包，不更新package.json的dependencies字段
npm install --save-prod --no-save &lt;packagename&gt;

# 下载生产包，然后更新package.json的dependencies字段，并使用精确的版本号
npm install --save-prod --save-exact &lt;packagename&gt;

# 下载指定版本的生产包，然后更新package.json的dependencies字段
npm install --save-prod  @babel/core@7.0.0

# 下载指定标签的生产包，然后更新package.json的dependencies字段
npm install --save-prod @babel/core@latest

# 下载开发包，然后更新package.json的devDependencies字段
npm install --save-dev &lt;packagename&gt;

# 下载可选包，然后更新package.json的optionalDependencies字段
npm install --save-optional &lt;packagename&gt;
</code></pre>
        <h2 id="a924a8b7-2d82-4b80-95bf-7c2121066123">npm uninstall</h2>
        <h3 id="8cd955f4-4ba0-49cb-8b12-d307dd9b85ec">描述</h3>
        <p>删除指定的包（同时也会删除它的依赖包），然后更新 <code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="0dcaa143-dd29-4880-bff3-ca5d58b72710">语法</h3>
        <pre><code>npm uninstall &lt;packagename&gt;
</code></pre>
        <h3 id="3d7fb44d-7616-4a6f-9545-fa992dbb41c3">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>简写</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--global</code></td>
                    <td><code>-g</code></td>
                    <td>激活全局模式，当该参数会使 <code>--no-save</code> 无效。</td>
                </tr>
                <tr>
                    <td><code>--save</code></td>
                    <td><code>-S</code></td>
                    <td>更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code>（默认启用）</td>
                </tr>
                <tr>
                    <td><code>--no-save</code></td>
                    <td></td>
                    <td>不更新<code>package.json</code>、<code>package-lock.json</code>、<code>npm-shrinkwrap.json</code></td>
                </tr>
            </tbody>
        </table>
        <h2 id="717a5afc-030d-4862-982d-55f9cf954fcc">npm update</h2>
        <h3 id="c168c00a-a8f2-42b3-a2ae-289d73e7f639">描述</h3>
        <p>基于《版本符号与更新规则》来更新所有的包或指定的包，同时它也会补齐缺失的包。</p>
        <h3 id="1e5c73f3-68bf-4141-972d-301fef47731e">语法</h3>
        <pre><code>npm update
npm update &lt;packagename&gt;
</code></pre>
        <h2 id="31e85123-3731-4dea-9acc-b19ae2c547d6">npm ls</h2>
        <h3 id="f32f7a48-0669-49ef-9e90-e486efc86e55">描述</h3>
        <p>打印所有的包的信息，该命令的别名是 <code>npm list</code>。</p>
        <h3 id="04d5ae33-e881-4129-a897-b75307844367">语法</h3>
        <pre><code>npm ls
</code></pre>
        <h3 id="28d72b29-4e47-4e2e-947e-ffdc3585f789">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--all</code></td>
                    <td>不仅打印所有的包的信息，还会打印这些包的依赖包的信息。</td>
                </tr>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h2 id="27179809-0bd0-4e28-96cb-6ac39b7eb24b">npm view</h2>
        <h3 id="668f634f-8352-44ff-9b81-aabfaee935b3">描述</h3>
        <p>打印指定的包的信息。</p>
        <h3 id="dd001831-e6bd-4bd8-823d-2ee80523248b">语法</h3>
        <pre><code>npm view &lt;packagename&gt;
</code></pre>
        <h3 id="18e9c202-655a-47d8-b75c-6d86f099d023">参数</h3>
        <table>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>--json</code></td>
                    <td>基于 json 格式来打印信息。</td>
                </tr>
            </tbody>
        </table>
        <h3 id="652d6878-b84c-4121-b69b-8e53c73767c4">范例</h3>
        <pre><code># 打印包的信息
npm view @babel/core

# 打印包的最新版本号
npm view @babel/core version

# 打印包的所有版本号
npm view @babel/core versions

# 打印包的生产依赖
npm view @babel/core dependencies
</code></pre>
        <h2 id="317a8eb3-7819-4fb4-933f-e73e47d6c052">npm config</h2>
        <h3 id="0243ddd3-cf54-4e15-a8e3-cde19855ad56">描述</h3>
        <p>配置 npm，npm 将其配置信息存储为了 <code>.npmrc</code> 文件（本地模式与全局模式各有一份独立的配置文件）你可以通过下述命令来查询或修改 npm 的配置文件。</p>
        <h3 id="03b55411-6fcf-4dc9-849d-5adfb984d125">语法</h3>
        <pre><code>npm config set key=value [key=value ...]
npm config get [key]
npm config delete key [key ...]
npm config list
npm config edit

npm set key=value [key=value ...]
npm get [key ...]
</code></pre>
        <blockquote>
            <p>注：<code>config</code> 可简写为 <code>c</code></p>
        </blockquote>
        <h3 id="ed1182d0-ef29-4be8-9ec5-bdc998f8cdd8">SET</h3>
        <p>以键值对的形式来修改一个或多个配置参数，value 缺省时，对应的 key 会被设置为空字符串。</p>
        <pre><code>npm config set key=value [key=value ...]
npm set key=value [key=value ...]
</code></pre>
        <blockquote>
            <p>勿用 <code>npm config set key value</code>：该写法已被淘汰，其作用等价于 <code>npm config set key=value</code>，只是出于向后兼容的目的而保留。</p>
        </blockquote>
        <h3 id="cf5a01e6-20bd-4832-b839-60c8301898a8">GET</h3>
        <p>查询一个或多个配置参数，然后将查询结果打印至命令行窗口中。当查询零个参数时（即 <code>npm config get</code>），其作用等价于 <code>npm config list</code>。</p>
        <pre><code>npm config get [key ...]
npm get [key ...]
</code></pre>
        <h3 id="0a6eaf4b-6f00-4922-8a25-486faad2f371">LIST</h3>
        <p>查询所有配置参数，该命令具有可选的参数 <code>--json</code>，启用该参数后，该命令将以 JSON 的格式来打印结果。</p>
        <pre><code>npm config list [--json]
</code></pre>
        <h3 id="a2bd92b5-c9b5-4442-a275-e810b6fa5850">DELETE</h3>
        <p>删除一个或多个属性。</p>
        <pre><code>npm config delete key [key ...]
</code></pre>
        <h3 id="f2282350-b381-48eb-b41c-8d2d0c4939fc">EDIT</h3>
        <p>以 <code>.txt</code> 格式来打开本地或全局的配置文件。</p>
        <pre><code>npm config edit [--global | -g]
</code></pre>
        <h2 id="c9d2df5c-f607-43b7-86ad-8bd45b8d897d">npm docs</h2>
        <h3 id="05c8a6c9-b4ec-4d63-8f28-5021b5ccf9c1">描述</h3>
        <p>在浏览器中打开一个或多个包的 npm 主页。</p>
        <h3 id="cc70208a-edc7-447d-bf37-b9b942e12e8e">语法</h3>
        <pre><code>npm docs packagename
</code></pre>
        <h2 id="285488f6-3e1e-43f9-9812-4939c62c1eaf">npm dedupe</h2>
        <h3 id="4456d8ca-5cea-4fd9-b2a1-508d5d68e10a">描述</h3>
        <p>减少模块树中的重复，比如：</p>
        <p>情况一：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
|   `-- c@1.0.3
`-- d &lt;-- depends on c@~1.0.9
    `-- c@1.0.10
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.10
</code></pre>
        <p>情况二：假设当前的模块树的依赖情况如下：</p>
        <pre><code>a
+-- b &lt;-- depends on c@1.0.x
+-- c@1.0.3
`-- d &lt;-- depends on c@1.x
    `-- c@1.9.9
</code></pre>
        <p>执行 <code>npm dedupe</code> 后，该模块树将被精简为：</p>
        <pre><code>a
+-- b
+-- d
`-- c@1.0.3
</code></pre>
        <h3 id="0a39211b-ce66-4224-8257-43a31ed52bf9">语法</h3>
        <pre><code>npm dedupe
</code></pre>
        <blockquote>
            <p>注：<code>dedupe</code> 可简写为 <code>ddp</code>。</p>
        </blockquote>
        <h2 id="f0cc54fc-9a9c-4a49-96ed-78981e9fa90c">npm bin</h2>
        <h3 id="043fcf77-3ef2-4259-8336-713a5d905f9b">描述</h3>
        <p>npm 会将可执行程序安装在 <code>.bin</code> 文件下，该命令的作用是打印该 <code>.bin</code> 文件夹的地址。</p>
        <h3 id="4fe29eaf-135f-4187-b630-99ee4599386e">语法</h3>
        <pre><code>npm bin [--global | -g]
</code></pre>
        <h3 id="df81e87a-3f20-48bf-8f08-a83b49ea1c56">范例</h3>
        <p>执行下述命令，将会输出 <code>E:\test\node_modules\.bin</code>。</p>
        <pre><code>npm bin 
</code></pre>
        <p>执行下述命令，将会输出 <code>D:\nodejs\node_global</code>。</p>
        <pre><code>npm bin --global
</code></pre>
        <h2 id="b35f2dc8-f2c9-408f-9912-20b1b801a74e">npm pkg</h2>
        <h3 id="d6b5d18a-4eb5-456e-b8ff-883ac609ad09">描述</h3>
        <p>增删改查 <code>package.json</code> 文件，但不会更改 <code>node_modules</code> 文件中的内容。</p>
        <h3 id="e53aac18-3ce0-477a-8e61-ae46afa13276">语法</h3>
        <pre><code>npm pkg get key
npm pkg set key=value
npm pkg delete key
</code></pre>
        <h3 id="ac4b7a4c-2e39-4fd1-84ce-1766956bda5f">范例 - 查询</h3>
        <p>假设 <code>package.json</code> 文件的部分内容如下：</p>
        <pre><code class="language-json">&quot;dependencies&quot;: {
    &quot;@babel/runtime&quot;: &quot;^7.15.4&quot;
},
&quot;devDependencies&quot;: {
    &quot;@babel/core&quot;: &quot;^7.15.8&quot;
}
</code></pre>
        <p>执行下述命令来查询 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg get dependencies // 输出 { &quot;@babel/runtime&quot;: &quot;^7.15.4&quot; }
</code></pre>
        <pre><code>npm pkg get dependencies.@babel/runtime // 输出 &quot;^7.15.4&quot;
</code></pre>
        <h3 id="b55dfc14-56d3-4d25-a1d2-047fcecc39a1">范例 - 修改</h3>
        <p>执行下述命令来修改 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg set name=&quot;John&quot;
</code></pre>
        <p>由于 <code>package.json</code> 文件中并没有 <code>name</code> 字段，因此该命令会立即为其创建一个 <code>name</code> 字段，并将 <code>&quot;John&quot;</code> 作为其字段的值。</p>
        <h3 id="3466a4ad-931b-45f1-922b-5a946eefabe9">范例 - 删除</h3>
        <p>执行下述命令来删除 <code>package.json</code> 中的某个属性：</p>
        <pre><code>npm pkg delete dependencies
</code></pre>
        <h2 id="a199e7e5-19fe-4c76-995d-6a534594958b">npm prefix</h2>
        <h3 id="8bf0003a-ec31-40d0-836e-ff96f20867f8">描述</h3>
        <p>打印 <code>prefix</code> 文件的地址，<code>prefix</code> 文件是 <code>node_modules</code> 文件的父文件夹。</p>
        <h3 id="7173477f-95cf-499e-b20f-815b793e717f">语法</h3>
        <pre><code>npm prefix [--global | -g]
</code></pre>
        <h2 id="8df329e7-7988-433e-a061-a968ff9cabbd">npm root</h2>
        <h3 id="27f298f9-f656-4405-ae66-c0d65f9bfc4d">描述</h3>
        <p>打印 <code>root</code> 文件的地址，<code>root</code> 文件即使 <code>node_modules</code> 文件。</p>
        <h3 id="71a0dc99-6863-4353-8dcc-90632699b610">语法</h3>
        <pre><code>npm root [--global | -g]
</code></pre>
        <h2 id="a3d317f0-c610-4ecf-ad96-c998d8ffae96">npm shrinkwrap</h2>
        <h3 id="77feee73-7575-4caf-9cc1-6cd53c49361b">描述</h3>
        <p>将 <code>package-lock.json</code> 文件替换为 <code>npm-shrinkwrap.json</code> 文件。</p>
        <h3 id="48224d27-04ee-476b-ba82-6d8b5d8b7273">语法</h3>
        <pre><code>npm shrinkwrap
</code></pre>
        <h2 id="e5a34e7d-22fa-48d7-8b09-fbb096b45f2a">npm start</h2>
        <h3 id="2c1a3496-05eb-4a5c-a86d-ddcecf7d8c53">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>start</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;start&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="1f8dbf30-4dd5-4a3b-88b8-596c2eead752">语法</h3>
        <pre><code>npm start [-- &lt;args&gt;]
</code></pre>
        <h2 id="5218f89b-43af-497e-91d9-35b90b8cfb37">npm stop</h2>
        <h3 id="9a11d1e6-6312-4a6f-b7a6-c785c7ea0aae">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>stop</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;stop&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="2246dbb6-d90c-4192-bd20-70e389a4cd7e">语法</h3>
        <pre><code>npm stop [-- &lt;args&gt;]
</code></pre>
        <h2 id="cb51a532-bd26-4776-8edb-c5c6084f6ec1">npm test</h2>
        <h3 id="aed42c80-2e62-4018-b8e9-ba270d2cbb8d">描述</h3>
        <p>执行预定义的脚本，该脚本被编写在 <code>package.json</code> 文件中的 <code>script</code> 属性中的 <code>test</code> 属性中，比如：</p>
        <pre><code>&quot;script&quot;: {
    &quot;test&quot;: &quot;node ./index.js&quot;
}
</code></pre>
        <h3 id="967a2139-6cc1-4cad-93d7-8f551e883c55">语法</h3>
        <pre><code>npm test [-- &lt;args&gt;]
</code></pre>
        <h2 id="66cd9157-b0db-4a02-b99a-894dff0a081f">npm ci</h2>
        <h3 id="8676c806-19ee-4bab-80ff-3a1f557bb25e">描述</h3>
        <p>类似于 <code>npm install</code>，区别在于该命令可以让下载行为严格遵循 <code>package-lock.json</code>，以保证在任何地方构建的包都完全一致。</p>
        <h2 id="0fce87bd-64a0-4165-b52e-bc3a4303d2ef">npm cache</h2>
        <h3 id="ce037a73-77d3-465a-b5e5-ec329c4e3a3a">描述</h3>
        <p>操纵包缓存。</p>
        <h2 id="8d4b29fc-3e41-4e1b-ad1d-9fef5302c05a">npm deprecate</h2>
        <h3 id="3e890514-2fe7-4919-84a2-8012c1963b6c">描述</h3>
        <p>将某个包标志为“弃用”，并向所有试图安装它的人提供一个弃用警告。</p>
    </article>
</body>

</html>