<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jynxio's notes</title>
</head>

<body>
    <header>
        <button><a href="/"><strong>HOMEPAGE</strong></a></button>
    </header>
    <main>
        <section>
            <h2>JavaScript</h2>
            <ol>
                <li><a href="./article/1.html">代码结构</a></li>
                <li><a href="./article/2.html">运算符</a></li>
                <li><a href="./article/3.html">严格模式</a></li>
            </ol>
        </section>
        <section>
            <h2>NPM</h2>
            <ol>
                <li><a href="./article/4.html">npm 基础</a></li>
                <li><a href="./article/5.html">npm 命令</a></li>
            </ol>
        </section>
        <section>
            <h2>Babel</h2>
            <ol>
                <li><a href="./article/6.html">Babel7</a></li>
            </ol>
        </section>
        <section>
            <h2>Webpack</h2>
            <ol>
                <li><a href="./article/7.html">Webpack5</a></li>
            </ol>
        </section>
        <section>
            <h2>Others</h2>
            <ol>
                <li><a href="./article/8.html">语义化版本控制</a></li>
            </ol>
        </section>
    </main>
</body>

</html>