<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jynxio's notes</title>
</head>

<body>
    <header>
        <button>HOMEPAGE</button>
    </header>
    <main>
        <section id="javascript">
            <h2>JavaScript</h2>
            <ol>
                <li><a href="">代码结构</a></li>
                <li><a href="">严格模式</a></li>
                <li><a href="">运算符</a></li>
                <li><a href="">代码结构</a></li>
                <li><a href="">严格模式</a></li>
                <li><a href="">运算符</a></li>
                <li><a href="">代码结构</a></li>
                <li><a href="">严格模式</a></li>
                <li><a href="">运算符</a></li>
                <li><a href="">代码结构</a></li>
                <li><a href="">严格模式</a></li>
                <li><a href="">运算符</a></li>
            </ol>
        </section>
        <section>
            <h2>CSS</h2>
            <ol>
                <li><a href="">空</a></li>
            </ol>
        </section>
        <section>
            <h2>Three.js</h2>
            <ol>
                <li><a href="">空</a></li>
            </ol>
        </section>
        <section>
            <h2>Babel</h2>
            <ol>
                <li><a href="">babel</a></li>
            </ol>
        </section>
        <section>
            <h2>Webpack</h2>
            <ol>
                <li><a href="">webpack</a></li>
            </ol>
        </section>
        <section>
            <h2>浏览器原理</h2>
            <ol>
                <li><a href="">空</a></li>
            </ol>
        </section>
        <section>
            <h2>其它的</h2>
            <ol>
                <li><a href="">语义化版本控制</a></li>
            </ol>
        </section>
    </main>
</body>

</html>