@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "IBM Plex Mono" ),
        url( "/static/font/subset/jynxio-700.ttf" ) format( "truetype" );
}
