/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #000000;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
    --green: #377e7f;
}

:root {
    --article-width: 100vmin;
    --line-height: 1.5;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
canvas, section,
header, main, h1,
span {
    color: var( --white );
    font-family: "IBM Plex Sans";
    line-height: var( --line-height );
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var( --black );
}

canvas {
    display: block;
}
