/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #000000;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
    --green: #377e7f;
    --pink: #ea3373;
}

:root {
    --article-width: 100vmin;
    --line-height: 1.5;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
section, nav,
h1, p,
button, span {
    color: var( --white );
    font-family: "IBM Plex Sans", "Noto Sans SC";
    line-height: var( --line-height );
    overflow-wrap: break-word;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var( --black );
}

canvas {
    display: block;
}

/* Canvas */
/* ------------------------------------------------------------------------------------------------- */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

/* H1 */
/* ------------------------------------------------------------------------------------------------- */
h1 {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    background-image: linear-gradient( 45deg, var( --purple ), var( --green ), var( --pink ) );
    background-clip: text;
    -webkit-background-clip: text;
    color: var( --black );
    font-family: "IBM Plex Mono";
    font-size: 8rem;
    font-weight: bold;
    line-height: 0.8;
    -webkit-text-stroke: 3px transparent;
    transform: translate( -50%, -50% );
}

/* Nav */
/* ------------------------------------------------------------------------------------------------- */
nav {
    --length: 1.6rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 3;
    width: var( --length );
    height: var( --length );
    transform: translate( -100%, -50% );
    cursor: pointer;
}

nav > span {
    --thickness: 1px;
    --space: calc( ( var( --length ) - var(--thickness) ) / 2 );
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: var( --space ) 0;
    background-image: linear-gradient( 90deg, var( --purple ), var( --green ) );
    background-blend-mode: multiply;
    background-clip: content-box;
    transition: transform 100ms ease-out;
}

nav > span:first-child {
    transform: translateY( calc( -3 * var( --thickness ) ) );
}

nav > span:last-child {
    transform: translateY( calc( 3 * var( --thickness ) ) );
}

/* Catalog */
/* ------------------------------------------------------------------------------------------------- */
section#catalog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var( --black );
    opacity: 0;
    transform: translateX( -100% );
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    /* border-right: 1px solid transparent;
    border-image: linear-gradient( to bottom, var( --purple ), var( --green ), var( --pink ) );
    border-image-slice: 1; */
}
