/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #000000;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
    --green: #377e7f
}

:root {
    --article-width: 100vmin;
    --line-height: 1.5;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
section, nav,
h1, p,
button {
    color: var( --white );
    font-family: "IBM Plex Sans", "Noto Sans SC";
    line-height: var( --line-height );
    overflow-wrap: break-word;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var( --black );
}

section, canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

/* Canvas */
/* ------------------------------------------------------------------------------------------------- */
canvas {
    z-index: 0;
}

/* Section: cover */
/* ------------------------------------------------------------------------------------------------- */
section#cover {
    z-index: 1;
}

section#cover > h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    background: linear-gradient( 145deg, var( --green ), var( --purple ) );
    background-clip: text;
    -webkit-background-clip: text;
    color: var( --black );
    font-family: "IBM Plex Mono";
    font-size: 8rem;
    font-weight: bold;
    line-height: 0.8;
    -webkit-text-stroke: 3px transparent;
    transform: translate( -50%, -50% );
}

/* TODO */

section#cover > nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12rem;
    margin: 2rem auto;
    transform: translateX( -50% );
    /* background-color: pink; */
}

section#cover > nav > button {
    flex-basis: 1rem;
    flex-grow: 1;
    padding: 0;
    margin: 0 0.65rem;
    border: 1px solid var( --white );
    outline: none;
    background-color: transparent;
    line-height: 2;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    letter-spacing: 0.1em;
    backdrop-filter: blur( 0.65rem );
    -webkit-backdrop-filter: blur( 0.65rem );
}

section#cover > nav > button:hover {
    color: var( --yellow );
    border-color: var( --yellow );
}

/* Section: idea */
/* ------------------------------------------------------------------------------------------------- */
section#idea {
    display: none;
    z-index: 2;
}

/* Section: article */
/* ------------------------------------------------------------------------------------------------- */
section#article {
    display: none;
    z-index: 3;
}
