html,
body {
	background-color: #22262b;
}

@font-face {
	font-family: "霞鹜文楷";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("霞鹜文楷"),
		url("/asset/font/LXGWWenKai-Regular.woff2") format("woff2"),
		url("/asset/font/LXGWWenKai-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "霞鹜文楷";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("霞鹜文楷"),
		url("/asset/font/LXGWWenKai-Bold.woff2") format("woff2"),
		url("/asset/font/LXGWWenKai-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "霞鹜文楷等宽";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("霞鹜文楷等宽"),
		url("/asset/font/LXGWWenKaiMono-Regular.woff2") format("woff2"),
		url("/asset/font/LXGWWenKaiMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Fira Code"),
		url("/asset/font/FiraCode-Regular.woff2") format("woff2"),
		url("/asset/font/FiraCode-Regular.ttf") format("truetype");
}

#root {
	block-size: 100%;
	font-family: "霞鹜文楷", sans-serif;
}