html,
body {
	background-color: hsl(213, 12%, 15%);
}

@font-face {
	font-family: "LXGW WenKai Lite";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local("霞鹜文楷"),
		url("/asset/font/LXGWWenKaiLite-Regular.woff2") format("woff2"),
		url("/asset/font/LXGWWenKaiLite-Regular.woff") format("woff"),
		url("/asset/font/LXGWWenKaiLite-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "LXGW WenKai Lite";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: local("霞鹜文楷"),
		url("/asset/font/LXGWWenKaiLite-Bold.ttf") format("woff2"),
		url("/asset/font/LXGWWenKaiLite-Bold.ttf") format("woff"),
		url("/asset/font/LXGWWenKaiLite-Bold.ttf") format("truetype");
}

#root {
	block-size: 100%;
	font-family: "LXGW WenKai Lite", sans-serif;
}