#root {
	--nav-width: 18rem;
	--chapter-width: 18rem;
}

#root {
	--line-color: #121112;
	--block-color: #2e3136;
	--ground-color: #22262b;

	--icon-color: #ffffff;
	--link-color: #c52922;

	--heading-color: #ffffff;
	--paragraph-color: #e7e9ea;
	--comment-color: #999999;
}

#root {
	--border-radius: 4px;
}