.track {
	position: absolute;
	top: 0;
	right: 0;
	inline-size: 6px;
	block-size: 100%;
}

.thumb {
	position: absolute;
	left: 0;
	inline-size: 100%;
	cursor: grab;
	background-color: var(--block-color);
}

.thumb:hover {
	background-color: var(--comment-color);
}