/* Font */
/* ------------------------------------------------------------------------------------------------------------------ */
@font-face {
	font-family: "霞鹜文楷";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("LXGW WenKai"),
		url("/source/asset/font/process/LXGWWenKai-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "霞鹜文楷";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("LXGW WenKai Bold"),
		url("/source/asset/font/process/LXGWWenKai-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "霞鹜文楷等宽";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("LXGW WenKai Mono"),
		url("/source/asset/font/process/LXGWWenKaiMono-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Fira Code"),
		url("/source/asset/font/process/FiraCode-Regular.woff2") format("woff2");
}

/* Variable */
/* ------------------------------------------------------------------------------------------------------------------ */
:root {
	/* Size */
	--icon-size: 18px;

	/* Animation */
	--transition-easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);
	--transition-easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
	--transition-time: 500ms;

	/* Other */
	--border-radius: 4px;

}

:root.light {
	--line-color: #e6e6e6;
	--block-color: #dcdcdc;
	--ground-color: #fff;

	--icon-color: #000;
	--link-color: #c52922;

	--heading-color: #000;
	--paragraph-color: #303030;
	--comment-color: #999999;
}

:root.dark {
	--line-color: #121212;
	--block-color: #2e3136;
	--ground-color: #22262b;

	--icon-color: #ffffff;
	--link-color: #c52922;

	--heading-color: #ffffff;
	--paragraph-color: #e7e7e7;
	--comment-color: #999999;
}

/* Base */
/* ------------------------------------------------------------------------------------------------------------------ */
html {
	block-size: 100%;
}

html,
body {
	background-color: var(--ground-color);
}

/* Font */
* {
	font-family: "霞鹜文楷";
	font-style: normal;
	font-weight: 400;
}

* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

/* Scrollbar */
html,
body {
	scrollbar-width: thin;
	scrollbar-color: #444 transparent;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: initial;
	inline-size: 8px;
	background-color: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background-color: #444;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}