/**
 * Variable
 * -----------------------------------------------------------------------------------------------------------------
 */
:root {
    /* Size */
    --icon-size: 18px;

    /* Animation */
    --transition-ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --transition-ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
    --transition-time: 500ms;

    /* Other */
    --border-radius: 4px;
}

:root.light {
    --line-color: #ebebeb;
    --block-color: #f2f3f3;
    --ground-color: #fff;
    --icon-color: #000;
    --link-color: #c52922;
    --heading-color: #000;
    --paragraph-color: #303030;
    --comment-color: #999;

    & jynxio-codeblock code.dark {
        display: none;
    }
}

:root.dark {
    --line-color: #121212;
    --block-color: #2e3136;
    --ground-color: #22262b;
    --icon-color: #fff;
    --link-color: #c52922;
    --heading-color: #fff;
    --paragraph-color: #e7e7e7;
    --comment-color: #999;

    & jynxio-codeblock code.light {
        display: none;
    }
}

/**
 * Base
 * -----------------------------------------------------------------------------------------------------------------
 */
html {
    block-size: 100%;
}

html,
body {
    background-color: var(--ground-color);
}

* {
    font-family:
        'LXGW WenKai',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
