* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    /* FIXME: 这能正常工作吗？ */
    min-block-size: 100%;
    /* height: 100%; */
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    /* Optional */
    -webkit-font-smoothing: antialiased;
    /* Optional */
    -moz-osx-font-smoothing: grayscale;
    /* Optional */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

#root {
    isolation: isolate;
}