/* 全局变量 */
/* ------------------------------------------------------------------------------------------------- */
:root {
    --black: #101419;
    --grey: #182635;
    --yellow: #ffe100;
    --purple: #5d72f6;
    --white: #f2f5f7;
}

:root {
    --article-width: 100vmin;
    --line-height: 1.5;       /* 大部分字符的行高 */
    --border-radius: 0.25rem; /* 块元素的圆滑值 */
}

/* 重置：仅设定使用到的元素。 */
/* ------------------------------------------------------------------------------------------------- */
html, body,
header, main, section,
h2, ol, li,
a, strong, button {
    max-width: 100%;
    color: var( --white );
    font-family: "IBM Plex Sans";
    line-height: var( --line-height );
    overflow-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var( --black );
}

/* 滚动条 */
html {
    scrollbar-color: var( --grey ) transparent;
}

html::-webkit-scrollbar {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: var( --border-radius );
    background-color: var( --grey );
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var( --purple );
}

/* 标题 */
/* ------------------------------------------------------------------------------------------------- */
h2 {
    color: var( --yellow );
    font-size: 2rem;
    font-weight: bold;
}

/* 锚 */
/* ------------------------------------------------------------------------------------------------- */
a {
    color: var( --white );
    text-decoration-line: none;
    cursor: pointer;
}

/* 列表 */
/* ------------------------------------------------------------------------------------------------- */
ol {
    counter-reset: index;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

ol > li {
    position: relative;
    margin-left: 2rem;
}

ol > li::before {
    --height: calc( 1rem * var( --line-height ) );
    counter-increment: index;
    content: counters( index, "." ) ".";
    position: absolute;
    top: 0;
    left: 0;
    height: var( --height );
    margin-left: -0.5rem;
    color: var( --purple );
    font-weight: bold;
    line-height: var( --height );
    transform: translateX( -100% );
}

/* Header */
/* ------------------------------------------------------------------------------------------------- */
header {
    display: flow-root;
    border-bottom: 1px solid var( --grey );
}

header > button {
    float: right;
    padding: 0.5em 1em;
    margin: 1rem 2rem;
    border: none;
    border-radius: var( --border-radius );
    background-color: var( --purple );
    opacity: 0.5;
    transition: opacity 100ms ease-out;
    cursor: pointer;
}

header > button:hover,
header > button:active {
    opacity: 1;
}

header > button > a {
    font-size: 1.1rem;
    text-decoration: none;
}

header > button > a > strong {
    color: var( --grey );
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;
}

/* Main */
/* ------------------------------------------------------------------------------------------------- */
main {
    width: var( --article-width );
    padding: 6rem 1rem 3rem 1rem;
    margin: 0 auto;
}

/* Section */
/* ------------------------------------------------------------------------------------------------- */
section {
    margin-bottom: 3rem;
}

section > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}
