/* English */
@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "IBM Plex Sans" ),
        url( "/static/font/subset-en-400.ttf" ) format( "truetype" );
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "IBM Plex Sans" ),
        url( "/static/font/subset-en-700.ttf" ) format( "truetype" );
}

/* Chinese */
@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Noto Sans SC" ),
        url( "/static/font/subset-zh-400.woff" ) format( "woff" );
}

@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local( "Noto Sans SC" ),
        url( "/static/font/subset-zh-700.woff" ) format( "woff" );
}

/* Code */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local( "Fira Code" ),
        url( "/static/font/subset-co-400.ttf" ) format( "truetype" );
}
